<%
  restricted = !activity.can_display_all_data?(current_user)
  title = restricted ? activity.restricted_title(current_user) : activity.title(current_user)
%>

<li>
  <h3 class="govuk-heading-s"><%= title %></h3>

  <p class="govuk-body-s opss-secondary-text"><%= activity.subtitle(current_user) %></p>

  <% if restricted %>
    <%= render "restricted", activity: activity %>

    <%
      if activity.has_attachment?
        attachments_string = pluralize(activity.attachments.count, 'attachment')
    %>
      <p><%= "The #{activity.activity_type} has #{attachments_string}." %></p>
    <% end %>

  <% else %>
    <% if activity.metadata %>
      <%= render "investigations/activities/#{activity.template_name}", activity: activity %>
    <% else  %>
      <% if activity.body %>
        <%= markdown simple_format(activity.body) %>
      <% end %>

      <% if activity.business_id %>
        <%= link_to "View business details", business_url(activity.business_id), class: "govuk-link psd-block-link govuk-link--no-visited-state" %>
      <% end %>

      <% if activity.is_a?(AuditActivity::Test::Result) %>

        <% if activity.investigation_product %>
          Product: <%= activity.investigation_product.name %><br>
        <% end %>

        <% if activity.test_result %>
          <%= link_with_hidden_text_to "View test result", " from #{activity.test_result.date.to_formatted_s(:govuk)}", investigation_test_result_path(@investigation, activity.test_result.id) %>
        <% end %>
      <% elsif activity.is_a?(AuditActivity::Correspondence::AddEmail) && activity.correspondence %>
        <%=  link_to "View email", investigation_email_path(@investigation, activity.correspondence), class: "govuk-link govuk-link--no-visited-state" %>

      <% elsif activity.is_a?(AuditActivity::Correspondence::AddPhoneCall) %>
        <%=  link_to "View phone call", investigation_phone_call_path(@investigation, activity.correspondence), class: "govuk-link govuk-link--no-visited-state" %>

      <% elsif activity.is_a?(AuditActivity::Correspondence::AddMeeting) %>
        <%=  link_to "View meeting", investigation_meeting_path(@investigation, activity.correspondence), class: "govuk-link govuk-link--no-visited-state" %>

      <% elsif activity.has_attachment? %>
        <% activity.attachments.each do |name, attachment| %>
          <%= link_to "View #{name} (opens in new tab)", attachment, class: "psd-block-link govuk-link--no-visited-state", target: "_blank", rel: "noreferrer noopener" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</li>
