<%= page_title("Add or remove supporting images") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @image_upload,
                  local: true,
                  url: notification_add_supporting_images_path(@notification),
                  method: :post,
                  multipart: true,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Evidence</span>
        Add or remove supporting images
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          You can upload supporting images to show:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The product</li>
          <li>The product packaging</li>
          <li>The product markings</li>
          <li>The product's defect</li>
        </ul>
      </div>

      <p class="govuk-body">To provide visual evidence of the product harm or incident/accident, you can upload either a single image or multiple images to the notification.</p>

      <%= f.hidden_field :file_upload, value: "" %>
      <p class="govuk-body">Acceptable file formats: GIF, JPEG, PNG, WEBP or HEIC/HEIF. Maximum file size: 100MB.</p>
      <%= f.govuk_file_field :file_upload, label: nil %>
      <%= f.govuk_submit "Upload image", secondary: true %>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <% if @notification.image_uploads.any? %>
        <h2 class="govuk-heading-m">Uploaded images</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">File name</th>
              <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @notification.image_uploads.each do |image| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= image.file_upload.filename %></td>
                <td class="govuk-table__cell">
                  <%= link_to "Remove",
                      remove_upload_notification_add_supporting_images_path(@notification, image),
                      method: :delete,
                      class: "govuk-link govuk-link--no-visited-state" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <%= f.govuk_submit "Finish uploading images", name: "final", value: "true" %>
    <% end %>
  </div>
</div>
