<% page_heading = "How to use the Product Safety Database" %>
<% page_title page_heading %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <p class="govuk-body-m govuk-!-margin-bottom-7">
     This guidance has been created for all users of the Product Safety Database (PSD). Sections 3 and 4 apply to local enforcement authorities responsible for consumer product safety, including local authority Trading Standards and Northern Ireland Environmental Health.
    </p>

    <nav role="navigation">
      <h2 class="govuk-body govuk-!-margin-bottom-3">Contents</h2>
      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-7">
        <li>
          <a class="govuk-link" href="#introduction">An introduction to the PSD</a>
        </li>
        <li>
          <a class="govuk-link" href="#when-to-use-the-psd">When to use the PSD</a>
        </li>
        <li>
          <a class="govuk-link" href="#when-las-should-notify-opss">When local authorities should notify OPSS</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-opss-uses-info-from-las">How OPSS uses information provided by local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#organisations-with-access-to-the-psd">Organisations with access to the PSD</a>
        </li>
        <li>
          <a class="govuk-link" href="#viewing-cases">Viewing and restricting cases</a>
        </li>
        <li>
          <a class="govuk-link" href="#collaborating-on-cases">Collaborating with other market surveillance authorities and teams</a>
        </li>
        <li>
          <a class="govuk-link" href="#managing-your-team-and-account">Managing your team and account</a>
        </li>
        <li>
          <a class="govuk-link" href="#more-support">More support</a>
        </li>
      </ol>
    </nav>

    <h2 class="govuk-heading-m" id="introduction">
      1. An introduction to the PSD
    </h2>

    <p>
      The Product Safety Database enables market surveillance authorities to report and share information relating to unsafe and noncompliant products by creating ‘cases’. It replaces the EU databases RAPEX and ICSMS in the UK. The PSD was rolled out to all local authorities in November 2019.
    </p>

    <p>
      The PSD is not an intelligence database; current procedures for the recording and dissemination of intelligence are not impacted by this guidance and continue to be in line with legislative and national guidelines.
    </p>

    <h2 class="govuk-heading-m" id="when-to-use-the-psd">
      2. When to use the PSD
    </h2>

    <p>
      You can use the PSD to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        notify products posing a risk to the health and safety of consumers and/or products which are noncompliant by creating 'cases'
      </li>
      <li>
        assign cases to, and receive referrals from, other local authorities or organisations and track the case’s progress
      </li>
      <li>
        search for products or businesses already notified on the system
      </li>
    </ul>

    <p>
      As more evidence is gathered (such as test results, risk assessments and/or additional measures) it can be added to existing cases.
    </p>

    <p>
      All users should share information at an early stage so that it’s possible to see when other market surveillance authorities have:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        raised concerns about a product or business and/or
      </li>
      <li>
        tested a product and shared the results
      </li>
     </ul>


    <h2 class="govuk-heading-m" id="when-las-should-notify-opss">
      3. When local authorities should notify OPSS
    </h2>

    <p>
      You must use the PSD to notify OPSS when you:
    </p>

     <ul class="govuk-list govuk-list--bullet">
      <li>
        find a product on the market which presents a risk to the health and safety of consumers
      </li>
      <li>
        receive a notification from an economic operator indicating that they’ve taken action against an unsafe or noncompliant product they’ve placed on the market
      </li>
       <li>
        take action to restrict the availability of a product on the market due to its noncompliance with product safety legislation
      </li>
     </ul>

    <p>
      For further information on circumstances in which you should report on the PSD, please view the following guidance: <%= link_to "https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products-and-cosmetics", "https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products-and-cosmetics", class: "govuk-link" %>
    </p>


    <h3 class="govuk-heading-s">
      Information you should provide when notifying OPSS
    </h3>

    <p>
      Notifications should provide all available details, and for products found to pose a serious risk, at least the following information. This will ensure that the notification is of greatest benefit to other market surveillance authorities and to protect consumers.
    </p>

     <ul class="govuk-list govuk-list--bullet">
      <li>
        information enabling the product to be identified, including images of the product and any labelling and packaging. This may include product names, model numbers, batch codes and whether the product is counterfeit
      </li>
      <li>
        a description of the risk involved, including a summary of the results or any test or analysis and of their conclusions which are relevant to assessing the level of risk, including a risk assessment where appropriate
      </li>
      <li>
        the nature and duration of the measures or action taken or decided on, including any links to recalls or safety notices
      </li>
      <li>
        information on supply chains and distribution of the product, such as name and address of manufacturers, importers and/or distributors
      </li>
     </ul>

    <p>
      If you have them, you may also add information and attachments relating to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        test results
      </li>
      <li>
        compliance documentation
      </li>
    </ul>

    <p>
      You must only add personal data and other information on the database that is required by law (for example by regulation 33 of the General Product Safety Regulation 2005) or is necessary for the performance of your function as a market surveillance authority.
    </p>


    <h3 class="govuk-heading-s">
      How to assess risk
    </h3>

    <p>
      Typically, UK market surveillance authorities that regulate consumer product safety will continue to use the RAPEX risk assessment methodology to conduct the assessment of the risk posed by an unsafe product.
      The <%= link_to "risk assessment guidelines tool", "https://ec.europa.eu/rag/#/screen/home", class: "govuk-link" %> includes a number of standard templates and supporting guidance that can assist risk assessors throughout the process of devising an appropriate risk assessment, including how to calculate probability scores.
      Guidance on using the current risk assessment guidelines tool can be found <%= link_to "here", "https://eur-lex.europa.eu/eli/dec/2019/417", class: "govuk-link" %>.
    </p>


    <h3 class="govuk-heading-s">
      How to notify OPSS
    </h3>

    <p>
      You can add a case to the Product Safety Database to notify an unsafe and/or noncompliant product to the Secretary of State. You should only notify one product per case.
    </p>

    <p>
      If the product poses a <strong>less than serious risk</strong> and has not been recalled, you should close the case once the measures taken are completed, add OPSS Incident Management to the case to ensure access to all relevant information for reporting purposes and there is no further activity anticipated.
    </p>

    <p>
      If the product has been <strong>recalled</strong>, you should add the OPSS Incident Management Team to the case which will ensure the recall can be added to the Government Recall Site and the OECD Global Recall Portal.
    </p>

    <p>
      If the product poses a <strong>serious risk</strong> to the health and safety of consumers as determined by a risk assessment, you should add the OPSS Incident Management Team (IMT) to the case or make them the case owner.  OPSS IMT will then validate (for consumer products), publish the notifications on the Gov.uk unsafe products page (for all products where agreed with MSAs), and undertake any further required reporting as part of agreements with other countries. The Gov.uk unsafe products page can be found at the following link: <%= link_to "https://www.gov.uk/guidance/product-safety-database-unsafe-products", "https://www.gov.uk/guidance/product-safety-database-unsafe-products", class: "govuk-link" %>
    </p>

    <p>
      Risk assessments are not required where the product poses a chemical risk; the notification is submitted in circumstances where there is well-documented evidence that certain features of certain products consistently lead to a specified risk and risk level; or the notification is for a cosmetic product containing a banned or restricted substance. However, the risk level should be identified on each case.
    </p>

    <p>
      Further information on notifying product safety risks and/or noncompliance can be found at the following link: <%= link_to "https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products-and-cosmetics", "https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products-and-cosmetics", class: "govuk-link" %>
    </p>

    <h2 class="govuk-heading-m" id="how-opss-uses-info-from-las">
      4. How OPSS uses information provided by local authorities
    </h2>

    <p>
      Notifications for products found to pose a serious risk to the health and safety of consumers go through additional processes. Since 1 January 2021, OPSS undertake the validation and publication of serious risk notifications which was previously undertaken by the European Commission when the UK was a member of the EU and throughout the Transition Period. This validation will consist of quality assurance of information and data provided, ensuring public-facing fields are completed comprehensively and effectively. The validation will also include a review of the risk model and the supporting information, intended to ensure risk is being considered and applied consistently by different market surveillance authorities. This process may also include a consideration of whether the product safety issues identified may be national, novel or contentious, as outlined in the OPSS Incident Management Plan (https://www.gov.uk/government/publications/incident-management-plan).
    </p>

    <p>
      OPSS also uses information added to the PSD to undertake required information exchanges under the EU-UK Withdrawal Agreement and any trade agreements with other countries. OPSS will report information provided on the PSD in respect of Northern Ireland to report to the European Commission, as required by the Northern Ireland Protocol.
    </p>

    <p>
      OPSS may also monitor the PSD for recalls and add them to the UK Government Recall Site and the OECD Global Recall Portal. You can also request addition by adding OPSS Incident Management to the case.
    </p>

    <p>
      OPSS may also use information on the PSD for monitoring and identification of emerging trends and issues.
    </p>



    <h2 class="govuk-heading-m" id="organisations-with-access-to-the-psd">
      5. Organisations with access to the PSD
    </h2>

    <p>
      Only authorised users can view case details in the database. People from the following organisations have access to the PSD:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Office for Product Safety and Standards (OPSS)
      </li>
      <li>
        Local authority Trading Standards in England, Scotland and Wales
      </li>
      <li>
        Environment Health Northern Ireland
      </li>
      <li>
        Health and Safety Executive (HSE)
      </li>
      <li>
        Health and Safety Executive Northern Ireland (HSENI)
      </li>
      <li>
        Medicine and Healthcare products Regulatory Agency (MHRA)
      </li>
      <li>
        Marine and Coastguard Agency (MCGA)
      </li>
      <li>
        Driver and Vehicle Standards Agency (DVSA)
      </li>
      <li>
        Ofcom
      </li>
    </ul>



    <h2 class="govuk-heading-m" id="viewing-cases">
      6. Viewing and restricting cases
    </h2>

    <p>
      Most cases can be viewed by all users of the Product Safety Database - this enables information sharing and collaboration.
    </p>

    <p>
      Teams are encouraged to browse products and cases that may relate to ongoing investigations and to collaborate with other authorities as appropriate before submitting cases.
    </p>

    <h3 class="govuk-heading-s">
      Protecting sensitive case details
    </h3>

    <p>
      Where appropriate, the PSD protects information that should not be viewable by all users. Items likely to contain sensitive information can only be viewed by teams added to a case. Teams not involved in a case will be able to see that those items exist but will not be able to view them.
    </p>

    <p>
      Items that can only be seen by teams added to a case:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>correspondence and their attachments</li>
      <li>enquiry source contact details</li>
      <li>‘generic attachments’ - attachments that are not connected to another document like a test result or corrective action</li>
    </ul>

    <p>
      If further case details need to be protected, the case should be restricted so that it cannot be viewed by teams not added to a case.
    </p>


    <h3 class="govuk-heading-s">
      Restricting access to cases
    </h3>

    <p>
      The information shared in the PSD can only be seen by registered users from market surveillance authorities and OPSS. Case owners can ‘restrict’ cases which means that only teams that are added to a case can view it.
    </p>

    <p>
      The aim of the PSD is to share information within the product safety community to save time, effort, and money. Therefore, cases should only be restricted in exceptional circumstances, for example, if visibility may impinge upon a legal proceeding.
    </p>

    <p>
      When you restrict a case, you’ll be asked to give a reason for the change. This reason helps others know why the restriction has happened. It will also be visible to teams that are not involved in the case.
    </p>

    <p>
      Teams added to the case will be able to see all case details. If the case owner removes a team from a case, that team will no longer be able to view it.
    </p>

    <p>
      Products and businesses attached to restricted cases will remain visible to all users.
    </p>

    <p>
      You can restrict a case from the 'Sharing and collaboration' section of the case overview.
    </p>

    <h3 class="govuk-heading-s">
      Administrator access
    </h3>

    <p>
      Some staff at OPSS have administrator access to the PSD.
    </p>

    <p>
      This allows them to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        view and edit all case details, including cases they are not involved in
      </li>
      <li>
        view all restricted cases
      </li>
      <li>
        export details of cases added to the PSD
      </li>
    </ul>

    <p>
      This level of access is provided to a small number of people to ensure that OPSS can view all product safety information on the PSD. This ensures that, as an evidence-based regulator, strategic intelligence assessments and market surveillance activity is as robust and targeted as possible.
    </p>

    <h2 class="govuk-heading-m" id="collaborating-on-cases">
      7. Collaborating with other market surveillance authorities and teams
    </h2>

    <h3 class="govuk-heading-s">Case owners</h3>

    <p>
      All cases have a ‘case owner’ - the person or team responsible for the case. The case owner may collaborate on a case with other teams or assign the case to another team as needed.
    </p>

    <p>
      Where the case owner is a person, their team also owns the case - anyone in their team has full rights over the case.
    </p>

    <p>
      Only case owners can change:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the case owner to someone else</li>
      <li>the case status (open or closed)</li>
      <li>the case restriction status</li>
      <li>the teams added to the case</li>
    </ul>

    <p>
      When a case is first created, the person who created it becomes the case owner.
    </p>

    <h3 class="govuk-heading-s">
      Teams added to a case
    </h3>

     <p>
      Teams can be added to a case with 'view' or 'edit' permissions. Teams added with edit permissions will be able to make changes to the case and will be able to view protected details, like correspondence. Teams added with view only permissions will be able to view protected details but will not be able to make changes to the case.
    </p>

    <p>
      You should add a team to a case if you want them to be able to view the full case or add further details. If a team no longer needs access to the case, you can remove them.
    </p>


    <h3 class="govuk-heading-s">
      Changing the case owner
    </h3>

    <p>
      Only the current case owner can assign a new owner.
    </p>

    <p>
      To change the case owner to another authority or team, navigate to the ‘Sharing and collaboration’ section of the case overview. The new case owner will be notified that they’ve been made the case owner via email. You can also include a message that will be sent to them - so you can let them know why you’re assigning them the case.
    </p>

    <p>
      When the case owner changes, the previous case owner’s team remains added to the case.
    </p>

    <h2 class="govuk-heading-m" id="managing-your-team-and-account">
      8. Managing your team and account
    </h2>

    <h3 class="govuk-heading-s">
      Giving your team access to the PSD
    </h3>

    <p>
      Officers who lead on product safety from each market surveillance authority have been given a PSD account and made a ‘team administrator’. Once they’ve set up their own account, they can invite other colleagues – from their organisation only – to create an account too. They can do this by going to the ‘Your team’ part of the service, adding their colleague’s email address and choosing ‘Invite’.
    </p>

    <h3 class="govuk-heading-s">
      Administrators can add another administrator
    </h3>

    <p>
      If there’s someone in the team whose responsibilities make them better placed to be an administrator – for example, they will regularly lead work connected with the PSD – invite them to create an account. You can then email <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> and ask for them to be made a team admin.
    </p>

    <h3 class="govuk-heading-s">
      Updating your account details
    </h3>

    <p>
      You can update your name yourself by going to the ‘Your account’ part of the service.
    </p>

    <p>
      To update your password, sign out of the service and use the ‘Forgot your password’ link when signing in.
    </p>

    <p>
      You can update your contact details, your team or organisation’s details, or delete your account by emailing <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> to:
    </p>



    <h2 class="govuk-heading-m" id="more-support">
      9. More support
    </h2>

    <p>
      Email <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> if you’d like support not covered by this guidance.
    </p>

    <p>
      We’ll be analysing the problems and questions sent to us so we can see where we can improve the PSD and where more guidance would be helpful on this page too.
    </p>

    <p>
      The Product Safety Database isn’t ‘finished’. We’re listening to feedback so we can continuously improve it and meet our users’ needs better.
    </p>

    <p>
      The PSD has been developed by OPSS with Trading Standards and MSAs across the country.
    </p>
  </div>
</div>

<p class="govuk-body govuk-hint govuk-!-margin-bottom-6">
  Last updated 11 January 2021
</p>
