<% page_title "How to use the Product Safety Database" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">How to use the <abbr>PSD</abbr></h1>
  <p class="govuk-body govuk-!-margin-bottom-6">
    An introduction to using the Product Safety Database (<abbr>PSD</abbr>) online digital service.
  </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <div class="govuk-!-margin-bottom-8 govuk-!-padding-top-5 govuk-!-padding-right-4 govuk-!-padding-bottom-1 govuk-!-padding-left-5 opss-blue-border-all">
    <h2 class="govuk-heading-s">
      In early 2023 - How notifications work and are created was changed
    </h2>
    <p class="govuk-body">
      Previously, when a notification was created, basic information describing a product was automatically required and formed part of the <abbr>PSD</abbr> notification. Instead, notifications now include - or link to - product records. It is the product record which now records the basic information about the product.
    </p>
    <div class="govuk-inset-text">
      <p class="govuk-body">
        A notification and a product are now two separate <br>entities within the <abbr>PSD</abbr>.
      </p>
    </div>
    <p class="govuk-body">
      Notifications record information about supply chains, evidence, and corrective actions. A product record describes the product and is included within a notification.
    </p>
    <p class="govuk-body">
      The same product record can now be included within many different notifications.
    </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-two-thirds">
  <nav aria-label="Jump to content in this page">
    <h2 class="govuk-heading-m">Contents</h2>
    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="#content-01" class="govuk-link govuk-link--no-visited-state">Overview</a>
      </li>
      <li>
        <a href="#content-02" class="govuk-link govuk-link--no-visited-state">Create a notification</a>
      </li>
      <li>
        <a href="#content-03" class="govuk-link govuk-link--no-visited-state">Find a notification</a>
      </li>
      <li>
        <a href="#content-04" class="govuk-link govuk-link--no-visited-state">Viewing notification information</a>
      </li>
      <li>
        <a href="#content-05" class="govuk-link govuk-link--no-visited-state">Edit, add to, or close a notification</a>
      </li>
      <li>
        <a href="#content-06" class="govuk-link govuk-link--no-visited-state">Add the <abbr>OPSS</abbr> Incident Management Team to a notification</a>
      </li>
      <li>
        <a href="#content-07" class="govuk-link govuk-link--no-visited-state">Create a product record</a>
      </li>
      <li>
        <a href="#content-08" class="govuk-link govuk-link--no-visited-state">Find a product record</a>
      </li>
      <li>
        <a href="#content-09" class="govuk-link govuk-link--no-visited-state">Viewing product record information</a>
      </li>
      <li>
        <a href="#content-10" class="govuk-link govuk-link--no-visited-state">Edit a product record</a>
      </li>
    </ol>
  </nav>
  <h3 class="govuk-heading-m" id="content-01">Overview</h3>
  <p class="govuk-body">
    The two main areas within the <abbr>PSD</abbr> online service are the <strong>notifications area</strong> and the <strong>products area</strong>. These are accessed using the main navigation menu (towards the top<span class="govuk-visually-hidden">/start</span> of each page).
  </p>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/top_nav_links.png" %>" class="opss-border-all opss-desktop-img-s" alt="What the main navigation menu looks like">
    <figcaption class="govuk-body govuk-body-s">The notifications area and products area are accessed using the main navigation menu</figcaption>
  </figure>
  <p class="govuk-body">
    In the <strong>notifications area</strong> you can find notifications you or your team have created or search the entire database of notifications. A notification is what ultimately reports unsafe, noncompliant and serious risk products to the <abbr title="Office for Product Safety and Standards">OPSS</abbr> and includes relevant information such as importer contact details, product batch numbers, test reports and corrective actions.
  </p>
  <p class="govuk-body">
    When a notification is created, information and assets (such as accidents or incidents, reports and evidence images) can then be added directly to the notification. But the basic information describing a product is added to a notification by including a product record. A product record is what contains the basic information about the product.
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      The basic information about a product is added to a notification by including a product record. In the <abbr>PSD</abbr> a notification and a product record are two seperate entities.
    </p>
  </div>
  <figure>
    <img loading="lazy" src="<%= image_path "help/about/one_to_many.gif" %>" class="opss-desktop-img-m" alt="Diagram showing the product record and notifications relationship">
    <figcaption class="govuk-body govuk-body-s">A product record can be included within many notifications</figcaption>
  </figure>
  <p class="govuk-body">
    In the <strong>products area</strong> you can find the product records which are included in your notifications or search the entire database of product records. A product record only contains information about a product (such as its brand name, barcode, and its categorisation) and does not include notification information. A product record can be reused within many notifications and in notifications created by any team.
  </p>
  <p class="govuk-body">
    Your <abbr>PSD</abbr> account will assign you to a team. You can find information about your team in the 'Your team' page accessed via the main navigation menu.
  </p>
  <h3 class="govuk-heading-m" id="content-02">2. Create a notification</h3>
  <p class="govuk-body">
    The process of creating a notification starts from a product record. A notification needs to include at least one product record. This is made easy by first searching for a product within the products area.
  </p>
  <div class="govuk-inset-text">
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>In the products area, search for a product using the <br>'All products - Search' option<a href="#findproduct" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"><sup class="govuk-!-font-size-16">*</sup></a></li>
      <li>Open a product record to view it</li>
      <li>Select the 'Create a new notification for this product' option</li>
      <li>Complete the form journey process</li>
    </ol>
  </div>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/create_a_product_notification_link.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the 'Create a product notification' hyperlink looks like">
    <figcaption class="govuk-body govuk-body-s">The 'Create a product notification' option is on a product record page</figcaption>
  </figure>
  <p class="govuk-body">
    <sup id="findproduct" class="govuk-!-font-size-16">*</sup>If a product record describing the product does not already exist, you can create a new product record for the product.
  </p>
  <p class="govuk-body">
    When you have finished the process of creating a notification, the product record will automatically be included within the new notification. The new notification can be found in the notifications area, where you can <strong>continue adding further information and assets to the notification</strong>.
  </p>
  <p class="govuk-body">
    When you create a notification, you and your team are the notification owners.
  </p>
  <p class="govuk-body">
    Once your notification has been created you can add more product records to the same notification. One example for why you might do this could involve a scenario where a manufacturer has created two or more versions of the <em>same</em>&nbsp; product using different names and barcodes. These products would be represented by different product records, but you could add them all to the same notification.
  </p>
  <h3 class="govuk-heading-m" id="content-03">3. Find a notification</h3>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      In the notifications area, the secondary navigation menu provides three ways to find a notification:
    </p>
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>'Your notifications' lists all your open notifications</li>
      <li>'Team notifications' lists all your team's open notifications</li>
      <li>'All notifications - Search' is where you can search all notifications in the <abbr>PSD</abbr></li>
    </ol>
  </div>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/search_for_notifications.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the notifications area left navigation looks like">
    <figcaption class="govuk-body govuk-body-s">Find notifications by using the left navigation menu in the notifications area</figcaption>
  </figure>
  <p class="govuk-body">
    You can apply filters to search results to reduce how many product records are found in a search.
  </p>
  <p class="govuk-body">
    Select a notification name in any list to open the main notification page for the notification.
  </p>
  <h3 class="govuk-heading-m" id="content-04">4. Viewing notification information</h3>
  <p class="govuk-body">
    When you view a notification the secondary navigation menu presents the notification information in logical groups and across different pages.
  </p>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/notification_left_nav.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the individual notification left navigation looks like">
    <figcaption class="govuk-body govuk-body-s">Find information about an individual notification using the notification page left navigation menu</figcaption>
  </figure>
  <p class="govuk-body">
    The secondary notification navigation menu provides access to all the information that forms one notification. These include, the main notification information, products, businesses, notification images and all the supporting information for the notification (such as risk assessments and corrective actions).
  </p>
  <p class="govuk-body">
    On the products page for an individual notification, you can find basic information about the product(s) included in the notification, and see which notifications within the <abbr>PSD</abbr> have also included the product record. To view all the notifications relating to the same product record, select the 'Notifications' tab (in the body of the notification products page).
  </p>
  <h3 class="govuk-heading-m" id="content-05">5. Edit, add to, or close a notification</h3>
  <p class="govuk-body">
    If your team owns the notification, or has been granted editing permission, the notification pages provide 'edit', 'add', 'remove' or 'change' options throughout all the pages relating to the notification.
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      You cannot edit or close a notification if you do not have editing permission for the notification.
    </p>
  </div>
  <p class="govuk-body">
    On the main notification page for an individual notification, the team which owns the notification can add other teams to the notification and grant them editing permission. (Select 'Change' in the 'Teams added' row).
  </p>
  <p class="govuk-body">
    The main notification page for an individual notification also incorporates a convenient panel of options for adding information and assets to the notification.
  </p>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/notification_actions.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the panel of options for adding information looks like">
    <figcaption class="govuk-body govuk-body-s">Add information and assets to the notification by using these options</figcaption>
  </figure>
  <p class="govuk-body">
    If your team owns the notification, or you have editing permission, you can <span class="govuk-!-font-weight-bold opss-no-wrap">close a notification</span> by selecting the 'Close notification' option on the main notification page for an individual notification. It is good practise to <strong>close your <abbr>PSD</abbr> notification</strong> when you are satisfied you no longer need to add or change any information.
  </p>
  <h3 class="govuk-heading-m" id="content-06">6. Add the <abbr>OPSS</abbr> Incident Management Team to a notification</h3>
  <p class="govuk-body">
    When you have finished adding information and assets to a notification, you should add the <abbr>OPSS</abbr> Incident Management Team (<abbr>IMT</abbr>) to the notification, if:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the product poses a <strong>high</strong> or <strong>serious</strong> risk</li>
    <li>the product has been <strong>recalled</strong></li>
    <li>you need to notify overseas regulators</li>
  </ul>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      To add the Incident Management Team (<abbr>IMT</abbr>) to your notification:
    </p>
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>Find the notification</li>
      <li>Open the notification to view the main notification page</li>
      <li>In the 'Sharing and collaboration' section, select the 'Change' option in the 'Teams added to notification' row</li>
      <li>On the 'Teams added to the notification' page, select 'Add a team to the notification'</li>
      <li>On the 'Add a team to the notification' page, search for and select <br>"<abbr>OPSS</abbr> Incident Management"</li>
      <li>Complete the form</li>
    </ol>
  </div>
  <p class="govuk-body">
    It is good practise to <strong>close your <abbr>PSD</abbr> notification</strong> when you are satisfied you no longer need to add or change any information.
  </p>
  <h3 class="govuk-heading-m" id="content-07">7. Create a product record</h3>
  <p class="govuk-body">
    A product record is what records the basic information about a product, such as its brand name, its model name, and its barcode. At least one product record should be included within a notification (to represent the product). The same product record can be reused and included within many different notifications.
  </p>
  <p class="govuk-body">
    Creating a product record is <strong>not the same</strong> as creating a notification.
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      Before you create a new product record you should first check that a product record representing the product does not already exist within the Product Safety Database (<abbr>PSD</abbr>). You should avoid creating duplicates.
    </p>
  </div>
  <p class="govuk-body">
    A counterfeit product and the real product should be represented by two different product records.
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      To create a product record:
    </p>
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>In the products area, select the 'Create a new product record' option on the 'Your products', 'Team products' or 'All products - Search' page</li>
      <li>Complete the form journey process</li>
    </ol>
  </div>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/create_a_product.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the create a product record option looks like">
    <figcaption class="govuk-body govuk-body-s">The 'Create a product record' option is on all the product record search pages</figcaption>
  </figure>
  <p class="govuk-body">
    When you have finished the process of creating a product record, it can be found by using the 'All products - Search' page. When it is included in one of your own notifications or one of your team's notifications, it will also appear in the 'Your products' or 'Team products' pages.
  </p>
  <p class="govuk-body">
    When you create a product record, your team has exclusive editing permission - and owns the product record - until your team closes all notifications which have included the product record.
  </p>
  <p class="govuk-body">
    When you close a notification, a <strong>unique copy</strong> of each product record included in the notification is automatically created and permanently replaces the original versions for that individual notification. This ensures the original product information in a notification is protected after a notification is closed.
  </p>
  <h3 class="govuk-heading-m" id="content-08">8. Find a product record</h3>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      In the products area, the secondary navigation menu provides three ways to find a product record:
    </p>
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>'Your products' lists all the product records included in your open notifications</li>
      <li>'Team products' lists all the product records included in your team's open notifications</li>
      <li>'All notifications - Search' is where you can search all product records currently available in the <abbr>PSD</abbr></li>
    </ol>
  </div>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/search_for_products.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the products area left navigation looks like">
    <figcaption class="govuk-body govuk-body-s">Find product records by using the left navigation menu in the products area</figcaption>
  </figure>
  <p class="govuk-body">
    You can also search for notifications by using the product record details using the 'All notifications - Search' page in the notifications area. This can return all the notifications which include, or have included, the product record; even if the original product record is no longer available.
  </p>
  <h3 class="govuk-heading-m" id="content-09">9. Viewing product record information</h3>
  <p class="govuk-body">
    When you view a product record the secondary navigation menu presents the product information in logical groups.
  </p>
  <figure class="opss-keep-for-desktop">
    <img loading="lazy" src="<%= image_path "help/about/product_left_nav.png" %>" class="opss-border-all opss-desktop-img-m" alt="What the individual product record left navigation looks like">
    <figcaption class="govuk-body govuk-body-s">Find information about a product record using the product page left navigation menu
    </figcaption>
  </figure>
  <p class="govuk-body">
    The images added to a product record are images of the product and its packaging and are not notification evidence images (which are added to notifications).
  </p>
  <p class="govuk-body">
    The notifications section of a product record lists all the notifications which have included the product record.
  </p>
  <p class="govuk-body">
    Which team currently owns and has editing permission for the product record is also displayed. Any team can still include the product record within their own notification.
  </p>
  <h3 class="govuk-heading-m" id="content-10">10. Edit a product record</h3>
  <p class="govuk-body">
    Only one team has editing permission for a product record at any one time. This is to avoid conflicting edits which may compromise the product record.
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      If you have editing permission, either:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>In the <strong>products area</strong>, select the 'Edit this product record' option on a product record page</li>
      <li>In the <strong>notifications area</strong>, select the 'Edit this product' option (associated with the product) on the products page of an individual notification</li>
    </ul>
    <p>
      Then make edits and changes in the form provided (and save your changes).
    </p>
  </div>
  <p class="govuk-body">
    Some information in a product record - such as the product name - is permanent. This is to avoid product records changing beyond recognition and compromising any notifications which include it. If the changes you require are significantly different then this may necessitate creating a new product record. (You should avoid editing a product record in order for it to represent a different product).
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      You can also add and remove product records from your notifications.
    </p>
  </div>
  <p class="govuk-body">
    If you have additional information about a product or more product images, you can source the contact details for the team which currently owns the product record from a product record page.
  </p>
  </article>
  <aside class="govuk-grid-column-one-third">
    <hr class="govuk-section-break-m">
    <h2 class="govuk-heading-s">
      <span class="govuk-!-font-weight-regular">Guidance</span> <br>
      Notification of unsafe and noncompliant products
    </h2>
    <p class="govuk-body-s">
      For guidance and information on how market surveillance authorities should notify products, which pose a risk to the health and safety of consumers and / or are noncompliant, visit:
    </p>
    <p class="govuk-body-s">
      <a href="https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Notification of unsafe and noncompliant products (opens in a new tab)</a>
    </p>
    <img loading="lazy" src="<%= image_path "help/about/guideance-document-icon.png" %>" class="opss-border-all" alt="Guideance document icon">

    <hr class="govuk-section-break-m">
    <h2 class="govuk-heading-s">When to use the <abbr>PSD</abbr></h2>
    <p class="govuk-body-s">You can use the <abbr>PSD</abbr> to:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-body-s">
      <li>
        notify products posing a risk to the health and safety of consumers and/or products which are noncompliant by creating <abbr>PSD</abbr> notifications
      </li>
      <li>
        assign notifications to, and receive referrals from, Local Authorities or organisations and track the notification progress
      </li>
      <li>
        search for products or businesses already notified in the <abbr>PSD</abbr>
      </li>
      <li>
        search for products and view all the notifications which have been created about the product
      </li>
      <li>
        take corrective action to restrict the availability of a product on the market
      </li>
      <li>
        add more evidence to notifications as it is gathered
      </li>
    </ul>
    <p class="govuk-body-s">
      You should add the <abbr>OPSS</abbr> Incident Management Team (<abbr>IMT</abbr>) to a notification if the product is a high or serious risk, or the product has been recalled.
    </p>
  </aside>
</div>
