<% page_heading = "Edit risk assessment" %>
<%= page_title page_heading, errors: @risk_assessment_form.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @risk_assessment_form, url: investigation_risk_assessment_path(@investigation.pretty_id, @risk_assessment), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
      <%= form.govuk_error_summary(presenter: ErrorSummaryPresenter)  %>
      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
      <h1 class="govuk-heading-l"><%= page_heading %></h1>
      <%= render "form_fields", form: form, risk_assessment_form: @risk_assessment_form, investigation: @investigation %>
      <%= form.govuk_submit "Update risk assessment" %>
    <% end %>
  </div>
</div>