<% page_heading = "Attach existing risk assessment" %>
<%= page_title page_heading, errors: @risk_assessment_form.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @risk_assessment_form, url: investigation_risk_assessments_path, method: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
      <%= form.govuk_error_summary(presenter: ErrorSummaryUpperCasePresenter)  %>
      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
      <h1 class="govuk-heading-l"><%= page_heading %></h1>
      <%= render "form_fields", risk_assessment_form: @risk_assessment_form, investigation: @investigation, page_heading: page_heading, form: form %>
      <%= form.govuk_submit "Attach risk assessment" %>
    <% end %>
  </div>
</div>
