<p class="govuk-body">
  <% if keywords.blank? && filters.empty? %>
    There <%= count == 1 ? "is" : "are" %> currently <%= pluralize count, "business" %>.
  <% else %>
    <%= pluralize count, "business" %>
    <% if keywords.present? %>
      matching keyword(s) <span class="govuk-!-font-weight-bold"> <%= sanitize keywords %></span>,
    <% end %>
    <%= " and" if keywords.present? && !filters.empty? %>
    <%= "matching selected filters " unless filters.empty? %>
    <%= count == 1 ? "was" : "were" %> found.
  <% end %>
</p>
