<%= page_title "Edit business", errors: @business.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @business.trading_name %></h1>
  </div>
</div>

<%= form_for @business, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form.govuk_error_summary %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "businesses/form", form: form, business: @business, countries: @countries %>
    </div>
  </div>
<% end %>
