<%= page_title "Edit business", errors: @business.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @business.trading_name %></h1>
  </div>
</div>

<%= form_with(model: @business, local: true, html: { autocomplete: :off, novalidate: true }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govukErrorSummary form: form %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "businesses/form", form: form, business: @business, countries: @countries %>
    </div>
  </div>
<% end %>
