<%= page_title I18n.t(".businesses.titles.#{@page_name}") %>

<%= render "businesses/heading/#{@page_name}", count: @count %>

<%= form_with(model: @search, scope: "", url: businesses_path, method: :get, local: true, html: { novalidate: true, role: "search" }) do |form| %>
  <div class="govuk-grid-row opss-full-height">

    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">
      <%= render 'businesses/secondary_nav' %>

      <% if @businesses.any? && policy(Business).export? && ["team_businesses", "your_businesses"].exclude?(@page_name) %>
        <div class="govuk-!-padding-top-2 govuk-!-padding-right-0 govuk-!-padding-bottom-1 govuk-!-margin-bottom-3 opss-desktop-margin-bottom-220px opss-full-height__col--bottom opss-right-box-arrow">
          <p class="govuk-body govuk-!-padding-bottom-1 govuk-!-margin-bottom-0 govuk-!-font-size-14">
            Request this list as a downloadable <br class="opss-br-desktop">
            <%= link_to(generate_business_exports_path(params: business_export_params), class: "govuk-link govuk-link--no-visited-state") do -%><abbr title="Microsoft Excel Open XML Format Spreadsheet">XLSX</abbr> (spreadsheet)<%- end -%> file.
          </p>
        </div>
      <% end %>
    </section>
    <section class="govuk-grid-column-three-quarters" id="page-content">
      <% if ["team_businesses", "your_businesses"].exclude?(@page_name) %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group govuk-!-padding-bottom-2">
              <%= form.label :q, "Search", class: "govuk-label" %>
              <div class="govuk-input__wrapper opss-search__wrapper">
                <%= form.hidden_field :sort_by, id: "sort_by_current", value: params[:sort_by] %>
                <%= form.hidden_field :sort_dir, value: params[:sort_dir] %>
                <%= form.search_field :q, class: "govuk-input govuk-!-width-full", spellcheck: false, "aria-describedby" => "search-hint" %>
                <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                  <span class="govuk-visually-hidden">Submit search</span>
                </button>
              </div>
            </div>
          </div>
          <%= render_sort_by form, @sort_by_items, @selected_sort_by, @selected_sort_direction, "govuk-grid-column-one-third"  if (@count > 11) %>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= render "search_statement", count: @count, keywords: params[:q] %>
          </div>
        </div>
      <% elsif (@count > 11) %>
        <div class="govuk-grid-row">
          <%= render_sort_by form, @sort_by_items, @selected_sort_by, @selected_sort_direction, "govuk-grid-column-one-third opss-float-right-desktop" %>
        </div>
      <% end %>

      <% if @businesses.any? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" role="region" aria-label="Businesses">
            <%= render "table", businesses: @businesses %>
            <%= govuk_pagination(pagy: @pagy) %>
          </div>
        </div>
      <% elsif ["team_businesses", "your_businesses"].include?(@page_name) %>
        <%= render "businesses/no_businesses", page_name: @page_name %>
      <% end %>
    </section>
  <% end %>
