<%= page_title "Businesses" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        Businesses
    </h1>
    <%= govukDetails(summaryText: "Help with the Businesses page", classes: "opss-details--sm") do %>
      <p class="govuk-body-s govuk-!-margin-bottom-1">
          <span id="search-hint">You can search for one or more businesses using the keywords that describe them or search for a specific business by using its company number.</span> You can also sort the ordering of the search results.
      </p>
      <p class="govuk-body-s govuk-visually-hidden">
        Search results appear within the following <code>form</code> and within the <code>role = region</code>.
      </p>
    <% end %>
  </div>
</div>

<%= form_with(model: @search, scope: "", url: businesses_path, method: :get, local: true, html: { novalidate: true, role: "search" }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group govuk-!-padding-top-4 govuk-!-padding-bottom-7">
        <%= form.label :q, "Keywords search", class: "govuk-label" %>
        <div class="govuk-input__wrapper opss-search__wrapper">
          <%= form.hidden_field :sort_by, id: "sort_by_current", value: params[:sort_by] %>
          <%= form.hidden_field :sort_dir, value: params[:sort_dir] %>
          <%= form.search_field :q, class: "govuk-input govuk-!-width-one-half", data: { "opss-clear-on-reset" => "element" }, spellcheck: false, "aria-describedby" => "search-hint" %>
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row opss-full-height">
    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">
        <% if @businesses.any? && policy(Business).export? %>
          <div class="govuk-!-padding-top-2 govuk-!-padding-right-0 govuk-!-padding-bottom-1 govuk-!-padding-left-3 govuk-!-margin-bottom-3 opss-desktop-margin-bottom-220px opss-full-height__col--bottom opss-right-box-arrow">
            <p class="govuk-body govuk-!-padding-bottom-1 govuk-!-margin-bottom-0 govuk-!-font-size-14">
              Request this list as a downloadable <br class="opss-br-desktop">
              <%= link_to(generate_business_exports_path(params: business_export_params), class: "govuk-link govuk-link--no-visited-state") do -%><abbr title="Microsoft Excel Open XML Format Spreadsheet">XLSX</abbr> (spreadsheet)<%- end -%> file.
            </p>
          </div>
        <% end %>
    </section>

    <section class="govuk-grid-column-three-quarters">
      <%= render "controls",
        count: @results.total_count,
        keywords: params[:q],
        filter: params[:hazard_type],
        form: form,
        sort_by_items: @sort_by_items,
        selected_sort_by: @selected_sort_by,
        selected_sort_direction: @selected_sort_direction
      %>
      <% unless @businesses.empty? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" role="region" aria-label="Businesses">
            <%= render "table", businesses: @businesses %>
            <%= paginate @businesses.object %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
<% end %>
