<% title = "Create a new password" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Password is too short", href: "#password"}]) %>

    <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Choose a more secure password", href: "#password"}]) %>


    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">You can now create a new password for your account.</p>

    <%= render "components/govuk_input", id: "password", name: "password", type: "password", classes: "app-!-max-width-two-thirds", label: { text: "Password" }, hint: {text: "At least 8 characters"} %>

    <%= govukButton(text: "Continue") %>

  </div>
</div>
