<% title = "Resend security code" %>
<% content_for :page_title, title %>

<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: two_factor_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Enter your mobile number", href: "#mobile-number"}]) %>

    <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Enter your mobile number in the correct format, like 07700 900 982", href: "#mobile-number"}]) %>


    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">Text messages sometimes take a few minutes to arrive. If you do not receive a text message with the security code in a few minutes, we can resend it.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Change where the text message is sent
        </span>
      </summary>
      <div class="govuk-details__text">


      <%= telephoneNumber({
        id: "mobile-number",
        name: "mobile-number",
        label: {
          text: "Mobile number"
        },
        value: "07777 111111",
        classes: "app-!-max-width-two-thirds"
      }) %>


      </div>
    </details>

    <%= govukButton(text: "Resend security code") %>

  </div>
</div>
