<% page_heading = "Why is the product of concern?" %>

<%= page_title page_heading, errors: @edit_why_reporting_form.errors.any? %>

<%= form_with scope: :investigation, model: @edit_why_reporting_form, url: investigation_safety_and_compliance_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form.govuk_error_summary %>
      <%= form.govuk_check_boxes_fieldset :reported_reason, legend: { text: "Why is the product of concern?", size: "l" }, hint: { text: "Select one or both descriptions." } do %>
        <%= form.govuk_check_box :reported_reason_unsafe, "true", disabled: true, label: { text: "The product is unsafe" }, link_errors: true do %>
          <%= edit_unsafe_details_html(form, hazard_types) %>
        <% end %>
        <%= form.govuk_check_box :reported_reason_non_compliant, "true", disabled: true, label: { text: "The product is non-compliant" } do %>
          <%= non_compliant_details_html(form) %>
        <% end %>
      <% end %>
      <%= form.hidden_field :reported_reason, value: @reported_reason %>
      <div class="govuk-button-group">
        <%= form.govuk_submit "Save", class: "govuk-button" %>
        <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    </div>
  </div>
<% end %>
