<% page_heading = "Why is the product of concern?" %>

<%= page_title page_heading, errors: @edit_why_reporting_form.errors.any? %>

<%= form_with scope: :investigation, model: @edit_why_reporting_form, url: investigation_safety_and_compliance_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= error_summary @edit_why_reporting_form.errors %>
      <%= edit_why_reporting_checkboxes(form, page_heading, @edit_why_reporting_form.errors) %>
      <%= form.hidden_field :reported_reason, value: @reported_reason %>
      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button" %>
        <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    </div>
  </div>
<% end %>
