<% page_heading = "Why are you reporting this product?" %>

<%= page_title page_heading, errors: @why_reporting_form.errors.any? %>

<%= form_with scope: :investigation, model: @why_reporting_form, url: investigation_safety_and_compliance_path, method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary @why_reporting_form.errors %>
      <%= why_reporting_checkboxes(form, page_heading, @why_reporting_form.errors) %>
      <%= form.submit "Continue", class: "govuk-button" %>
    </div>
  </div>
<% end %>
