<% page_heading = "Case risk level" %>
<% page_title page_heading, errors: @update_risk_level_from_risk_assessment_form.errors.any? %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_supporting_information_index_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary @update_risk_level_from_risk_assessment_form.errors %>
    <%= form_with model: @update_risk_level_from_risk_assessment_form, url: investigation_risk_assessment_update_case_risk_level_path(@investigation, @risk_assessment), method: :patch, local: true, builder: ApplicationFormBuilder, html: {novalidate: true} do |form| %>
      <%= form.govuk_radios(:update_case_risk_level_to_match_investigation,
        legend: "Do you want to match this case risk level to the risk assessment level?",
        legend_classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-5",
        is_page_heading: true,
        items: [
          {
            value: "true",
            text: safe_join(["Yes, set the case risk level to ", tag.strong(@risk_assessment.risk_level_description.downcase)])
          },
          {
            value: "false",
            text: "No, keep the current case risk level unchanged"
          }
        ]
      ) %>
      <%= govukButton(text: "Save") %>
    <% end %>
  </div>
</div>
