<% @parent = @parent.decorate %>
<% content_for :page_title, "Add attachment" %>
<% content_for :after_header do %>
  <%= link_to "Back to #{@parent.pretty_description}", path_for_model(@parent), class: "govuk-back-link" %>
<% end %>

<%= form_with scope: :document, url: wizard_path, method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form_components/govuk_error_summary", form: form, errors: @errors %>
      <span class="govuk-caption-l"><%= @parent.pretty_description %></span>
      <h1 class="govuk-heading-l">Add attachment</h1>
      <%= form.fields_for :file do |subform| %>
        <div class="govuk-form-group">
          <%= subform.label :file, "Upload a file", class: "govuk-label" %>
          <%= subform.file_field :file, class: "govuk-file-upload" %>
        </div>
      <% end %>
      <div class="govuk-form-group">
        <%= form.submit "Upload", class: "govuk-button" %>
      </div>
    </div>
  </div>
<% end %>
