<h4 class="govuk-heading-s">Enquiry details</h4>

<% if activity.metadata['investigation']['coronavirus_related'] %>
  <p class="govuk-body">
    <%= t("audit_activity.investigation.coronavirus_related") %>
  </p>
<% end %>

<% if activity.metadata['attachment'] %>
  <p class="govuk-body">
    Attachment: <strong><%= activity.metadata['attachment']['filename'] %></strong>
  </p>
<% end %>

<% if activity.metadata['investigation']['description'] %>
  <p class="govuk-body">
    <%= activity.metadata['investigation']['description'] %>
  </p>
<% end %>

<%= render "investigations/activities/investigation/complainant", activity: activity, complainant: activity.complainant if activity.complainant %>
<%= render "investigations/activities/investigation/owner", owner: activity.owner if activity.owner %>
