<% content_for :page_title, "Review the overall product risk level" %>
<% @errors = @prism_risk_assessment.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @prism_risk_assessment, url: wizard_path, method: :patch, data: { controller: "visibility" } do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Evaluate product risk and submit assessment</span>
        Review the overall product risk level
      </h1>
      <%= govuk_inset_text do %>
        <p class="govuk-body">For</p>
        <p class="govuk-body-l"><%= @prism_risk_assessment.product_name %></p>
        <% if @prism_risk_assessment.product_market_detail&.total_products_sold.present? %><p class="govuk-body">Number of products in use: <%= @prism_risk_assessment.product_market_detail&.total_products_sold %></p><% end %>
      <% end %>
      <%= govuk_inset_text(text: "The overall risk level takes into account the total number of products in use, if available.") %>
      <%=
        govuk_table do |table|
          table.with_caption(text: "Harm scenarios", size: "m")

          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: "Hazard name")
              row.with_cell(text: "Probability of harm")
              row.with_cell(text: "Severity")
              row.with_cell(text: "Scenario risk level")
              row.with_cell(text: '<span class="govuk-visually-hidden">Change harm scenario</span>'.html_safe)
            end
          end

          @harm_scenarios.each do |harm_scenario|
            classes = @prism_risk_assessment.errors.any? && !harm_scenario.valid_for_completion? ? %w[opss-table__cell--error] : []
            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: hazard_type(harm_scenario), classes:)
                row.with_cell(text: overall_probability_of_harm(harm_scenario).probability_human)
                row.with_cell(text: severity_of_harm(harm_scenario))
                row.with_cell(text: overall_risk_level(harm_scenario).risk_level_tag_html)
                row.with_cell(text: "<a href=\"#{task_path("create", "check_your_harm_scenario", harm_scenario.id)}\" class=\"govuk-link\">Change</a>".html_safe)
              end
            end
          end
        end
      %>
      <%= f.hidden_field :_dummy, value: "dummy" %>
      <% risk_level_plus_label = capture do %>
        <div>
          <button type="button" class="govuk-button govuk-button--secondary" data-action="visibility#toggleTargets">Add a risk level plus label</button>
          <div data-visibility-target="hideable"<% unless f.object.overall_product_risk_plus_label.present? %> hidden<% end %>>
            <%= f.govuk_text_area :overall_product_risk_plus_label, label: { text: "Describe the reason for choosing the risk level plus label" }, rows: 3, class: %w[govuk-!-width-one-half] %>
          </div>
        </div>
      <% end %>
      <% if @harm_scenarios.length == 1 %>
        <h2 class="govuk-heading-m">Overall product risk level</h2>
        <p class="govuk-body" data-test="overall-product-risk-level"><%= overall_risk_level(@harm_scenarios.first).risk_level_tag_html %></p>
      <% elsif @identical_severity_levels %>
        <h2 class="govuk-heading-m">Choose the overall product risk level</h2>
        <%= f.govuk_radio_buttons_fieldset :overall_product_risk_methodology, legend: nil do %>
          <%= f.govuk_radio_button :overall_product_risk_methodology, "highest", label: { text: highest_risk_level(@harm_scenarios).risk_level_tag_html }, hint: { text: "<br>#{risk_level_plus_label}This risk level approach is most suited to scenarios where a product has multiple independent hazards that involve risks with different injury severity levels. The risk associated with the product would, as normal, be derived from the hazard creating the greatest level of risk.".html_safe }, link_errors: true %>
          <%= f.govuk_radio_button :overall_product_risk_methodology, "combined", label: { text: combined_risk_level(@harm_scenarios, @items_in_use).risk_level_tag_html }, hint: { text: "<br>This method of combining risk probabilities is useful when a product has at least two independent hazards that involve the same level of injury severity. Adding the probabilities of harm presented by the two hazards would generate a greater overall probability of harm.".html_safe } %>
        <% end %>
      <% else %>
        <h2 class="govuk-heading-m">Overall product risk level</h2>
        <p class="govuk-body">This risk level approach is most suited to scenarios where a product has multiple independent hazards that involve risks with different injury severity levels. The risk associated with the product would, as normal, be derived from the hazard creating the greatest level of risk.</p>
        <p class="govuk-body" data-test="overall-product-risk-level"><%= highest_risk_level(@harm_scenarios).risk_level_tag_html %></p>
        <%= risk_level_plus_label %>
      <% end %>
      <%= f.govuk_submit "Save and continue" do %>
        <%= f.govuk_submit "Save as draft", secondary: true, name: "draft", value: "true" %>
      <% end %>
    <% end %>
  </div>
</div>
