<% content_for :page_title, "Consider the nature of the risk" %>
<% @errors = @evaluation.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @evaluation, url: wizard_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Evaluate product risk and submit assessment</span>
        Consider the nature of the risk
      </h1>
      <p class="govuk-body govuk-hint">
        A risk evaluation is required because decisions on whether risk management action is needed, and the nature of that action, should not be made purely according to the level of risk involved. Other factors are potentially relevant, such as those identified in this section.
      </p>
      <%= govuk_inset_text do %>
        <p class="govuk-body">Overall product risk recorded in the assessment</p>
        <p class="govuk-body"><%= overall_product_risk_level.risk_level_tag_html %></p>
      <% end %>
      <%= f.govuk_check_boxes_fieldset :other_types_of_harm, legend: { text: "Could the hazard cause other types of harm?", size: "m" }, hint: { text: "Select all that are applicable." } do %>
        <%= f.govuk_check_box :other_types_of_harm, :psychological_harm, label: { text: "Psychological harm" }, link_errors: true, checked: @evaluation.other_types_of_harm.include?("psychological_harm") %>
        <%= f.govuk_check_box :other_types_of_harm, :damage_to_property, label: { text: "Damage to property" }, checked: @evaluation.other_types_of_harm.include?("damage_to_property") %>
        <%= f.govuk_check_box :other_types_of_harm, :harm_to_animals, label: { text: "Harm to animals" }, checked: @evaluation.other_types_of_harm.include?("harm_to_animals") %>
        <%= f.govuk_check_box :other_types_of_harm, :harm_to_the_environment, label: { text: "Harm to the environment" }, checked: @evaluation.other_types_of_harm.include?("harm_to_the_environment") %>
      <% end %>
      <%=
        f.govuk_collection_radio_buttons :number_of_products_expected_to_change,
        [
          OpenStruct.new(id: "no_changes", name: "No changes"),
          OpenStruct.new(id: "increase", name: "Increase"),
          OpenStruct.new(id: "fall", name: "Fall"),
          OpenStruct.new(id: "unknown", name: "Unknown")
        ],
        :id,
        :name,
        legend: { text: "Is the number of products estimated to be in use expected to change?" },
        hint: { text: question_hint_panel(estimated_products_in_use).html_safe },
        bold_labels: false
      %>
      <%=
        f.govuk_collection_radio_buttons :uncertainty_level_implications_for_risk_management,
        [
          OpenStruct.new(id: true, name: "Yes"),
          OpenStruct.new(id: false, name: "No")
        ],
        :id,
        :name,
        legend: { text: "Does the uncertainty level have implications for risk management decisions?" },
        hint: { text: question_hint_panel(level_of_uncertainty).html_safe },
        bold_labels: false
      %>
      <%=
        f.govuk_collection_radio_buttons :comparable_risk_level,
        [
          OpenStruct.new(id: "lower", name: "Lower"),
          OpenStruct.new(id: "similar", name: "Similar"),
          OpenStruct.new(id: "higher", name: "Higher"),
          OpenStruct.new(id: "unknown", name: "Unknown")
        ],
        :id,
        :name,
        legend: { text: "How does the risk level compare to that of comparable products?" },
        bold_labels: false
      %>
      <%=
        f.govuk_collection_radio_buttons :significant_risk_differential,
        [
          OpenStruct.new(id: "yes", name: "Yes"),
          OpenStruct.new(id: "no", name: "No"),
          OpenStruct.new(id: "not_applicable", name: "Not applicable")
        ],
        :id,
        :name,
        legend: { text: "Is there a significant risk differential?" },
        hint: { text: "The risk differential is the gap between the level of risk presented by the non-compliant product and the level of risk it would present if it was fully compliant." },
        bold_labels: false
      %>
      <%= f.govuk_radio_buttons_fieldset(:people_at_increased_risk, legend: { text: "Are there people at increased risk?" }) do %>
        <%= f.govuk_radio_button :people_at_increased_risk, true, label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_text_area :people_at_increased_risk_details, label: nil %>
        <% end %>
        <%= f.govuk_radio_button :people_at_increased_risk, false, label: { text: "No" } %>
      <% end %>
      <%=
        f.govuk_collection_radio_buttons :relevant_action_by_others,
        [
          OpenStruct.new(id: "yes", name: "Yes"),
          OpenStruct.new(id: "no", name: "No"),
          OpenStruct.new(id: "unknown", name: "Unknown")
        ],
        :id,
        :name,
        legend: { text: "Is relevant risk management action planned or underway by another MSA or other organisation?" },
        bold_labels: false
      %>
      <%= f.govuk_radio_buttons_fieldset(:factors_to_take_into_account, legend: { text: "As regards the nature of the risk, are there factors to take account of in relation to risk management decisions?" }) do %>
        <%= f.govuk_radio_button :factors_to_take_into_account, true, label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_text_area :factors_to_take_into_account_details, label: nil %>
        <% end %>
        <%= f.govuk_radio_button :factors_to_take_into_account, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" do %>
        <%= f.govuk_submit "Save as draft", secondary: true, name: "draft", value: "true" %>
      <% end %>
    <% end %>
  </div>
</div>
