<% content_for :page_title, "Check your risk assessment and risk evaluation details" %>
<% @errors = @prism_risk_assessment.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @prism_risk_assessment, url: wizard_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Evaluate product risk and submit assessment</span>
        Check your risk assessment and risk evaluation details
      </h1>
      <h2 class="govuk-heading-m">About assessment</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Assessment name")
            row.with_value(text: @prism_risk_assessment.name)
            row.with_action(text: "Change", href: task_path("define", @prism_risk_assessment.serious_risk? ? "add_evaluation_details" : "add_assessment_details"), visually_hidden_text: "assessment name")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Name of assessor")
            row.with_value(text: @prism_risk_assessment.assessor_name)
            row.with_action(text: "Change", href: task_path("define", @prism_risk_assessment.serious_risk? ? "add_evaluation_details" : "add_assessment_details"), visually_hidden_text: "assessor name")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Name of assessment organisation")
            row.with_value(text: @prism_risk_assessment.assessment_organisation)
            row.with_action(text: "Change", href: task_path("define", @prism_risk_assessment.serious_risk? ? "add_evaluation_details" : "add_assessment_details"), visually_hidden_text: "assessment organisation")
          end
        end
      %>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Product details</h2>
      <p class="govuk-body">as recorded on the <abbr>PSD</abbr></p>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "<abbr>PSD</abbr> reference".html_safe)
            row.with_value(text: "<a href=\"#{main_app.product_path(@prism_risk_assessment.product)}\" class=\"govuk-link\">#{@prism_risk_assessment.product.psd_ref}</a>".html_safe)
          end
          summary_list.with_row do |row|
            row.with_key(text: "Product")
            row.with_value(text: @prism_risk_assessment.product.name)
          end
          summary_list.with_row do |row|
            row.with_key(text: "Brand name")
            row.with_value(text: @prism_risk_assessment.product.brand)
          end
          summary_list.with_row do |row|
            row.with_key(text: "Description")
            row.with_value(text: @prism_risk_assessment.product.description)
          end
          summary_list.with_row do |row|
            row.with_key(text: "Country of origin")
            row.with_value(text: country_from_code(@prism_risk_assessment.product.country_of_origin))
          end
          summary_list.with_row do |row|
            row.with_key(text: "Counterfeit")
            row.with_value(text: counterfeit(@prism_risk_assessment.product.authenticity))
          end
        end
      %>
      <h2 class="govuk-heading-m">Product sales and safety</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Name of the business that sold the product")
            row.with_value(text: @prism_risk_assessment.product_market_detail.selling_organisation)
            row.with_action(text: "Change", href: task_path("define", "add_details_about_products_in_use_and_safety"), visually_hidden_text: "name of the business that sold the product")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Estimated number of products in use")
            row.with_value(text: ActiveSupport::NumberHelper.number_to_delimited(@prism_risk_assessment.product_market_detail.total_products_sold))
            row.with_action(text: "Change", href: task_path("define", "add_details_about_products_in_use_and_safety"), visually_hidden_text: "estimated number of products in use")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Applicable product safety legislation and standards")
            row.with_value(text: product_safety_legislation_standards_list(@prism_risk_assessment.product_market_detail.safety_legislation_standards))
            row.with_action(text: "Change", href: task_path("define", "add_details_about_products_in_use_and_safety"), visually_hidden_text: "applicable product safety legislation and standards")
          end
        end
      %>
      <h2 class="govuk-heading-m">Product hazards</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Number of hazards")
            row.with_value(text: evaluation_translate_simple("number_of_hazards", @prism_risk_assessment.product_hazard.number_of_hazards))
            row.with_action(text: "Change", href: task_path("identify", "add_a_number_of_hazards"), visually_hidden_text: "number of hazards")
          end
        end
      %>
      <h2 class="govuk-heading-m">Harm scenarios</h2>
      <% @prism_risk_assessment.harm_scenarios.each_with_index do |harm_scenario, index| %>
        <h3 class="govuk-heading-s">Scenario <%= index + 1 %></h3>
        <%=
          govuk_summary_list do |summary_list|
            summary_list.with_row do |row|
              row.with_key(text: "Hazard type")
              row.with_value(text: harm_scenario_hazard_type(harm_scenario.hazard_type))
              row.with_action(text: "Change", href: task_path("create", "choose_hazard_type", harm_scenario.id), visually_hidden_text: "hazard type")
            end
            summary_list.with_row do |row|
              row.with_key(text: "Hazard description")
              row.with_value(text: harm_scenario.description)
              row.with_action(text: "Change", href: task_path("create", "choose_hazard_type", harm_scenario.id), visually_hidden_text: "hazard description")
            end
            summary_list.with_row do |row|
              row.with_key(text: "Affected users")
              row.with_value(text: harm_scenario_product_aimed_at(harm_scenario.product_aimed_at, harm_scenario.product_aimed_at_description))
              row.with_action(text: "Change", href: task_path("create", "identify_who_might_be_harmed", harm_scenario.id), visually_hidden_text: "affected users")
            end
            summary_list.with_row do |row|
              row.with_key(text: "Other users that might be at risk")
              row.with_value(text: harm_scenario_unintended_risks_for(harm_scenario.unintended_risks_for))
              row.with_action(text: "Change", href: task_path("create", "identify_who_might_be_harmed", harm_scenario.id), visually_hidden_text: "other users that might be at risk")
            end
            harm_scenario.harm_scenario_steps.each_with_index do |hss, hss_index|
              summary_list.with_row do |row|
                row.with_key(text: "Step #{hss_index + 1}")
                row.with_value(text: "<p class=\"govuk-body\">#{hss.description}</p><hr class=\"govuk-section-break govuk-section-break--m govuk-section-break--visible\"><p class=\"govuk-body\">Probability of harm: #{hss.probability_decimal || "1 in " + ActiveSupport::NumberHelper.number_to_delimited(hss.probability_frequency.to_s)}</p><hr class=\"govuk-section-break govuk-section-break--m govuk-section-break--visible\"><p class=\"govuk-body\">Supporting information: #{harm_scenario_probability_evidence(hss.probability_evidence)}</p>#{harm_scenario_evidence_file(hss.harm_scenario_step_evidence)}".html_safe)
                row.with_action(text: "Change", href: task_path("create", "add_steps_to_harm", harm_scenario.id), visually_hidden_text: "step #{hss_index + 1}")
              end
            end
            summary_list.with_row do |row|
              row.with_key(text: "Severity level")
              row.with_value(text: harm_scenario_severity_level_and_multiple_casualties(harm_scenario.severity, harm_scenario.multiple_casualties))
              row.with_action(text: "Change", href: task_path("create", "determine_severity_of_harm", harm_scenario.id), visually_hidden_text: "severity level")
            end
            summary_list.with_row do |row|
              row.with_key(text: "Overall probability of harm")
              row.with_value(text: "1 in #{ActiveSupport::NumberHelper.number_to_delimited(harm_scenario_overall_probability_of_harm(harm_scenario))}")
              row.with_action(text: "Change", href: task_path("create", "estimate_probability_of_harm", harm_scenario.id), visually_hidden_text: "overall probability of harm")
            end
          end
        %>
      <% end %>
      <h2 class="govuk-heading-m">Overall product risk level</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Risk level")
            row.with_value(text: overall_product_risk_level.risk_level_tag_html)
          end
        end
      %>
      <h2 class="govuk-heading-m">Level of uncertainty and sensitivity analysis</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Level of uncertainty associated with the risk assessment")
            row.with_value(text: evaluation_translate_simple("level_of_uncertainty", @prism_risk_assessment.evaluation.level_of_uncertainty))
            row.with_action(text: "Change", href: task_path("evaluate", "add_level_of_uncertainty_and_sensitivity_analysis"), visually_hidden_text: "level of uncertainty associated with the risk assessment")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Has sensitivity analysis been undertaken?")
            row.with_value(text: sensitivity_analysis_with_details(@prism_risk_assessment.evaluation.sensitivity_analysis, @prism_risk_assessment.evaluation.sensitivity_analysis_details))
            row.with_action(text: "Change", href: task_path("evaluate", "add_level_of_uncertainty_and_sensitivity_analysis"), visually_hidden_text: "whether sensitivity analysis has been undertaken")
          end
        end
      %>
      <h2 class="govuk-heading-m">Risk evaluation</h2>
      <h3 class="govuk-heading-s">Nature of risk</h3>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "What other types of harm could the hazard cause?")
            row.with_value(text: other_types_of_harm(@prism_risk_assessment.evaluation.other_types_of_harm))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "what other types of harm the hazard could cause")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is the number of products estimated to be in use expected to change?")
            row.with_value(text: evaluation_translate_simple("number_of_products_expected_to_change", @prism_risk_assessment.evaluation.number_of_products_expected_to_change))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether the number of products estimated to be in use is expected to change")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Does the uncertainty level have implications for risk management decisions?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.uncertainty_level_implications_for_risk_management))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether the uncertainty level has implications for risk management decisions")
          end
          summary_list.with_row do |row|
            row.with_key(text: "How does the risk level compare to that of comparable products?")
            row.with_value(text: evaluation_translate_simple("comparable_risk_level", @prism_risk_assessment.evaluation.comparable_risk_level))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "how the risk level compares to that of comparable products")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is there potential for multiple casualties in a single incident?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.multiple_casualties))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether there is potential for multiple casualties in a single incident")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is there a significant risk differential?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.significant_risk_differential))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether there is a significant risk differential")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Are there people at increased risk?")
            row.with_value(text: people_at_increased_risk(@prism_risk_assessment.evaluation.people_at_increased_risk, @prism_risk_assessment.evaluation.people_at_increased_risk_details))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether there are people at increased risk")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is relevant risk management action planned or underway by another MSA or other organisation?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.relevant_action_by_others))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether relevant action is planned or underway by another MSA or other organisation")
          end
          summary_list.with_row do |row|
            row.with_key(text: "As regards the nature of the risk, are there factors to take account of in relation to risk management decisions?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.factors_to_take_into_account))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_the_nature_of_the_risk"), visually_hidden_text: "whether there are there factors to take account of in relation to risk management decisions")
          end
        end
      %>
      <h3 class="govuk-heading-s">Perception and tolerability of risk</h3>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "As well as the hazard associated with the non-compliance, does the product have any other hazards that can and do cause harm?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.other_hazards))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether the product has any other hazards that can and do cause harm")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is this a low likelihood but high severity risk?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.low_likelihood_high_severity))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether this is a low likelihood but high severity risk")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is there a risk to non-users of the product?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.risk_to_non_users))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether there is a risk to non-users of the product")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is this a type of product aimed at vulnerable users?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.aimed_at_vulnerable_users))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether this is a type of product aimed at vulnerable users")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Is the product designed to provide a protective function?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.designed_to_provide_protective_function))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether the product is designed to provide a protective function")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Can users exert any control over the risk?")
            row.with_value(text: evaluation_translate_simple("yes_no", @prism_risk_assessment.evaluation.user_control_over_risk))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether users can exert any control over the risk")
          end
          summary_list.with_row do |row|
            row.with_key(text: "Are there other matters that will influence the way the risk is perceived?")
            row.with_value(text: other_risk_perception_matters(@prism_risk_assessment.evaluation.other_risk_perception_matters))
            row.with_action(text: "Change", href: task_path("evaluate", "consider_perception_and_tolerability_of_the_risk"), visually_hidden_text: "whether there are other matters that will influence the way the risk is perceived")
          end
        end
      %>
      <h2 class="govuk-heading-m">Risk evaluation outcome</h2>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "How would you describe the risk presented by the product?")
            row.with_value(text: evaluation_translate_simple("risk_tolerability", @prism_risk_assessment.evaluation.risk_tolerability))
            row.with_action(text: "Change", href: task_path("evaluate", "risk_evaluation_outcome"), visually_hidden_text: "how you would describe the risk presented by the product")
          end
        end
      %>
      <%= f.govuk_submit "Submit" %>
      <p class="govuk-body"><a href="<%= download_assessment_pdf_risk_assessment_tasks_path(@prism_risk_assessment) %>" class="govuk-link" download>Download a <abbr>PDF</abbr> of the assessment</a></p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <% if @prism_risk_assessment.product.virus_free_images.present? %>
      <img src="<%= main_app.rails_storage_proxy_path(@prism_risk_assessment.product.virus_free_images&.first&.file_upload&.variant(resize_to_limit: [300, 500]), only_path: true) %>">
    <% end %>
  </div>
</div>
