<%= page_title "Alert trading standards" %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @investigation.is_private %>
      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>

      <h1 class="govuk-heading-l">You cannot send an alert about a restricted case</h1>
      <p>Email alerts can only be sent for cases that are not restricted. To send an alert about this case you need to unrestrict it.</p>

      <%= link_to "Change case visibility",
                  investigation_visibility_path(@investigation),
                  class: "govuk-button",
                  role: "button",
                  draggable: false %>

    <% else %>
      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>

      <h1 class="govuk-heading-l">About alerts</h1>
      <p>When you send an alert:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>all users of this service will be sent an email</li>
        <li>they’ll be given a link back to this case to view more details</li>
      </ul>

      <p>Recipients will need an account on this service the view the case.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Only send an alert if this is a serious product safety issue.
        </strong>
      </div>

      <%= link_to "Compose new alert", new_investigation_alert_path(@investigation), class: "govuk-button", role: "button", draggable: false %>
    <% end %>
  </div>
</div>

<p><%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %></p>
