<ol class="govuk-list govuk-list--number govuk-heading-m opss-task-list-group">
  <% sections.each_with_index do |(section, tasks), section_index| %>
    <li>
      <h2 class="govuk-heading-m"><%= t(".sections.#{section}.title") %></h2>
      <% if repeatable_sections.present? && repeatable_sections.include?(section) %>
        <% @prism_risk_assessment.harm_scenarios.each_with_index do |harm_scenario, harm_scenario_index| %>
          <h3 class="govuk-heading-s">
            Scenario <%= harm_scenario_index + 1 %>
            <% if harm_scenario.confirmed? %>
              <a href="<%= task_path(section, "check_your_harm_scenario", harm_scenario.id) %>" class="govuk-link govuk-body-s govuk-!-padding-left-2">View details</a>
            <% else %>
              <a href="<%= remove_harm_scenario_risk_assessment_tasks_path(harm_scenario_id: harm_scenario.id) %>" class="govuk-link govuk-body-s govuk-!-padding-left-2">Remove</a>
            <% end %>
          </h3>
          <ul class="govuk-task-list">
            <% tasks.each_with_index do |task, task_index| %>
              <li class="govuk-task-list__item<% if harm_scenario_tasks_status(harm_scenario)[task] != "cannot_start_yet" %> govuk-task-list__item--with-link<% end %>">
                <div class="govuk-task-list__task-name-and-hint">
                  <% if harm_scenario_tasks_status(harm_scenario)[task] != "cannot_start_yet" %>
                    <a class="govuk-link govuk-task-list__link" href="<%= task_path(section, task, harm_scenario.id) %>" aria-describedby="task-list-<%= section_index %>-<%= task_index %>-<%= harm_scenario_index %>-status" data-test="task-list-<%= section_index %>-<%= task_index %>-<%= harm_scenario_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></a>
                  <% else %>
                    <div data-test="task-list-<%= section_index %>-<%= task_index %>-<%= harm_scenario_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></div>
                  <% end %>
                </div>
                <div class="govuk-task-list__status" id="task-list-<%= section_index %>-<%= task_index %>-<%= harm_scenario_index %>-status">
                  <%= task_status_tag(harm_scenario_tasks_status(harm_scenario)[task]) %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% if @prism_risk_assessment.harm_scenarios&.first&.confirmed? %>
          <%= govuk_button_link_to("Add another scenario", create_harm_scenario_risk_assessment_tasks_path, secondary: true) %>
        <% end %>
      <% else %>
        <ul class="govuk-task-list">
          <% tasks.each_with_index do |task, task_index| %>
            <li class="govuk-task-list__item<% if tasks_status[task] != "cannot_start_yet" %> govuk-task-list__item--with-link<% end %>">
              <div class="govuk-task-list__task-name-and-hint">
                <% if tasks_status[task] != "cannot_start_yet" %>
                  <a class="govuk-link govuk-task-list__link" href="<%= task_path(section, task) %>" aria-describedby="task-list-<%= section_index %>-<%= task_index %>-status" data-test="task-list-<%= section_index %>-<%= task_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></a>
                <% else %>
                  <div data-test="task-list-<%= section_index %>-<%= task_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></div>
                <% end %>
              </div>
              <div class="govuk-task-list__status" id="task-list-<%= section_index %>-<%= task_index %>-status">
                <%= task_status_tag(tasks_status[task]) %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ol>
