<%= page_title "Change business type", errors: @business_relationship_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_businesses_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with(model: @business_relationship_form, local: true, url: business_relationship_path(id: @investigation_business.id, investigation_pretty_id: @investigation.pretty_id), method: :put) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form_components/govuk_error_summary", form: form %>
      <%= render "investigation_heading", investigation: @investigation %>

      <h2 class="govuk-heading-m">Change business type</h2>

      <%- other = capture do %>
        <%= render "form_components/govuk_input",
                   key: :relationship_other,
                   form: form,
                   classes: "govuk-!-width-one-third",
                   label: { text: "Other type", classes: "govuk-visually-hidden" } %>
      <% end %>

      <%= render "form_components/govuk_radios",
                 form: form,
                 key: :relationship,
                 fieldset: { legend: { text: "Select business type", classes: "govuk-fieldset__legend--m" } },
                 items: [{ text: "Retailer", value: "retailer" },
                         { text: "Manufacturer", value: "manufacturer" },
                         { text: "Exporter", value: "exporter" },
                         { text: "Importer", value: "importer" },
                         { text: "Fulfillment house", value: "fulfillment_house" },
                         { text: "Distributor", value: "distributor" },
                         { text: "Other", value: "other", conditional: { html: other } }] %>

      <%= form.submit "Continue", class: "govuk-button" %>
  </div>
  </div>
<% end %>
