<fieldset class="govuk-fieldset">
  <% if local_variables.include?(:title) %>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Browse for file</legend>
  <% end %>

  <div class="govuk-form-group">
    <% if @file_blob.present? %>
      <p id="current-attachment-details">
        Currently selected file:
        <%= link_to "#{@file_blob.filename} (opens in new tab)", @file_blob, target: "_blank", rel: 'noopener' %>
      </p>
    <% end %>

    <%= form.fields_for :file do |subform| %>
      <% if @file_blob.blank? %>
        <div class="govuk-form-group<%= " govuk-form-group--error" if form.object.errors[:file].any? %>">
          <%= subform.label :file, "Upload a file", class: "govuk-label", id: "file" %>
          <%= subform.file_field :file, class: "govuk-file-upload" %>
        </div>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

      <%= govukInput(
        key: :title,
        form: subform,
        id: "title",
        value: @file_title,
        classes: "govuk-!-width-two-thirds",
        label: { text: "Title" }
      ) %>

      <% file_description_hint = file_description_hint.presence || "For example, ‘Orange, 4 socket extension lead'’" %>

      <%= govukTextarea(
        key: :description,
        form: subform,
        id: "description",
        value: @file_description,
        attributes: { maxlength: 10_000 },
        label: { text: "Description" },
        hint: { text: file_description_hint }
      ) %>
    <% end %>
  </div>
</fieldset>
