<% page_heading = "What product are you reporting?" %>
<%= page_title page_heading, errors: @product_form.errors.any? %>

<%= form_with model: @product_form, scope: :product, url: wizard_path, method: :put, local: true, builder: ApplicationFormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@product_form.errors, %i[category product_type authenticity has_markings markings when_placed_on_market affected_units_status number_of_affected_units name]) %>
      <span class="govuk-caption-l">Report an unsafe or non-compliant product</span>
      <h1 class="govuk-heading-l"><%= page_heading %></h1>
      <%= render "products/form", form: form, product_form: @product_form, countries: @countries, submit_text: "Continue" %>
    </div>
  </div>
<% end %>
