<%= page_title "Update summary", errors: @form.errors.any? %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= error_summary @form.errors %>

    <%= form_with(model: @form,
                  url: investigation_summary_path(@investigation),
                  method: :patch,
                  html: {novalidate: true},
                  builder: ApplicationFormBuilder,
                  local: true) do |form| %>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="10000">
        <%= form.govuk_text_area(:summary,
                                 classes: "govuk-js-character-count",
                                 rows: 11,
                                 label: "Edit the summary",
                                 hint: "You can add and edit a general summary about the case.",
                                 label_classes: "govuk-label--l govuk-!-margin-bottom-2",
                                 attributes: { maxlength: 10_000 },
                                 described_by: "summary-info") %>
        <div id="summary-info" class="govuk-hint govuk-character-count__message">
          You can enter up to 10,000 characters
        </div>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button govuk-link--no-visited-state" %>
        <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>

  </div>
</div>
