<% page_heading = @test_result.title %>
<% page_title page_heading %>

<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Test result</span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <div class="app-meta-area">
      <p class="govuk-body govuk-hint">
        Added <%= @test_result.created_at.to_s(:govuk) %>
      </p>
    </div>

    <%= govukSummaryList(rows: test_result_summary_rows(@test_result)) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Attachments</h1>
    <% @test_result.documents.each do |document| %>
      <p class="govuk-body"><%= link_to document.filename, document, class: "govuk-link" %></p>

      <%= document_placeholder(document) %>


    <% end %>
  </div>
</div>
