<% page_heading = @test.title %>
<% page_title page_heading %>

<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Test result</span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <div class="app-meta-area">
      <p class="govuk-body govuk-hint">
        Added <%= @test.created_at.to_s(:govuk) %>
      </p>
    </div>

    <% rows = [
        {
          key: { text: "Date of test" },
          value: { text: @test.date.to_s(:govuk) }
        },
        {
          key: { text: "Product tested" },
          value: { html: link_to(@test.product.name, product_path(@test.product)) }
        },
        {
          key: { text: "Legislation" },
          value: { text: @test.legislation }
        },
        {
          key: { text: "Result" },
          value: { text: @test.result.upcase_first }
        }
       ] %>

    <%
      if @test.details.present?
        rows << {
          key: { text: "Further details" },
          value: { text: @test.details }
        }
      end

      @test.documents.each do |document|

        attachment_description = document.blob.metadata["description"]

        if attachment_description.present?
          rows << {
            key: { text: "Attachment description" },
            value: { text: attachment_description }
          }
        end
      end
    %>

    <%= govukSummaryList(rows: rows) %>

  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Attachments</h1>
    <% @test.documents.each do |document| %>
      <p class="govuk-body"><%= link_to document.filename, document, class: "govuk-link" %></p>

      <%= document_placeholder(document_file_extension(document)) %>


    <% end %>
  </div>
</div>
