<% title = @team.name %>
<% page_title title, errors: @edit_form.errors.any? %>

<% content_for(:after_header) do %>
  <%= govukBackLink(text: "Back", href: investigation_collaborators_path(@investigation)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary @edit_form.errors %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_with model: @edit_form, url: investigation_collaborator_path(@investigation, @team), method: :put do |form| %>

      <% remove_hint = @investigation.is_private? ? "Will not be able to view case details as it is restricted" :  "Will have default view rights"%>
      <%= render "form_components/govuk_radios",
        form: form,
        key: :permission_level,
        classes: "",
        fieldset: {
          legend: {
            text: "Permision level",
            is_page_heading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            id: "edit_full_case",
            text: "Edit full case",
            value: EditInvestigationCollaboratorForm::PERMISSION_LEVEL_EDIT,
            hint: {
              text: "View full case details including correspondence",
            }
          },
          {key: "or", divider: "or"},
          {
            text: "Remove #{@team.name} from the case",
            hint: {
              text: remove_hint
            },
            value: EditInvestigationCollaboratorForm::PERMISSION_LEVEL_DELETE
          }
        ]
      %>

      <p class="govuk-body">We’ll email <%= @team.name %> to let them know that their permission level has been changed.
</p>

      <% message_html = capture do %>
        <%= render "form_components/govuk_textarea",
          form: form,
          key: :message,
          id: "message",
          label: {
            text: "Message to the team"
          },
          hint: {
            text: "Message will also be included on the case timeline"
          }
        %>
      <% end %>

      <%= render "form_components/govuk_radios",
        form: form,
        key: :include_message,
        classes: "",
        fieldset: {
          legend: {
            text: "Do you want to include information?"
          }
        },
        items: [
          {
            id: "include_message",
            text: "Yes, add a message",
            value: "true",
            conditional: {
              html: message_html
            }
          },
          {
            text: "No",
            value: "false"
          }
        ]
      %>


      <%= govukButton(text: "Update team") %>
    <% end %>
  </div>
</div>
