<% page_heading = "Provide the business details - Upload multiple products" %>
<% page_title page_heading, errors: @bulk_products_add_business_details_form.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: create_business_bulk_upload_products_path) %>
<% end %>
<%= form_with model: @bulk_products_add_business_details_form, url: add_business_details_bulk_upload_products_path, html: { novalidate: true }, method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= error_summary @bulk_products_add_business_details_form.errors %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Upload multiple products</span>
        Provide the business details
      </h1>
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Name and company number</legend>
        <%= govukInput(
          form: form,
          key: :trading_name,
          label: { text: t("businesses.form.trading_name.label") },
          hint: { text: t("businesses.form.trading_name.hint"), classes: "govuk-!-font-size-16" },
          id: "trading_name",
          classes: "govuk-!-width-two-thirds"
        ) %>
        <%= govukInput(
          form: form,
          key: :legal_name,
          label: { text: t("businesses.form.legal_name.label") },
          hint: { html: t("businesses.form.legal_name.hint_html"), classes: "govuk-!-font-size-16" },
          id: "legal_name",
          classes: "govuk-!-width-two-thirds"
        ) %>
        <%= govukInput(
          form: form,
          key: :company_number,
          label: { text: t("businesses.form.company_number.label") },
          hint: { html: t("businesses.form.company_number.hint_html"), classes: "govuk-!-font-size-16" },
          id: "company_number",
          classes: "govuk-!-width-one-third"
        ) %>
      </fieldset>
      <%= form.fields_for :locations, @bulk_products_upload.investigation_business.business.primary_location do |ff| %>
        <%= render "locations/address_form", form: ff, countries: @countries %>
      <% end %>
      <%= form.fields_for :contacts, @bulk_products_upload.investigation_business.business.primary_contact do |ff| %>
        <%= render "contacts/form", form: ff %>
      <% end %>
      <div class="govuk-button-group">
        <%= form.submit "Continue", class: "govuk-button" %>
      </div>
    </div>
  </div>
<% end %>
