<% page_heading = "Choose products that require the same corrective action - Upload multiple products" %>
<% page_title page_heading, errors: @bulk_products_choose_products_for_corrective_actions_form.errors.any? %>
<% content_for :after_header do %>
  <%= govuk_back_link(href: review_products_bulk_upload_products_path(product_ids: @products.ids)) %>
<% end %>
<%= form_with model: @bulk_products_choose_products_for_corrective_actions_form, url: choose_products_for_corrective_actions_bulk_upload_products_path, method: :put, data: { controller: "checkbox-select-all" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= form.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Upload multiple products</span>
        Choose products that require the same corrective action
      </h1>
      <p class="govuk-body">Select all that are applicable.</p>
      <%= form.govuk_check_boxes_fieldset(:product_ids, legend: nil) do %>
        <% if @products.length > 1 %>
          <%= form.govuk_check_box :product_ids, "select_all", label: { text: "Select all" }, "data-checkbox-select-all-target": "checkboxAll" %>
          <%= form.govuk_check_box_divider %>
        <% end %>
        <% @products.decorate.each_with_index do |product, index| %>
          <%= form.govuk_check_box :product_ids, product.id, label: { text: product.name_with_brand }, "data-checkbox-select-all-target": "checkbox", link_errors: index.zero? %>
        <% end %>
      <% end %>
      <div class="govuk-button-group">
        <%= form.hidden_field :random_uuid, value: SecureRandom.uuid %>
        <%= form.govuk_submit("Continue") %>
      </div>
    </div>
  </div>
<% end %>
