<% page_heading = "Add the business to the notification - Upload multiple products" %>
<% page_title page_heading, errors: @bulk_products_add_business_type_form.errors.any? %>
<% content_for :after_header do %>
  <%= govuk_back_link(href: create_case_bulk_upload_products_path) %>
<% end %>
<%= form_with model: @bulk_products_add_business_type_form, url: create_business_bulk_upload_products_path, method: :put, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= form.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Upload multiple products</span>
        Add the business to the notification
      </h1>
      <%= form.govuk_radio_buttons_fieldset(:type, legend: { text: "What is the business type?", size: "m" }, hint: { text: "What is the business role as an economic operator in the supply chain?" }) do %>
        <%= form.govuk_radio_button :type, "retailer", label: { text: t("investigations.business_types.new.types.retailer.label") }, hint: { text: t("investigations.business_types.new.types.retailer.hint") }, link_errors: true %>
        <%= form.govuk_radio_button :type, "online_seller", label: { text: t("investigations.business_types.new.types.online_seller.label") }, hint: { text: t("investigations.business_types.new.types.online_seller.hint") } %>
        <%= form.govuk_radio_button :type, "online_marketplace", label: { text: t("investigations.business_types.new.types.online_marketplace.label") }, hint: { text: t("investigations.business_types.new.types.online_marketplace.hint") } do %>
          <%= form.govuk_radio_buttons_fieldset(:online_marketplace_id, legend: nil, small: true) do %>
            <% number_of_marketplaces = @online_marketplaces.length %>
            <% online_marketplace_first_half = @online_marketplaces.slice(0..number_of_marketplaces/2) %>
            <% online_marketplace_second_half = @online_marketplaces.slice(number_of_marketplaces/2+1, number_of_marketplaces) %>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <% online_marketplace_first_half.each do |marketplace| %>
                  <%= form.govuk_radio_button :online_marketplace_id, marketplace.id, label: { text: marketplace.name }, class: ["js-radio-handle-other"] %>
                <% end %>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <% online_marketplace_second_half.each do |marketplace| %>
                  <%= form.govuk_radio_button :online_marketplace_id, marketplace.id, label: { text: marketplace.name }, class: ["js-radio-handle-other"] %>
                <% end %>
              </div>
            </div>
            <%= form.govuk_text_field(:other_marketplace_name, label: { text: t("investigations.business_types.new.types.other.label"), size: "m" }, class: ["js-input-handle-other"]) %>
          <% end %>
        <% end %>
        <%= form.govuk_radio_button :type, "manufacturer", label: { text: t("investigations.business_types.new.types.manufacturer.label") } %>
        <%= form.govuk_radio_button :type, "exporter", label: { text: t("investigations.business_types.new.types.exporter.label") } %>
        <%= form.govuk_radio_button :type, "importer", label: { text: t("investigations.business_types.new.types.importer.label") } %>
        <%= form.govuk_radio_button :type, "fulfillment_house", label: { text: t("investigations.business_types.new.types.fulfillment_house.label") } %>
        <%= form.govuk_radio_button :type, "distributor", label: { text: t("investigations.business_types.new.types.distributor.label") } %>
        <%= form.govuk_radio_button :type, "authorised_representative", label: { text: t("investigations.business_types.new.types.authorised_representative.label") } do %>
          <%= form.govuk_radio_buttons_fieldset(:authorised_representative_choice, legend: nil) do %>
            <%= form.govuk_radio_button :authorised_representative_choice, t("investigations.business_types.new.types.authorised_representative.uk.value"), label: { text: t("investigations.business_types.new.types.authorised_representative.uk.label") }, link_errors: true %>
            <%= form.govuk_radio_button :authorised_representative_choice, t("investigations.business_types.new.types.authorised_representative.eu.value"), label: { text: t("investigations.business_types.new.types.authorised_representative.eu.label") } %>
          <% end %>
        <% end %>
        <%= form.govuk_radio_button :type, "responsible_person", label: { text: t("investigations.business_types.new.types.responsible_person.label") } %>
      <% end %>
      <div class="govuk-button-group">
        <%= form.govuk_submit("Continue") %>
      </div>
    </div>
  </div>
<% end %>
