<% page_heading = "Review details of the products you are uploading - Upload multiple products" %>
<% page_title page_heading, errors: @bulk_products_review_products_form.errors.any? %>
<% content_for :after_header do %>
  <%= govuk_back_link(href: resolve_duplicate_products_bulk_upload_products_path) %>
<% end %>
<%= form_with model: @bulk_products_review_products_form, url: review_products_bulk_upload_products_path(barcodes: params[:barcodes], product_ids: params[:product_ids]), method: :put, multipart: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Upload multiple products</span>
        Review details of the products you are uploading
      </h1>
      <% @products_to_review_length = @products_to_review.length - 1 %>
      <% @products_to_review.each_with_index do |data, index| %>
        <% product = data[:product].decorate %>
        <% investigation_product = data[:investigation_product] %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <% if product.virus_free_images.present? %>
              <%= image_tag(product.virus_free_images.first.file_upload, alt: product.virus_free_images.first.file_upload.filename, class: "opss-details-img") %>
            <% else %>
              <%= image_tag("no-product-image.jpg", width: 200, height: 200, alt: "No product image available", class: "opss-details-img") %>
              <% if product.id.nil? %>
                <div data-controller="add-remove" data-add-remove-template-id="product-image-upload-field-<%= product.barcode %>">
                  <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" data-action="click->add-remove#add" data-add-remove-target="addLink">Add product image</a>
                  </p>
                  <div data-add-remove-target="item"></div>
                </div>
                <template id="product-image-upload-field-<%= product.barcode %>">
                  <%# This field does not use the Design System helpers because it uses multiple levels of nesting for the name %>
                  <div class="govuk-form-group">
                    <%= label_tag("product-image-upload-#{product.barcode}", "Upload a file", class: "govuk-label govuk-label--s") %>
                    <%= file_field_tag(
                      "bulk_products_review_products_form[images][#{product.barcode}]",
                      id: "product-image-upload-#{product.barcode}",
                      class: "govuk-file-upload"
                    ) %>
                  </div>
                  <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" data-action="click->add-remove#remove">Remove product image</a>
                  </p>
                </template>
              <% end %>
            <% end %>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m"><%= sanitize(product.name_with_brand) %></h2>
            <%=
              govuk_summary_list(actions: false) do |summary_list|
                summary_list.with_row do |row|
                  row.with_key(text: "Product category")
                  row.with_value(text: product.category)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Product subcategory")
                  row.with_value(text: product.subcategory)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Customs code")
                  row.with_value(text: investigation_product&.customs_code)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Country of origin")
                  row.with_value(text: country_from_code(product.country_of_origin))
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Barcode")
                  row.with_value(text: product.barcode)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Product description")
                  row.with_value(text: product.description)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "How many units affected?")
                  row.with_value(text: investigation_product&.number_of_affected_units)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Manufacturer's brand name")
                  row.with_value(text: product.brand)
                end
                summary_list.with_row do |row|
                  row.with_key(text: "Batch number")
                  row.with_value(text: investigation_product&.batch_number)
                end
              end
            %>
          </div>
        </div>
        <% if index < @products_to_review_length %>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <% end %>
      <% end %>
      <div class="govuk-button-group">
        <%= form.hidden_field :random_uuid, value: SecureRandom.uuid %>
        <%= form.govuk_submit("Continue") %>
        <%= govuk_button_link_to("Cancel and re-upload", cancel_and_reupload_bulk_upload_products_path, secondary: true) %>
      </div>
    </div>
  </div>
<% end %>
