<% content_for :page_title, "Is the product or hazard of a type where a serious risk can generally be deemed to exist?" %>
<% @back_link_href = root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @prism_risk_assessment, url: serious_risk_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <%=
        f.govuk_collection_radio_buttons :risk_type,
        [
          OpenStruct.new(id: "serious_risk", name: "Yes"),
          OpenStruct.new(id: "normal_risk", name: "No")
        ],
        :id,
        :name,
        legend: { text: "Is the product or hazard of a type where a serious risk can generally be deemed to exist?", size: "l" },
        hint: { text: 'For example, products containing prohibited chemicals, non-compliant category III personal protective equipment and other products covered within the <abbr title="Office for Product Safety and Standards">OPSS</abbr> "<a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1121889/prism-products-and-hazards-deemed-serious-risk-v01.pdf" class="govuk-link" target="_blank" rel="noreferrer noopener">Products and hazards deemed serious risk</a>" guide.'.html_safe },
        bold_labels: false,
        inline: true
      %>
      <%= govuk_details(summary_text: "Help with understanding serious risk products") do %>
        <p>
          In some, limited circumstances it is appropriate to treat a non-compliant product as likely to present a serious risk, without the need to undertake a full risk assessment.
        </p>
        <p>
          For further information please refer to the OPSS guide on products and hazards deemed serious risk:
        </p>
        <p>
          <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1121889/prism-products-and-hazards-deemed-serious-risk-v01.pdf" class="govuk-link" target="_blank" rel="noreferrer noopener">Products and hazards deemed serious risk<span class="govuk-visually-hidden"> (opens in new tab)</span></a> (PDF, 105 KB, 2 pages)
        </p>
      <% end %>
      <% if params[:investigation_id].present? %>
        <%= f.hidden_field :investigation_id, value: params[:investigation_id] %>
      <% end %>
      <% if params[:product_ids].present? %>
        <% params[:product_ids].each do |product_id| %>
          <%= f.hidden_field :product_ids, value: product_id, multiple: true %>
        <% end %>
      <% end %>
      <% if params[:product_id].present? %>
        <%= f.hidden_field :product_id, value: params[:product_id] %>
      <% end %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
