<% page_heading = "Edit corrective action" %>
<% page_title page_heading %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_corrective_action_path(@investigation, @corrective_action_form.id)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @corrective_action_form, scope: :corrective_action, url: investigation_corrective_action_path(@investigation, @corrective_action_form.id), method: :put, builder: ApplicationFormBuilder, html: { novalidate: true }, local: true do |form| %>
      <%= error_summary(@corrective_action_form.errors, %i[action date_decided legislation has_online_recall_information online_recall_information measure_type duration geographic_scope related_file]) %>

      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
      <h1 class="govuk-heading-l"><%= page_heading %></h1>

      <%= render "form",
                 form: form,
                 allow_product_linking: true,
                 allow_business_linking: true,
                 corrective_action: @corrective_action_form,
                 investigation: @investigation
      %>

      <% file_field = capture do %>
        <%= form.hidden_field :existing_document_file_id %>
        <%= render "related_attachment_fields", form: form, file_blob: @file_blob, attachment_name: :file %>
      <% end %>
      <%= form.hidden_field :related_file, value: nil %>

      <% remove_file_text = @corrective_action_form.related_file? ? "Remove attached file" : "No" %>

      <%= form.govuk_radios :related_file,
         legend: "Are there any files related to the action?",
         items: [
           { text: "Yes", value: "true", conditional: { html: file_field }, checked: @corrective_action_form.document.present? },
           { text: remove_file_text, value: "off" }
         ]
      %>

      <%= govukButton text: "Update corrective action" %>
    <% end %>
  </div>
</div>
