<% page_title = "Record corrective action" %>
<%= page_title page_title, errors: @corrective_action_form.errors.any? %>
<%= form_with model: @corrective_action_form, scope: :corrective_action, local: true, url: investigation_corrective_actions_path(@investigation.pretty_id), method: :post, html: { novalidate: true }, builder: ApplicationFormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@corrective_action_form.errors, %i[action date_decided legislation has_online_recall_information online_recall_information measure_type duration geographic_scopes related_file]) %>

      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
      <h1 class="govuk-heading-l"><%= page_title %></h1>

      <%= render "form",
                 form: form,
                 corrective_action: @corrective_action_form,
                 investigation: @investigation,
                 file_blob: @file_blob,
                 allow_product_linking: true,
                 allow_business_linking: true %>

      <% file_field = capture do %>
        <%= form.hidden_field :existing_document_file_id %>
        <%= render "related_attachment_fields", form: form, file_blob: @file_blob, attachment_name: :file %>
      <% end %>

      <%= form.govuk_radios :related_file,
         legend: "Are there any files related to the action?",
         items: [
           { text: "Yes", value: "true", conditional: { html: file_field }},
           { text: "No", value: "off"}
         ]
      %>

      <%= govukButton(text: "Continue") %>
    </div>
  </div>
<% end %>
