<% page_heading = t(".title") %>
<% page_title page_heading, errors: @coronavirus_related_form.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>
<%= form_with scope: :investigation, model: @coronavirus_related_form, url: investigation_coronavirus_related_path(@investigation), method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary @coronavirus_related_form.errors %>

      <%= render "form_components/govuk_radios", form: form, key: :coronavirus_related,
                 fieldset: { legend: { text: page_heading, classes: "govuk-fieldset__legend--l", isPageHeading: true } },
                 hint: { text: t(".hint") },
                 items: [{ text: t(".yes_label"), value: "true", id: "coronavirus_related" },
                         { text: t(".no_label"), value: "false" }] %>

      <div class="govuk-form-group">
        <%= govukButton(text: t(".submit_button")) %>
        <p><%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link--no-visited-state" %></p>
      </div>
    </div>
  </div>
<% end %>
