<section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">
  <h2 class="govuk-heading-m">Filters<span class="govuk-visually-hidden">:</span></h2>

  <%= govukSkipLink(text: "Skip to results", href: "#results") %>

  <%= render "investigations/coronavirus_and_risk_level_radios", form: form %>
  <%= render "investigations/case_owner_radios", form: form %>


  <%= govukDetails(summaryText: "More options", classes: "opss-details--plain", id: "filter-details") do %>
    <%= render "investigations/teams_with_access_radios", form: form %>
    <%= render "investigations/case_creator_radios", form: form %>
    <%= render "investigations/case_type_radios", form: form %>
    <%= render "investigations/case_status_radios", form: form %>
  <% end %>

  <div class="govuk-button-group">
    <%= form.submit "Apply", name: nil, class: "govuk-button" %>

    <%= form.button "Reset", name: nil, type: "reset", class: "govuk-button opss-button-link govuk-!-font-size-16 opss-nojs-hide", data: { "opss-clear-on-reset" => "trigger" } %>
  </div>

</section>
