<tbody class="govuk-table__body" data-cy-case-id="<%= investigation.pretty_id %>">
  <tr class="govuk-table__row" id="<%= dom_id investigation, :title %>" aria-rowindex="<%= calculate_row_index(investigation_counter, 1) %>">
    <th scope="row" class="govuk-table__header" colspan="5" headers="case">
      <span id="desc-<%= investigation.id %>" class="govuk-visually-hidden">
        Notification number: <%= investigation.pretty_id %>.
        <%= non_search_cases_page_names.include?(@page_name) ? "Created: #{investigation.created_at.to_formatted_s(:govuk)}" : "Owner: #{investigation_owner(investigation)}" %>.
        <%= @page_name == "assigned_cases" ? "Assigner: #{sanitize(investigation.owner_team&.name)}" : "Hazard type: #{sanitize(investigation.hazard_type.presence || "Not provided")}" %>.
        Product count: <%= pluralize investigation.products.count, "product" %>.
        <%= sorted_by == SortByHelper::SORT_BY_CREATED_AT ? "Created: #{time_ago_in_words(investigation.created_at)} ago" : "Updated: #{date_or_recent_time_ago investigation.updated_at}" %>.
      </span>
      <%= link_to sanitize(investigation.title), investigation_path(investigation), class: "govuk-link govuk-link--no-visited-state", "aria-describedby": "desc-#{investigation.id}" %>
    </th>
  </tr>
  <tr class="govuk-table__row" id="<%= dom_id investigation, :meta %>" aria-rowindex="<%= calculate_row_index(investigation_counter, 2) %>">
    <th headers="case" id="<%= dom_id investigation, :meta_header %>" class="govuk-visually-hidden">
      Metadata
    </th>
    <td headers="case <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
      <%= investigation.pretty_id %>
    </td>

    <% if non_search_cases_page_names.include? @page_name %>
      <td headers="casecreated <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= investigation.created_at.to_formatted_s(:govuk) %>
      </td>
    <% else %>
      <td headers="caseowner <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= investigation_owner(investigation) %>
      </td>
    <% end %>

    <% if @page_name == "assigned_cases" %>
      <td headers="assigner <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= sanitize(investigation.owner_team&.name) %>
      </td>
    <% else %>
      <td headers="haztype <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= sanitize(investigation.hazard_type.presence || "Not provided") %>
      </td>
    <% end %>

    <td headers="prodcount <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
      <%= pluralize investigation.products.count, "product" %>
    </td>

    <% if sorted_by == SortByHelper::SORT_BY_CREATED_AT %>
      <td headers="created <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= "#{time_ago_in_words(investigation.created_at)} ago" %>
      </td>
    <% else %>
      <td headers="updated <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= date_or_recent_time_ago investigation.updated_at %>
      </td>
    <% end %>
  </tr>

  <%= render "investigations/status_table_row", investigation: investigation, investigation_counter: investigation_counter %>
</tbody>
