<% displayable_highlights = get_displayable_highlights(highlights, investigation) %>

<tbody class="govuk-table__body" data-cy-case-id="<%= investigation.pretty_id %>">
  <tr class="govuk-table__row" id="<%= dom_id investigation, :title %>" aria-rowindex="<%= calculate_row_index(investigation_counter, 1) %>">
    <th scope="row" class="govuk-table__header" colspan="5" headers="case" id="item_investigation_<%= investigation.id %>">
      <% description_id = screen_reader_description_id("notification", investigation) %>
      <span id="<%= description_id %>" class="govuk-visually-hidden">
        <%= notification_screen_reader_description(investigation, @page_name) %>
        <%= sorted_by == SortByHelper::SORT_BY_CREATED_AT ? "Created: #{time_ago_in_words(investigation.created_at)} ago" : "Updated: #{date_or_recent_time_ago investigation.updated_at}" %>.
      </span>
      <%= link_to sanitize(investigation.title), 
                  investigation_path(investigation), 
                  class: "govuk-link govuk-link--no-visited-state", 
                  "aria-describedby": description_id %>
    </th>
  </tr>

  <tr class="govuk-table__row" id="<%= dom_id investigation, :meta %>" aria-rowindex="<%= calculate_row_index(investigation_counter, 2) %>">
    <th headers="case" id="<%= dom_id investigation, :meta_header %>" class="govuk-visually-hidden">
      Metadata
    </th>
    <td headers="case <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
      <%= investigation.pretty_id %>
    </td>
    <td headers="caseowner <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
      <%= sanitize(investigation.owner_display_name_for(viewer: current_user)) %>
    </td>
    <% if sorted_by == SortByHelper::SORT_BY_CREATED_AT %>
      <td headers="created <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= "#{time_ago_in_words(investigation.created_at)} ago" %>
      </td>
    <% else %>
      <td headers="updated <%= dom_id investigation, :meta_header %>" class="govuk-table__cell">
        <%= "#{time_ago_in_words(investigation.updated_at)} ago" %>
      </td>
    <% end %>
  </tr>
  <%= render "investigations/status_table_row", investigation: investigation, investigation_counter: investigation_counter %>
  <% if displayable_highlights.any? %>
    <tr class="govuk-table__row">
      <th headers="<%= dom_id investigation, :item %>" id="<%= dom_id investigation, :keywords %>" class="govuk-visually-hidden">
        Matching keywords
      </th>
      <td headers="case <%= dom_id investigation, :item %> <%= dom_id investigation, :keywords %>" colspan="4" class="govuk-table__cell">
        <% displayable_highlights.each do |highlight| %>
          <span class="govuk-!-font-size-16"><%= sanitize(highlight[:label]) %>: <%= sanitize(highlight[:content]) %>. </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
