<% displayable_highlights = get_displayable_highlights(highlights, investigation) %>

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th class="govuk-visually-hidden">
      Notification title
    </th>
    <th id="<%= dom_id investigation, :item %>" colspan="4" scope="colgroup" class="govuk-table__header">
      <%= link_to sanitize(investigation.title), investigation_path(investigation), class: "govuk-link govuk-link--no-visited-state" %>
    </th>
  </tr>
  <tr class="govuk-table__row">
    <th headers="<%= dom_id investigation, :item %>" id="<%= dom_id investigation, :meta %>" class="govuk-visually-hidden">
      Metadata
    </th>
    <td headers="case <%= dom_id investigation, :item %> <%= dom_id investigation, :meta %>" class="govuk-table__cell">
      <%= investigation.pretty_id %>
    </td>
    <td headers="caseowner <%= dom_id investigation, :item %> <%= dom_id investigation, :meta %>" class="govuk-table__cell">
      <%= sanitize(investigation.owner_display_name_for(viewer: current_user)) %>
    </td>
    <% if sorted_by == SortByHelper::SORT_BY_CREATED_AT %>
      <td headers="created <%= dom_id investigation, :item %> <%= dom_id investigation, :meta %>" class="govuk-table__cell">
        <%= "#{time_ago_in_words(investigation.created_at)} ago" %>
      </td>
    <% else %>
      <td headers="updated <%= dom_id investigation, :item %> <%= dom_id investigation, :meta %>" class="govuk-table__cell">
        <%= "#{time_ago_in_words(investigation.updated_at)} ago" %>
      </td>
    <% end %>
  </tr>
  <%= render "investigations/status_table_row", investigation: investigation %>
  <% if displayable_highlights.any? %>
    <tr class="govuk-table__row">
      <th headers="<%= dom_id investigation, :item %>" id="<%= dom_id investigation, :keywords %>" class="govuk-visually-hidden">
        Matching keywords
      </th>
      <td headers="case <%= dom_id investigation, :item %> <%= dom_id investigation, :keywords %>" colspan="4" class="govuk-table__cell">
        <% displayable_highlights.each do |highlight| %>
          <span class="govuk-!-font-size-16"><%= sanitize(highlight[:label]) %>: <%= sanitize(highlight[:content]) %>. </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
