<%= render "investigations/pages_top", investigation: investigation %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= investigation.pretty_description %></span>
    <h1 class="govuk-heading-l"><%= case_page_heading %></h1>
    <hr class="govuk-section-break govuk-section-break--l">
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <% if current_tab ||= nil %>
    <%= investigation_sub_nav(investigation, current_tab: current_tab) %>
  <% end %>

  <section id="page-content" class="govuk-grid-column-three-quarters" role="region">
    <%= yield %>
  </section>
</div>
