<% if search_terms.present? %>
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= number_of_cases_in_english %> matching keyword(s) <span class="govuk-!-font-weight-bold"><%= search_terms %></span>,<span class="opss-filter-txt"> using the current filters,</span> <%= word %> found.
    </p>
  </div>
<% else %>
<div class="govuk-grid-column-full">
  <p class="govuk-body">
    <%= number_of_cases_in_english %> <span class="opss-filter-txt"> using the current filters,</span> <%= word %> found.
  </p>
</div>
<% end %>
