<nav aria-label="Secondary">
  <ul class="govuk-list opss-left-nav">
    <% if @page_name == "your_cases" %>
      <li class="opss-left-nav__active">
    <% else %>
      <li>
    <% end %>
        <%= link_to "Your cases", your_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state", 'aria-current':("page" if @page_name == "your_cases") %>
      </li>

    <% if @page_name == "team_cases" %>
      <li class="opss-left-nav__active">
    <% else %>
      <li>
    <% end %>
        <%= link_to "Team cases", team_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state", 'aria-current':("page" if @page_name == "team_cases") %>
      </li>

    <% if @page_name == "assigned_cases" %>
      <li class="opss-left-nav__active">
    <% else %>
      <li>
    <% end %>
        <%= link_to "Assigned cases", assigned_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state", 'aria-current':("page" if @page_name == "assigned_cases") %>
      </li>

    <% unless non_search_cases_page_names.include? @page_name %>
      <li class="opss-left-nav__active">
    <% else %>
      <li>
    <% end %>
        <% if current_user.can_access_new_search? %>
          <%= link_to "All cases – Search", notifications_path, class: "govuk-link govuk-link--no-visited-state", 'aria-current':("page" unless non_search_cases_page_names.include? @page_name) %>
        <% else %>
          <%= link_to "All cases – Search", all_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state", 'aria-current':("page" unless non_search_cases_page_names.include? @page_name) %>
        <% end %>
      </li>
  </ul>
</nav>
