<% page_heading = "Delete the case" %>

<%= page_title page_heading %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
            Delete the case
          </h1>
          <%= govuk_warning_text(text: "Case #{@investigation.pretty_id} – including its images and supporting information – will be deleted.") %>
          <div class="govuk-button-group govuk-!-margin-top-8">
            <%= form_with url: investigation_path(@investigation), method: :delete, local: true do |form| %>
              <%= form.submit  "Delete the case", class: "govuk-button govuk-link--no-underline govuk-button--warning" %>
              <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
