<% page_heading = "Notification created" %>

<%= page_title page_heading %>

<% banner_content = capture do %>
  <h1 class="govuk-heading-l"><%= page_heading %></h1>
  <p class="govuk-body"><%= "Notification ID: #{@investigation&.pretty_id}" %></p>
  <p class="govuk-body">
    A confirmation email has been sent to <strong><%= current_user.email %></strong>.
  </p>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govukNotificationBanner html: banner_content %>
    <p class="govuk-body">
      <% # TODO: this should be the case owner, shown as 'you' if the case owner
         # is the case creator. %>
      You are now the notification owner for
      <strong><%= @investigation.title %></strong>.
    </p>

    <p class="govuk-body">If you need to, you can add more information later.</p>

    <%= govukButton(
      text: "View notification",
      href: investigation_path(@investigation)
    ) %>

    <div>
      <%= link_to "Home", root_path_for(current_user), class: "govuk-link app-block-link govuk-body" %>
    </div>
  </div>
</div>
