<%= page_title "Cases" %>

<%= render 'investigations/heading', answer: @answer %>

<div class="govuk-grid-row">
  <%= render 'investigations/filters',
    search: @search,
    show_relevancy_radion_option: false,
    submitted_from: "investigation_listing"
  %>

  <section class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <%= search_result_statement(@search.q, @answer.results.total_entries) %>
    </div>
    <div class="govuk-grid-row">
      <% if @investigations.any? %>
        <div class="govuk-grid-column-full" role="region" aria-label="Cases">
          <table id="results" class="govuk-table opss-table-items opss-table-items--sm">
            <caption class="govuk-visually-hidden">
              Cases data: 4 columns with each case described across rows within each table body.
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-visually-hidden">&nbsp;</th>
                <th id="allegation" scope="col" class="govuk-table__header">Case number</th>
                <th id="caseowner" scope="col" class="govuk-table__header">Case owner</th>
                <% if query_params[:sort_by] == SearchParams::NEWEST %>
                  <th id="created" scope="col" class="govuk-table__header">Created</th>
                <% elsif query_params[:sort_by] == SearchParams::RECENT || SearchParams::OLDEST || query_params[:sort_by] == SearchParams::RELEVANT %>
                  <th id="updated" scope="col" class="govuk-table__header">Updated</th>
                <% end %>
              </tr>
            </thead>

            <%= render partial: "investigations/table_body",
              collection: @investigations,
              as: :investigation,
              locals: { sorted_by: query_params[:sort_by] }
            %>

            <% if @investigations.size > 12 %>
              <tfoot class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-visually-hidden">&nbsp;</th>
                  <th scope="col" class="govuk-table__header">Case number</th>
                  <th scope="col" class="govuk-table__header">Case owner</th>
                  <% if query_params[:sort_by] == SearchParams::NEWEST %>
                    <th id="created" scope="col" class="govuk-table__header">Created</th>
                  <% elsif query_params[:sort_by] == SearchParams::RECENT || SearchParams::OLDEST || query_params[:sort_by] == SearchParams::RELEVANT %>
                    <th id="updated" scope="col" class="govuk-table__header">Updated</th>
                  <% end %>
                </tr>
              </tfoot>
            <% end %>
          </table>

          <%= will_paginate @investigations %>

          <% if policy(Investigation).export? %>
            <p class="govuk-body govuk-!-padding-bottom-1 govuk-!-margin-bottom-0 govuk-!-font-size-14">
              Request this list as a downloadable <%= link_to generate_case_exports_path(params: export_params), class: "govuk-link govuk-link--no-visited-state" do -%><abbr title="Comma-Separated Values">CSV</abbr> file<%- end -%>.
            </p>
          <% end %>
        </div>
      <% else %>
        <div class="govuk-heading-l" style="text-align:center">
          No results
        </div>
      <% end %>
    </div>
  </section>
</div>
