<%= page_title I18n.t(".investigations.titles.#{@page_name}") %>

<%= render "investigations/heading/#{@page_name}", answer: @answer %>

<%= form_with(model: @search, scope: "", url: investigations_search_path, method: :get, local: true, id: "cases-search-form", html: { novalidate: true, role: "search" }) do |form| %>
  <div class="govuk-grid-row opss-full-height">
    <%= render 'investigations/filters', search: @search, form: form %>
    <section class="govuk-grid-column-three-quarters" id="page-content">
      <% if non_search_cases_page_names.exclude?(@page_name) %>
        <div class="govuk-grid-row">
          <%= render 'investigations/search_bar', form: form %>
          <%= render_sort_by form, @search.sort_by_items(with_relevant_option: false), @search.selected_sort_by, @search.selected_sort_dir if (@answer.total_count && @answer.total_count > 11) %>
        </div>
        <div class="govuk-grid-row">
          <%= search_result_statement(@search.q, @count) %>
        </div>
      <% else %>
        <div class="govuk-grid-row">
          <%= render_sort_by(form, @search.sort_by_items(with_relevant_option: false), @search.selected_sort_by, @search.selected_sort_dir, "govuk-grid-column-one-third opss-float-right-desktop") if (@answer.total_count && @answer.total_count > 11) %>
        </div>
      <% end %>

      <% if @investigations.any? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" role="region" aria-label="Cases">
            <table class="govuk-table opss-table-items opss-table-items--sm">
              <caption class="govuk-visually-hidden">
                Cases data: 5 columns with each case described across rows within each table body.
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-visually-hidden">&nbsp;</th>
                  <th id="case" scope="col" class="govuk-table__header">Case number</th>
                  <% if non_search_cases_page_names.include? @page_name %>
                    <th id="casecreated" scope="col" class="govuk-table__header">Case created</th>
                  <% else %>
                    <th id="caseowner" scope="col" class="govuk-table__header">Case owner</th>
                  <% end %>

                  <% if @page_name == "assigned_cases" %>
                    <th id="assigner" scope="col" class="govuk-table__header">Assigner</th>
                  <% else %>
                    <th id="haztype" scope="col" class="govuk-table__header">Hazard type</th>
                  <% end %>
                  <% if query_params[:sort_by] == SortByHelper::SORT_BY_CREATED_AT && non_search_cases_page_names.exclude?(@page_name) %>
                    <th id="created" scope="col" class="govuk-table__header">Created</th>
                  <% else %>
                    <th id="updated" scope="col" class="govuk-table__header">Updated</th>
                  <% end %>
                </tr>
              </thead>

              <%= render partial: "investigations/table_body",
                collection: @investigations,
                as: :investigation,
                locals: { sorted_by: query_params[:sort_by], page_name: @page_name }
              %>

              <% if @investigations.size > 11 %>
                <tfoot class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-visually-hidden">&nbsp;</th>
                    <th scope="col" class="govuk-table__header">Case number</th>
                    <th scope="col" class="govuk-table__header">Case <%= non_search_cases_page_names.include?(@page_name) ? "created" : "owner" %></th>
                    <th scope="col" class="govuk-table__header">Hazard type</th>
                    <% if query_params[:sort_by] == SortByHelper::SORT_BY_CREATED_AT && non_search_cases_page_names.exclude?(@page_name) %>
                      <th scope="col" class="govuk-table__header">Created</th>
                    <% else %>
                      <th scope="col" class="govuk-table__header">Updated</th>
                    <% end %>
                  </tr>
                </tfoot>
              <% end %>
            </table>

            <%= paginate @investigations.object %>
          </div>
        </div>
      <% elsif non_search_cases_page_names.include?(@page_name)%>
        <%= render "investigations/no_cases" %>
      <% end %>
    </section>
  </div>
<% end %>
