<%= page_title "New project", errors: @investigation.errors.any? %>
<% content_for :after_header do %>
  <%= link_to "Back to notifications", investigations_path, class: "govuk-back-link" %>
<% end %>

<%= form_with(model: @investigation, scope: :investigation, url: wizard_path, method: :put, local: true) do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= govukErrorSummary form: form %>
      <h1 class="govuk-heading-l">New project</h1>

      <%= govukInput(
        key: :user_title,
        form: form,
        attributes: { maxlength: 100 },
        label: { text: "Please provide a title", classes: "govuk-label--m" },
        hint: { text: "This will help other users identify this project" }
      ) %>

      <%= govukTextarea(
        key: :description,
        form: form,
        attributes: { maxlength: 10_000 },
        label: { text: "Project summary", classes: "govuk-label--m" }
      ) %>

      <%= govukButton text: "Create project" %>
    </div>
  </div>
<% end %>
