<% page_title "Is this the same product?", errors: @product_barcode_lookup_confirmation_form.errors.any? %>
<%= form_with model: @product_barcode_lookup_confirmation_form, url: confirm_product_duplicate_checks_path(product_id: @barcode_lookup_product.id), html: {novalidate: true}, local: true, builder: ApplicationFormBuilder do |f| %>
  <%= error_summary(@product_barcode_lookup_confirmation_form.errors, %i[correct]) %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="product-hint <%= 'is-product-error' if @product_barcode_lookup_confirmation_form.errors.any? %>">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l opss-fieldset__legend">
            <h1 class="govuk-fieldset__heading">
              Product barcode search
            </h1>
          </legend>


          <div id="product-hint" class="govuk-hint">
            A product search has been carried out using the barcode number you provided. The product details are shown below.
          </div>

          <div class="govuk-grid-row">
            <section class="govuk-grid-column-three-quarters opss-panels">
              <div class="opss-panels__single">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-3"><%= @barcode_lookup_product.name_with_brand %></h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Manufacturer</dt>
                    <dd class="govuk-summary-list__value"><%= @barcode_lookup_product.manufacturer %></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Brand name</dt>
                    <dd class="govuk-summary-list__value"><%= @barcode_lookup_product.brand %></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Product name</dt>
                    <dd class="govuk-summary-list__value"><%= @barcode_lookup_product.title %></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Category</dt>
                    <dd id="barNumber" class="govuk-summary-list__value"><%= @barcode_lookup_product.category %></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Model</dt>
                    <dd class="govuk-summary-list__value">
                      <%= @barcode_lookup_product.model %>
                    </dd>
                  </div>
                </dl>

                <% if @barcode_lookup_product.has_images? %>
                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Product images
                      </span>
                    </summary>
                      <div class="govuk-details__text">
                        <% @barcode_lookup_product.image_urls.each do |url| %>
                          <%= image_tag(url, class: 'opss-details-img') %>
                        <% end %>
                      </div>
                  </details>
                <% end %>
              </div>
            </section>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-radios govuk-!-padding-top-3 govuk-!-padding-bottom-1">
              <div class="govuk-form-group <%= class_names("govuk-form-group--error" => @product_barcode_lookup_confirmation_form.errors.any?) %>">
                <% if @product_barcode_lookup_confirmation_form.errors.any? %>
                  <p id="is-product-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select yes if this is the same product
                  </p>
                <% end %>

                <%= f.hidden_field :correct, value: '' %>
                <div class="govuk-radios__item ">
                  <%= f.radio_button :correct, 'yes', class: "govuk-radios__input", id: "correct", data: { cy: "confirm-yes" } %>
                  <%= f.label :correct, class: "govuk-label govuk-radios__label", for: "correct" do %>
                    Yes &nbsp;&ndash;&nbsp; use this product record
                  <% end %>
                </div>

                <div class="govuk-radios__item">
                  <%= f.radio_button :correct, 'no', class: "govuk-radios__input", id: "correct_no", data: { cy: "confirm-no" }  %>
                  <%= f.label :correct, "No", class: "govuk-label govuk-radios__label", for: "correct_no" %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= f.submit "Continue", class: "govuk-button", role: "button", data: {module: "govuk-button", cy: "continue"} %>
    </div>
  </div>
<% end %>
