<% page_heading = "Edit the case name?" %>

<%= page_title page_heading, errors: @case_name_form.errors.any? %>
<%= govukBackLink(
  text: "Back",
  href: investigation_path(@investigation)
) %>

<%= form_with model: @case_name_form, url: investigation_case_names_path, method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "form", form: form, heading: "Edit the case name" %>

       <div class="govuk-button-group">
         <%= form.submit "Save", class: "govuk-button" %>
         <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
       </div>
    </div>
  </div>
<% end %>
