<% page_heading = @meeting.title %>
<% page_title page_heading %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.decorate.pretty_description.downcase}",
    href: investigation_supporting_information_index_path(@investigation)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Meeting</span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <div class="app-meta-area">
      <p class="govuk-body govuk-hint">
        Added <%= @meeting.created_at.to_formatted_s(:govuk) %>
      </p>
    </div>

    <% rows = [
        {
          key: { text: "Date of meeting" },
          value: { text: @meeting.correspondence_date.to_formatted_s(:govuk) }
        }
      ]

      if @meeting.correspondent_name.present?
        rows << {
          key: { text: "Meeting with" },
          value: { text: @meeting.correspondent_name }
        }
      end


      if @meeting.transcript.attached?
        rows << {
          key: { text: "Transcript" },
          value: { text: link_to(filename_with_size(@meeting.transcript), @meeting.transcript) }
        }
      end

      if @meeting.details.present?
        rows << {
          key: { text: "Notes" },
          value: { text: format_with_line_breaks(@meeting.details) }
        }
      end

    %>

    <%= govukSummaryList(rows: rows) %>

    <%= permission_notice(text: t("case.protected_details", data_type: "meeting correspondence")) %>
  </div>

  <% if @meeting.related_attachment.attached? %>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Attachments</h2>
      <p class="govuk-body"><%= link_to @meeting.related_attachment.filename, @meeting.related_attachment, class: "govuk-link" %></p>

      <%= document_placeholder(@meeting.related_attachment) %>

      <% if @meeting.related_attachment.blob.metadata["description"].present? %>
        <p class="govuk-body"><%= @meeting.related_attachment.blob.metadata["description"] %></p>
      <% end %>


    </div>
  <% end %>
</div>
