<% title = "Create an account" %>
<% page_title(title, errors: @user.errors.any?) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary @user.errors %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_for @user, url: { action: :update } do |form| %>

      <%= render "form_components/govuk_input", key: :email, form: form,
        formGroup: {
          classes: "govuk-visually-hidden"
        },
        label: { text: "Email address" },
        value: @user.email,
        autocomplete: "off"
        %>

      <%= render "form_components/govuk_input", key: :name, form: form,
        classes: "app-!-max-width-two-thirds",
        label: { text: "Full name" },
        value: @user.name,
        autocomplete: "name"
        %>

      <%= render "form_components/govuk_input", key: :mobile_number, form: form,
        classes: "app-!-max-width-two-thirds",
        label: { text: "Mobile number" },
        value: @user.mobile_number,
        autocomplete: "tel-national"
        %>

      <%= password_input @user, autocomplete: "new-password" %>

      <%= hidden_field_tag :invitation, params[:invitation] %>

      <%= govukButton(text: "Continue") %>

    <% end %>
  </div>
</div>
