<div class="govuk-body">
  <% if activity.metadata["overview"] %>
    Summary: <%= activity.metadata["overview"] %><br>
  <% end %>

  <% if activity.metadata["correspondence_date"] %>
    Date of email: <%= activity.correspondence_date %><br>
  <% end %>

  <% if activity.metadata["correspondent_name"] %>
    Contact: <%= activity.metadata["correspondent_name"] %><br>
  <% end %>

  <% if activity.metadata["correspondent_email"] %>
    Email address: <%= activity.metadata["correspondent_email"] %><br>
  <% end %>

  <% if activity.metadata["subject"] %>
    Subject: <%= activity.metadata["subject"] %><br>
  <% end %>

  <% if activity.metadata["details"] %>
    Email: <%= format_with_line_breaks(activity.metadata["details"]) %><br>
  <% end %>

  <% if activity.metadata["email_file_name"] %>
    Email: <%= activity.metadata["email_file_name"] %><br>
  <% end %>

  <% if activity.metadata["email_attachment_name"] %>
    Email attachment: <%= activity.metadata["email_attachment_name"] %><br>
  <% end %>

  <% if activity.metadata["email_attachment_description"] %>
    Attachment description: <%= activity.metadata["email_attachment_description"] %><br>
  <% end %>

</div>

<%= link_to "View email", investigation_email_path(activity.investigation, activity.object.id) %>
