<% page_heading = @investigation.risk_level_set? ? t(".title.change") : t(".title.set") %>
<% page_title page_heading, errors: @risk_level_form.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <p class="govuk-body">The case risk level will usually match the risk assessment.</p>

    <p class="govuk-body">It can differ from risk assessments if necessary - such as when there are conflicting assessments, or where the assessment was provided by a third party.</p>

    <div class="govuk-inset-text">
      <%= t(".risk_assessment_details_for_case_html",
        count: @investigation.risk_assessments.count,
        add_risk_assessment_href: new_investigation_risk_assessment_path(@investigation.pretty_id),
        supporting_information_href: investigation_supporting_information_index_path(@investigation.pretty_id),
        risk_assessment_href: (@investigation.risk_assessments.any? ? investigation_risk_assessment_path(@investigation.pretty_id, @investigation.risk_assessments.first.id) : nil),
        risk_assessment_risk_levels: to_sentence(@investigation.risk_assessment_risk_levels.collect {|desc| tag.strong(desc.downcase) })
      ) %>
    </div>

    <%= form_with scope: :investigation, model: @risk_level_form, url: investigation_risk_level_path(@investigation), method: :put do |form| %>
      <%= error_summary @risk_level_form.errors %>

      <%- custom = capture do %>
        <%= render "form_components/govuk_input",
                   key: :custom_risk_level,
                   form: form,
                   classes: "govuk-!-width-one-third",
                   label: { text: "Custom risk level", classes: "govuk-visually-hidden" } %>
      <% end %>

      <% radio_items = (Investigation.risk_levels.keys - ["other"]).map do |level|
          { text: t(".levels.#{level}"), value: level }
         end
         radio_items.push(text: "Other", value: "other", conditional: { html: custom })
         radio_items.push divider: "or"
         radio_items.push(text: "Not set", value: "")
      %>

      <%= render "form_components/govuk_radios", form: form, key: :risk_level,
                 fieldset: { legend: { text: t(".legend"), isPageHeading: false } },
                 items: radio_items %>

      <div class="govuk-form-group">
        <%= govukButton(text: t(".submit_button")) %>
        <p><%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link--no-visited-state" %></p>
      </div>
    <% end %>
  </div>
</div>
