<%= form.govuk_radios :is_date_known, legend: "Do you know when the #{form.object.type.downcase} happened?", items: [{ text: "Yes", value: "true", conditional: { html: form.govuk_date_input(:date, legend: "Date of #{form.object.type.downcase}", hint: "For example, 12 11 2020", classes: "govuk-fieldset__legend") } }, { text: "No", value: "false" }] %>

<% if investigation.products.uniq.one? %>
  <h2 class="govuk-heading-m"><%= "Product involved" %></h2>
  <p class="govuk-body"><%= investigation.products.first.name %></p>
  <%= form.hidden_field :investigation_product_id, value: investigation.investigation_products.first.id %>
<% else %>
  <%= form.govuk_autocomplete :investigation_product_id, label: "Which product was involved?", label_classes: "govuk-label--m", items: investigation.investigation_products.map { |investigation_product| { text: "#{investigation_product.name} (#{investigation_product.psd_ref})", value: investigation_product.id } } %>
<% end %>

<% other = capture do %>
<%= govukInput(
  key: :severity_other,
  form: form,
  classes: "govuk-!-width-one-third",
  label: { text: "Other type", classes: "govuk-visually-hidden" }
) %>
<% end %>

<%= form.govuk_radios :usage, legend: "How was the product being used?", items: [{ text: "Normal use", value: "during_normal_use" },  { text: "Misuse", value: "during_misuse" }, { text: "With the supervision of an adult", value: "with_adult_supervision" }, { text: "Without the supervision of an adult", value: "without_adult_supervision" }, { text: "Unknown use", value: "unknown_usage" }] %>

<%= form.govuk_radios :severity, legend: "Indicate the severity", items: [{ text: "Serious", value: "serious" },  { text: "High", value: "high" }, { text: "Medium", value: "medium" }, { text: "Low", value: "low" }, { text: "Unknown", value: "unknown_severity" }, { text: "Other", value: "other", conditional: { html: other } }] %>

<%= form.govuk_text_area :additional_info, label: "Additional information (optional)", attributes: { maxlength: 32_767 } %>

<%= form.hidden_field :type, value: form.object.type %>
