<% page_heading = "Record an #{@event_type}" %>
<%= page_title page_heading, errors: @accident_or_incident_form.errors.any? %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: '/'
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with model: @accident_or_incident_form, scope: :accident_or_incident, local: true, builder: ApplicationFormBuilder, method: :post, url: investigation_accident_or_incidents_path(@investigation.pretty_id) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <%= error_summary(@accident_or_incident_form.errors, [])%>

      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
      <h1 class="govuk-heading-l"><%= page_heading %></h1>

      <%= render "form", form: form, accident_or_incident_form: @accident_or_incident_form, investigation: @investigation, event_type: @event_type %>

      <%= govukButton text: "Add accident or incident" %>
    </div>
  </div>
<% end %>
