<%- page_heading = "Is this case related to the coronavirus outbreak?" %>

<%= page_title page_heading, errors: @investigation.errors.any? %>

<%= banner do %>
  <p>Coronavirus (COVID-19): OPSS is urging all market surveillance authorities to prioritise coronavirus-related cases above other work.</p>
<% end %>

<%= form_with scope: scope, model: @investigation, url: wizard_path, method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary @investigation.errors  %>
      <% if unsafe_product_message %>
        <span class="govuk-caption-l">Report an unsafe or non-compliant product</span>
      <% end %>

      <%= render "form_components/govuk_radios", form: form, key: :coronavirus_related,
              fieldset: { legend: { text: page_heading, classes: "govuk-fieldset__legend--l", isPageHeading: true } },
              hint: { text: "For example, cases relating to hand sanitiser or personal protective equipment (PPE)" },
              items: [{ text: "Yes, it is (or could be)", value: "true", id: "coronavirus_related" },
                      { text: "No, this is business as usual", value: "false" }] %>

      <%= govukButton(text: "Continue") %>
    </div>
  </div>
<% end %>
