<%= page_title I18n.t(".investigations.titles.#{@page_name}") %>

<%= render "investigations/heading/#{@page_name}" %>

<%= form_with(model: @search, scope: "", url: notifications_search_path, method: :get, id: "cases-search-form", html: { role: "search" }) do |form| %>
  <div class="govuk-grid-row opss-full-height">
    <%= render "notifications/filters", search: @search, form: form %>
    <section class="govuk-grid-column-three-quarters" id="page-content">
      <div class="govuk-grid-row">
        <%= render_sort_by(form, @search.sort_by_items(with_relevant_option: false), @search.selected_sort_by, @search.selected_sort_dir, "govuk-grid-column-one-third opss-float-right-desktop") if @submitted_count > 11 %>
      </div>

      <% if @draft_notifications.any? %>
        <%=
          govuk_table(html_attributes: { role: "table" }) do |table|
          if Flipper.enabled?(:submit_notification_reminder)
            table.with_caption(size: "m") do
                  safe_join([
                    "Draft notifications",
                    content_tag(:p, "If a notification remains in a draft status for 90 days it
                    will be automatically deleted. Please submit or delete a draft in the time frame
                    provided to help improve data quality and reporting. The 90 day period is reset
                    if an update is applied to the draft.", class: "govuk-hint")
                  ])
                end
          else
            table.with_caption(
              size: "m",
              text: "Draft notifications"
            )
          end

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: "Product name(s)", html_attributes: { scope: "col" })
                row.with_cell(text: "Notification title", html_attributes: { scope: "col" })
                row.with_cell(text: "Last updated", html_attributes: { scope: "col" })
                row.with_cell(text: "Status", html_attributes: { scope: "col" })
                row.with_cell(text: "<span class=\"govuk-visually-hidden\">Actions</span>".html_safe, html_attributes: { scope: "col" })
              end
            end

            @draft_notifications.each_with_index do |notification, index|
              table.with_body do |body|
                body.with_row do |row|
                  product_value = notification.investigation_products.decorate.map(&:product).map(&:name_with_brand).presence&.join(", ") || "Not provided"
                  title_value = notification.user_title.presence || "Not provided"
                  updated_value = notification.updated_at.to_formatted_s(:govuk)
                  status_value = "Draft"

                  row.with_cell(
                    header: true,
                    text: sanitize(notification.investigation_products.decorate.map(&:product).map(&:name_with_brand).presence&.join("<br>") || "Not provided", tags: %w(br)).html_safe
                  )
                  row.with_cell(text: sanitize(title_value))
                  row.with_cell(text: updated_value)
                  row.with_cell(text: govuk_tag(text: status_value, colour: "grey").html_safe)
                  row.with_cell(
                    text: sanitize(
                      "<span id=\"desc-#{notification.id}\" class=\"govuk-visually-hidden\">
                        Product name(s): #{product_value}.
                        Notification title: #{title_value}.
                        Last updated: #{updated_value}.
                        Status: #{status_value}.
                      </span>
                      <a href=\"#{notification_create_index_path(notification)}\" class=\"govuk-link\" aria-describedby=\"desc-#{notification.id}\">Make changes</a>
                      <hr class=\"govuk-section-break govuk-section-break--m govuk-section-break--visible\">
                      <a href=\"#{delete_notification_path(notification)}\" class=\"govuk-link\" aria-describedby=\"desc-#{notification.id}\">Delete</a>",
                      tags: %w(a hr span),
                      attributes: %w(href class id aria-describedby)
                    ).html_safe
                  )
                end
              end
            end
          end
        %>
        <%= govuk_pagination(pagy: @draft_pagy) %>
      <% end %>

      <% if @submitted_notifications.any? %>
        <%=
          govuk_table(html_attributes: { role: "table" }) do |table|
            table.with_caption(size: "m", text: "Submitted notifications")

            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(text: "Product name(s)", html_attributes: { scope: "col" })
                row.with_cell(text: "Notification title", html_attributes: { scope: "col" })
                row.with_cell(text: "Last updated", html_attributes: { scope: "col" })
                row.with_cell(text: "Status", html_attributes: { scope: "col" })
                row.with_cell(text: "<span class=\"govuk-visually-hidden\">Actions</span>".html_safe, html_attributes: { scope: "col" })
              end
            end

            @submitted_notifications.each_with_index do |notification, index|
              table.with_body do |body|
                body.with_row do |row|
                  product_value = notification.investigation_products.decorate.map(&:product).map(&:name_with_brand).join(", ")
                  title_value = notification.user_title
                  updated_value = notification.updated_at.to_formatted_s(:govuk)
                  status_value = "Submitted #{notification.submitted_at? ? notification.submitted_at.to_formatted_s(:govuk) : "Date not provided"}"

                  row.with_cell(
                    header: true,
                    text: sanitize(notification.investigation_products.decorate.map(&:product).map(&:name_with_brand).join("<br>"), tags: %w(br)).html_safe
                  )
                  row.with_cell(text: sanitize(title_value))
                  row.with_cell(text: updated_value)
                  row.with_cell(text: "#{govuk_tag(text: 'Submitted', colour: 'green').html_safe}<br><br>#{notification.submitted_at? ? notification.submitted_at.to_formatted_s(:govuk) : "Date not provided"}".html_safe)
                  row.with_cell(
                    text: sanitize(
                      "<span id=\"desc-submitted-#{notification.id}\" class=\"govuk-visually-hidden\">
                        Product name(s): #{product_value}.
                        Notification title: #{title_value}.
                        Last updated: #{updated_value}.
                        Status: #{status_value}.
                      </span>
                      <a href=\"#{notification_path(notification)}\" class=\"govuk-link\" aria-describedby=\"desc-submitted-#{notification.id}\">Update notification</a>",
                      tags: %w(a span),
                      attributes: %w(href class id aria-describedby)
                    ).html_safe
                  )
                end
              end
            end
          end
        %>
        <%= govuk_pagination(pagy: @submitted_pagy) %>
      <% end %>

      <% unless @draft_notifications.any? || @submitted_notifications.any? %>
        <%= render "investigations/no_cases" %>
      <% end %>
    </section>
  </div>
<% end %>
