<% page_heading = "Remove a user" %>
<%= page_title page_heading, errors: @remove_user_form.errors.any? %>

<% content_for :after_header do %>
  <%= govuk_back_link(href: team_path(current_user.team)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_with model: @remove_user_form, scope: :remove_user_form, local: true, builder: ApplicationFormBuilder, method: :delete, html: {novalidate: true}, url: delete_user_path do |form| %>
          <%= error_summary(@remove_user_form.errors, %i[])%>

          <% name = @user.name.blank? ? "the team member" : @user.name %>

          <%= form.govuk_radios :remove, legend: "Do you want to remove #{name} from your team?", is_page_heading: true, hint: { text: "#{name.capitalize} will no longer be able to access the Product Safety Database. Any notifications assigned to or owned by this member will be re-assigned to the team. This cannot be undone." }, classes: "govuk-radios govuk-!-padding-top-3", legend_classes: "govuk-fieldset__legend--l", items: [{ text: "Yes", value: "yes", id: "yes" }, { text: "No", value: "no", id: "no" }] %>
          <%= form.hidden_field :user_id, value: @user.id %>

          <%= govukButton text: "Save and continue", preventDoubleClick: true %>
    <% end %>
  </div>
</div>
