<% title = "Add a team to the case" %>
<% page_title title, errors: @form.errors.any? %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.decorate.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary @form.errors %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_with model: @form, url: investigation_collaborators_path(@investigation), method: :post, local: true do |form| %>

      <% team_select_items = [{text: "", value: ""}] + @teams.map { |team| { text: team.name, value: team.id, selected: (team.id == @form.team_id) } } %>
      <% if @form.errors.include?(:team_id) %>
        <% error_message = { text: @form.errors.full_messages_for(:team_id).first } %>
      <% end %>

      <%= govukSelect(
        name: "add_team_to_case_form[team_id]",
        id: "team",
        errorMessage: error_message,
        items: team_select_items,
        label: {
          text: "Choose team",
          classes: "govuk-label--s"
        },
        is_autocomplete: true,
        show_all_values: true
      ) %>

      <p class="govuk-body">We’ll email the team to let them know they’ve been added to the case.</p>

      <%= govukRadios(
        form: form,
        key: :permission_level,
        classes: "",
        fieldset: {
          legend: {
            text: "Permission level",
            is_page_heading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            id: "permission_level",
            text: "View full case",
            value: Collaboration::Access::ReadOnly.model_name.human,
            hint: {
              text: "View full case details including correspondence",
            }
          },
          {
            id: "permission_level_edit",
            text: "Edit full case",
            value: Collaboration::Access::Edit.model_name.human,
            hint: {
              text: "View and edit all case details. Cannot add or remove teams or close the case.",
            }
          }
        ]
      ) %>

      <% message_html = capture do %>
        <%= govukTextarea(
          form: form,
          key: :message,
          id: "message",
          label: {
            text: "Message to the team"
          },
          hint: {
            text: "Message will also be included on the case timeline"
          }
        ) %>
      <% end %>

      <%= govukRadios(
        form: form,
        key: :include_message,
        classes: "",
        fieldset: {
          legend: {
            text: "Do you want to include instructions or more information?"
          }
        },
        items: [
          {
            id: "include_message",
            text: "Yes, add a message",
            value: "true",
            conditional: {
              html: message_html
            }
          },
          {
            text: "No",
            value: "false"
          }
        ]
      ) %>


      <%= govukButton(text: "Add team to this case") %>
    <% end %>
  </div>
</div>
