<%= page_title "Record phone call", errors: @correspondence.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<main class="govuk-main-wrapper" role="main">
  <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
  <h1 class="govuk-heading-l">Confirm phone call details</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(
            model: @correspondence,
            local: true,
            url: investigation_phone_calls_path(@investigation),
            method: :post
          ) do |form| %>

        <%= correspondence_summary_list(@correspondence, attachments: @transcript_blob&.filename) %>
        <%= form.submit "Continue", class: "govuk-button" %>
        <%= link_to("Edit details", wizard_path(:context), class: "govuk-link psd-block-link") %>
      <% end %>
    </div>
  </div>
</main>
