<% page_heading = "How to use the Product safety database" %>
<% page_title page_heading %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-7">
      This information is for people from Trading Standards and other market surveillance authorities who are responsible for consumer product safety.
    </p>

    <nav role="navigation">
      <h2 class="govuk-body govuk-!-margin-bottom-3">Contents</h2>
      <ol class="govuk-list govuk-!-margin-bottom-7">
        <li>
          <a class="govuk-link" href="#introduction">An introduction to the Product safety database (PSD)</a>
        </li>
        <li>
          <a class="govuk-link" href="#when-to-use-the-psd">When to use the PSD</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-to-judge-the-level-of-risk">How to judge the level of risk</a>
        </li>
        <li>
          <a class="govuk-link" href="#reporting-serious-risks">Reporting serious risks</a>
        </li>
        <li>
          <a class="govuk-link" href="#what-youll-be-asked-for-when-you-report-information">What you’ll be asked for when you report information</a>
        </li>
        <li>
          <a class="govuk-link" href="#report-early-and-add-details-when-they-are-available">Report early and add details when they are available</a>
        </li>
        <li>
          <a class="govuk-link" href="#organisations-with-access-to-the-psd">Organisations with access to the PSD</a>
        </li>
        <li>
          <a class="govuk-link" href="#viewing-cases">Viewing cases</a>
        </li>
        <li>
          <a class="govuk-link" href="#restricted-cases">Restricted cases</a>
        </li>
        <li>
          <a class="govuk-link" href="#administrators-with-special-access">Administrators with special access</a>
        </li>
        <li>
          <a class="govuk-link" href="#collaborating-on-cases">Collaborating on cases</a>
        </li>
        <li>
          <a class="govuk-link" href="#using-the-psd-as-a-team">Using the PSD as a team</a>
        </li>
        <li>
          <a class="govuk-link" href="#update-your-account-details">Update your account details</a>
        </li>
        <li>
          <a class="govuk-link" href="#more-support">More support</a>
        </li>
      </ol>
    </nav>
    <h2 class="govuk-heading-m" id="introduction">
      An introduction to the Product safety database (PSD)
    </h2>

    <p>
      The Product safety database replaces RAPEX and ICSMS in the UK. It helps market surveillance authorities (MSAs) including Trading Standards (TS) teams in local authorities report, track and share product safety information.
    </p>

    <p>
      At the moment you can use it to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        report safety and compliance issues by creating ‘cases’
      </li>
      <li>
        assign cases to other local authorities or organisations, and track their progress
      </li>
      <li>
        receive alerts from OPSS about serious product safety issues
      </li>
    </ul>


    <h2 class="govuk-heading-m" id="when-to-use-the-psd">
      When to use the PSD
    </h2>

    <p>
      You should use the PSD to share information about products that do not comply with the relevant legislation.
    </p>

    <p>
      You must notify OPSS if you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        find a consumer product on the market which presents a serious risk (as determined by a risk assessment)
      </li>
      <li>
        receive a notification under Regulation 9 of the General Product Safety Regulations 2005 (GPSR)
      </li>
      <li>
        take action to restrict the availability of a consumer product on the market because it breaches the requirements of the GPSR (including withdrawal and recall)
      </li>
    </ul>

    <p>
      You should also use the PSD to share information about products that are non-compliant with the relevant product safety legislation.
    </p>


    <h2 class="govuk-heading-m" id="how-to-judge-the-level-of-risk">
      How to judge the level of risk
    </h2>

    <p>
      Use the <%= link_to "RAPEX risk assessment guidelines", "https://ec.europa.eu/consumers/consumer-safety/rag/#/screen/home", class: "govuk-link" %> to determine the level of risk and decide whether the product safety issue is ‘serious’. The assessment results will dictate how quickly you must add information about the product onto the PSD.
    </p>


    <h2 class="govuk-heading-m" id="reporting-serious-risks">
      Reporting serious risks
    </h2>

    <p>
      Until the end of the implementation period (31 December 2020), the UK still needs to pass on notifications of serious risk to the European Commission and other EU member states through RAPEX.
    </p>

    <p>
      You should add the relevant information to the PSD, and OPSS will add it to RAPEX on your behalf. When you report a product that presents a serious risk, you should:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        immediately change the case owner to OPSS Incident Management team and include ‘Serious risk notification’ in the message to the new case owner
      </li>
      <li>
        respond quickly to requests for additional information 
      </li>
    </ul>

    <p>
      OPSS is the UK national contact point for RAPEX and will pass on notifications of serious risk submitted to the PSD to RAPEX on your behalf.
    </p>

    <p>
      When OPSS receives a RAPEX alert from another EU member state about a serious risk they will add the information to the PSD. It will be visible and searchable to registered users. OPSS will then make the relevant local authority the case owner, who should take action.
    </p>


    <h2 class="govuk-heading-m" id="what-youll-be-asked-for-when-you-report-information">
      What you’ll be asked for when you report information
    </h2>

    <p>
      The details needed are similar to a RAPEX case.
    </p>

    <p>
      The PSD asks for details on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the product you are reporting
      </li>
      <li>
        the issues you have found
      </li>
      <li>
        businesses involved
      </li>
    </ul>

    <p>
      And if you have them, you can add details on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        corrective actions planned or taken
      </li>
      <li>
        test results
      </li>
      <li>
        risk assessments
      </li>
      <li>
        product and evidence images
      </li>
    </ul>

    <p>
      You must only share personal data and other information on the database if you have the necessary consent or power to do so and are acting in compliance with the law (including data protection and intellectual property law).
    </p>


    <h2 class="govuk-heading-m" id="report-early-and-add-details-when-they-are-available">
      Report early and add details when they are available
    </h2>

    <p>
      You should use the PSD to record information that has raised any level of concern – even if the issue is not yet proven, or you’re waiting for test results.
    </p>

    <p>
      As more evidence is gathered (such as test results or risk assessments) it can be added to the case. OPSS is encouraging the product safety community to report product safety information earlier than it did on RAPEX and ICSMS.
    </p>

    <p>
      All users should share information early so that it’s possible to see when other market surveillance authorities have:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        raised concerns about a product or business
      </li>
      <li>
        tested a product and shared the results
      </li>
    </ul>

    <p>
      This will help save time and money, and prevent duplication of effort.
    </p>


    <h3 class="govuk-heading-s">
      OPSS reports product safety information too
    </h3>

    <p>
      OPSS monitors the media and product safety websites in Europe, Canada, the US and Australia for new consumer product safety information. When OPSS finds anything that relates to products found on the UK market, it adds them to the PSD and makes the relevant local authority the case owner.
    </p>



    <h2 class="govuk-heading-m" id="organisations-with-access-to-the-psd">
      Organisations with access to the PSD
    </h2>

    <p>
      Only authorised users can view case details in the database. People from the following organisations have access to the PSD:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Office for Product Safety and Standards (OPSS)
      </li>
      <li>
        Local authority Trading Standards in England, Scotland and Wales
      </li>
      <li>
        Environment Health Northern Ireland
      </li>
      <li>
        Health and Safety Executive (HSE)
      </li>
      <li>
        Health and Safety Executive Northern Ireland (HSENI)
      </li>
      <li>
        Marine and Coastguard Agency (MCGA)
      </li>
      <li>
        Driver and Vehicle Standards Agency (DVSA)
      </li>
      <li>
        Vehicle Certification Agency (VCA)
      </li>
      <li>
        Ofcom
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="viewing-cases">
      Viewing cases
    </h2>

    <p>
      Most cases can be viewed by all users of the Product safety database - this enables information sharing and collaboration.
    </p>

    <p>
      Teams are encouraged to browse products and cases that may relate to ongoing investigations.
    </p>

    <h3 class="govuk-heading-s">
      Protecting sensitive case details
    </h3>

    <p>
      Where appropriate, the PSD will protect information that should not be viewable by all users. Items likely to contain sensitive information can only be viewed by teams added to a case. Teams not involved in a case will be able to see that those items exist, but will not be able to view them.
    </p>

    <p>
      Items that can only be seen by teams added to a case:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>correspondence and their attachments</li>
      <li>enquiry source contact details</li>
      <li>‘generic attachments’ - attachments that are not connected to another document like a test result or corrective action</li>
    </ul>

    <p>
      If further case details need to be protected, the case should be restricted so that it cannot be viewed by teams not added to a case.
    </p>

    <h2 class="govuk-heading-m" id="restricted-cases">
      Restricted cases
    </h2>

    <p>
      The information shared in the PSD can only be seen by registered users from market surveillance authorities and the Office for Product Safety and Standards (OPSS). Case owners can ‘restrict’ cases which means that only teams that are added to a case can view it.
    </p>

    <p>
      The aim of the Product safety database is to share information within the product safety community to save time, effort and money. Therefore, cases should only be restricted in exceptional circumstances, for example, if it is going to court or contains commercially sensitive information that should not be visible to teams that are not involved.
    </p>

    <p>
      When you restrict a case, you’ll be asked to give a reason for the change. This reason helps others know why the restriction has happened. It will also be visible to teams that are not involved in the case.
    </p>

    <p>
      Teams added to the case will be able to see all case details. If the case owner removes a team from a case, that team will no longer be able to view it.
    </p>

    <p>
      Products and businesses attached to restricted cases will remain visible to all users.
    </p>

    <h2 class="govuk-heading-m" id="administrators-with-special-access">
      Administrators with special access
    </h2>

    <p>
      Some staff at OPSS have special access as administrators of the Product safety database service.
    </p>

    <p>
      This allows them to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        view and edit all case details, including cases they are not involved in
      </li>
      <li>
        view all restricted cases
      </li>
      <li>
        export details of cases added to the PSD
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="collaborating-on-cases">
      Collaborating on cases
    </h2>

    <h3 class="govuk-heading-s">Case owners</h3>

    <p>
      All cases have a ‘case owner’ - the person or team responsible for the case. The case owner may collaborate on a case with other teams or assign the case to another team as needed.
    </p>

    <p>
      Where the case owner is a person, their team also owns the case - anyone in their team has full rights over the case.
    </p>

    <p>
      Only case owners can change:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the case owner to someone else</li>
      <li>case status (open or closed)</li>
      <li>case restriction</li>
      <li>the teams added to the case</li>
    </ul>

    <p>
      When a case is first created, the person who created it becomes the case owner.
    </p>

    <h3 class="govuk-heading-s">Teams added to a case</h3>

    <p>
      Teams added to a case can view and edit all case details - including protected items like correspondence.
    </p>
    <p>
      You should add a team to a case if you want them to be able to view the full case or add further details. If a team no longer needs access to the case, you can remove them.
    </p>
    <p>
      In a future update, case owners will be able to give teams added to the case ‘view all’ or ‘edit’ rights depending on whether they want the team being added to be able to add and edit information on a case.
    </p>

    <h3 class="govuk-heading-s">Changing the case owner</h3>

    <p>
      Only the current case owner can assign a new owner.
    </p>
    <p>
      To change the case owner to another authority or team, navigate to the ‘sharing and collaboration’ section of the case overview. The new case owner will be notified that they’ve been made the case owner. You can also include a message that will be sent to them - so you can let them know why you’re assigning them the case.
    </p>
    <p>
      When the case owner changes, the previous case owner’s team remains added to the case.
    </p>

    <h2 class="govuk-heading-m" id="using-the-psd-as-a-team">
      Using the PSD as a team
    </h2>

    <h3 class="govuk-heading-s">
      Giving your team access to the PSD
    </h3>

    <p>
      Officers who lead on product safety from each organisation have been given a PSD account and made a ‘team administrator’. Once they’ve set up their own account, they can invite other colleagues – from their organisation only – to create an account too. They can do this by going to the ‘Your team’ part of the service, adding their colleague’s email address and choosing ‘Invite’.
    </p>

    <h3 class="govuk-heading-s">
      Administrators can add another administrator
    </h3>

    <p>
      If there’s someone in the team whose responsibilities make them better placed to be an administrator – for example, they will regularly lead    work connected with the PSD – invite them to create an account. You can then email <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> and ask for them   to be made a team admin.
    </p>

    <h2 class="govuk-heading-m" id="update-your-account-details">
      Update your account details
    </h2>

    <p>
      You can update your name yourself by going to the ‘Your account’ part of the service. To update your password, sign out of the service and use the ‘Forgot your password’ link when signing in.

      Email <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        tell OPSS you’re leaving your organisation so we can delete your account
      </li>
      <li>
        update your contact details
      </li>
      <li>
        update your team or organisation’s details
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="more-support">
      More support
    </h2>

    <p>
      Email <%= mail_to t(:enquiries_email), nil, class: "govuk-link" %> if you’d like support not covered by this guidance.
    </p>

    <p>
      We’ll be analysing the problems and questions sent to us so we can see where we can improve the PSD and where more guidance would be helpful on this page too.
    </p>

    <p>
      The Product safety database isn’t ‘finished’. We’re listening to feedback so we can continuously improve it and meet our users’ needs better.
    </p>

    <p>
      The PSD has been developed by OPSS with Trading Standards and MSAs across the country.
    </p>
  </div>
</div>

<%= render "close_page_button" %>

<p class="govuk-body govuk-hint govuk-!-margin-bottom-6">
  Last updated 27 May 2020
</p>
