<% page_title = "Confirm corrective action details" %>
<%= page_title page_title %>
<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
<h1 class="govuk-heading-l"><%= page_title %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% rows = [
      {
        key: { text: "Summary" },
        value: { text: @corrective_action.summary }
      },
      {
        key: { text: "Date decided" },
        value: { text: @corrective_action.date_decided&.strftime("%d/%m/%Y") }
      },
      {
        key: { text: "Product involved" },
        value: { text: @corrective_action.product.name }
      },
      {
        key: { text: "Legislation" },
        value: { text: @corrective_action.legislation }
      }
    ]

      if @corrective_action.business
        rows << {
          key: { text: "Business" },
          value: { text: @corrective_action.business.trading_name }
        }
      end

      rows += [
        {
          key: { text: "Type of measure" },
          value: { text: CorrectiveAction.human_attribute_name("measure_type.#{@corrective_action.measure_type}") }
        },
        {
          key: { text: "Duration of action" },
          value: { text: CorrectiveAction.human_attribute_name("duration.#{@corrective_action.duration}") }
        },
        {
          key: { text: "Geographic scope" },
          value: { text: @corrective_action.geographic_scope }
        }
      ]

      if @corrective_action.details.present?
        rows << {
          key: { text: "Details" },
          value: { text: @corrective_action.details }
        }
      end

      if @file_blob
        rows << {
          key: { text: "Attachment" },
          value: { text: @file_blob.filename }
        }

        if @file_blob.metadata[:description].present?
          rows << {
            key: { text: "Attachment description" },
            value: { text: @file_blob.metadata[:description] }
          }
        end
      end
    %>

    <%= govukSummaryList(rows: rows) %>

    <%= form_with model: @corrective_action,
      url: investigation_corrective_actions_path(@investigation),
      method: :post do |form| %>
      <%= govukButton(text:"Continue") %>
      <%= link_to "Edit details", previous_wizard_path, class: "govuk-link psd-block-link" %>
    <% end %>
  </div>
</div>
