<% title = "Reset your password" %>
<% content_for :page_title, title_for(title) %>

<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: new_user_session_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%#= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Enter your email address", href: "#email"}]) %>


    <%#= govukErrorSummary(titleText: "There is a problem", errorList: [{text: "Enter your email address in the correct format, like name@example.com", href: "#email"}]) %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">Enter the email address that you used to register. We will send you an email with a link to reset your password.</p>
    <%= form_for(resource, as: resource_name, url: user_password_path, html: { novalidate: true }) do |f| %>
      <%= render "components/govuk_input", id: "email", name: "user[email]", type: "email", classes: "app-!-max-width-two-thirds", label: { text: "Email address" } %>

      <%= govukButton(text: "Send email") %>
    <% end %>
  </div>
</div>
