<%= page_title t(".title"), errors: @change_case_status_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<% unless @change_case_status_form.errors[:new_status].empty? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <p><%= @change_case_status_form.errors[:new_status].first %>. Do you want to <%= link_to "re-open it", reopen_investigation_status_path(@investigation) %>?</p>
    </div>
  </div>
<% else %>
  <%= render partial: "form", locals: { form_path: close_investigation_status_path(@investigation), i18n_scope: ".investigations.status.close" } %>
<% end %>
