<div class="govuk-body">
  Product: <%= activity.investigation_product.name %>
  <br />
  Legislation: <strong><%= activity.legislation %></strong>
  <br />
  Standards: <strong><%= activity.standards_product_was_tested_against %></strong>
  <br />
  Date of test: <strong><%= activity.date %></strong>
  <br />
  Result: <strong><%= activity.result %></strong>
  <br />
  <% if activity.result == "Failed" %>
    Reason for failure: <strong><%= activity.failure_details %></strong>
    <br />
  <% end %>
    Attached: <strong><%= link_to activity.attached_file_name, url_for(activity.attached_file) %></strong>
  <br />
    File description: <strong><%= activity.file_description %></strong>
  <br />
  <% unless activity.details.empty? %>
    Further details: <strong><%= activity.details %></strong>
  <% end %>
  <br />
  <br />
  <%= link_to "View test result", investigation_test_result_path(activity.investigation, activity.test_result), class: "govuk-link govuk-link--no-visited-state" %>
</div>
