<%= page_title "Do you want to remove this product?", errors: @remove_product_form.errors.any? %>
<%= form_with scope: :investigation, model: @remove_product_form, url: unlink_investigation_investigation_product_path(@investigation), builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :delete do |form| %>
  <%= form.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="remove-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Do you want to remove this product?</h1>
              </legend>
              <div class="govuk-hint" id="remove-hint">The product record '<%= @product.name %>' (<%= @product.psd_ref %>) will be removed from the notification.</div>
              <%= govuk_warning_text(text: "Related Batch numbers, Customs codes and Units affected will be deleted from the notification.") %>
            <%= form.govuk_radio_buttons_fieldset(:remove_product, legend: {text: nil, hidden: true}) do %>
              <%= form.govuk_radio_button :remove_product, "yes", label: { text: "Yes" }, link_errors: true do %>
                <%= form.govuk_text_area :reason, label: { text: "Enter the reason for removing the product" } %>
              <% end %>
              <%= form.govuk_radio_button :remove_product, "false", label: { text: "No" } %>
            <% end %>
          </fieldset>
      </div>
      <div class="govuk-button-group">
        <%= form.govuk_submit "Save and continue" %>
        <%= link_to("Cancel", investigation_products_path(@investigation), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    </div>
  </div>
<% end %>
