<% page_heading = "Edit the Unique Consignment Reference (UCR) numbers" %>

<% page_title page_heading, errors: @investigation_product.errors.any? %>
<%= govukBackLink(
  text: "Back",
  href: investigation_path(@investigation_product.investigation)
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @investigation_product, url: investigation_product_ucr_numbers_path, method: :put do |form| %>
      <%= error_summary @investigation_product.errors %>

      <fieldset class="govuk-fieldset" aria-describedby="ucr-number-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Edit the Unique Consignment Reference (<abbr>UCR</abbr>) numbers
          </h1>
        </legend>

        <div class="govuk-hint govuk-!-margin-bottom-5" id="ucr-number-hint">
          <span class="govuk-!-display-block govuk-!-margin-bottom-2">
            Add and edit <abbr>UCR</abbr> numbers for Asda washing up liquid.
          </span>

          <span class="govuk-!-display-block govuk-!-font-size-16">
            <abbr>UCR</abbr> numbers are between 12 and 35 characters long.
          </span>
        </div>

        <%= form.fields_for :ucr_numbers do |ucr_numbers_form| %>
          <turbo-frame id="<%= ucr_numbers_form.field_id(:ucr_numbers) %>" class="contents">
            <div class="govuk-form-group">
              <%= ucr_numbers_form.hidden_field :id %>
              <%= ucr_numbers_form.text_field :number, class: "govuk-input govuk-!-width-three-quarters", maxlength: 45 %>
              <%= ucr_numbers_form.label :_destroy, "Delete" %>
              <%= ucr_numbers_form.check_box :_destroy, title: "Delete" %>
            </div>
          </turbo-frame>
        <% end %>

        <%= form.submit "Add UCR number",
          class: "govuk-button",
          data: { turbo_frame: form.field_id(:ucr_numbers)},
          formmethod: "post",
          formaction: add_ucr_number_investigation_product_ucr_numbers_path(id: form.object),
          name: "add_ucr_number" %>
      </fieldset>

      <div class="govuk-button-group">
        <%= form.submit "Save", class: "govuk-button" %>
        <%= link_to "Cancel", investigation_path(@investigation_product.investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>
</div>
