<% information_types = @add_to_case_action ? SupportingInformationTypeForm::MAIN_TYPES.merge({ product: "Product", business: "Business" }) : SupportingInformationTypeForm::MAIN_TYPES %>
<%
  radio_items = radio_items_from_hash(information_types).tap do |items|
                  items.push divider: "or"
                  items.push(radio_items_from_hash(SupportingInformationTypeForm::GENERIC_TYPE).first)
                end
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= error_summary @supporting_information_type_form.errors %>
    <%= form_with local: true, url: investigation_supporting_information_index_path(@investigation) do |form| %>
      <%= render "form_components/govuk_radios",
                 form: form,
                 key: :type,
                 errorMessage: format_errors_for(@supporting_information_type_form,
                                                 @supporting_information_type_form.errors.full_messages_for(:type)),
                 items: radio_items,
                 fieldset: { legend: { text: page_heading, classes: "govuk-fieldset__legend--l", isPageHeading: true } }%>
      <%= form.hidden_field :add_to_case_action, value: @add_to_case_action %>
      <%= govukButton(text: "Continue") %>
    <% end %>
    <p class="govuk-body">
      <%= link_to 'Cancel', cancel_path, class: "govuk-link" %>
    </p>
  </div>
</div>
