<%= page_title "Invite a team member to #{@team.decorate.display_name(viewer: current_user)}", errors: @invite_user_to_team_form.errors.any? %>

<% content_for :after_header do %>
  <%= govuk_back_link(href: @team) %>
<% end %>

<%= form_with model: @invite_user_to_team_form, url: team_invitations_path(@team), local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= govukErrorSummary form: form %>

      <h1 class="govuk-heading-l">Invite a team member</h1>

      <%= govukInput form: form, key: :name, label: { text: "Full name" } %>

      <%= govukInput form: form, key: :email, label: { text: "Email address" } %>

      <%= form.submit "Send invitation email", class: "govuk-button" %>
    </div>
  </div>
<% end %>
