<%
  title = document.title
  safe = document.metadata["safe"]
%>

<div class="govuk-grid-row govuk-!-padding-bottom-4">

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="app-generic-attachment__thumbnail">
      <% if document.metadata["safe"] %>
        <%= document_placeholder(document) %>
      <% else %>
        <div class="app-document-preview__processing">
          <span><%= "Processing #{image_document_text(document)}" %></span>
        </div>
      <% end %>
    </div>

    <div class="app-generic-attachment__metadata">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= title %></h2>
      <span class="govuk-hint govuk-!-font-size-16">
        <%= formatted_file_updated_date(document) %>
      </span>

      <p class="govuk-body"><%= document.description %></p>

      <% if safe %>
        <%= link_with_hidden_text_to "View #{pretty_type_description(document)}",
            "(#{title}, opens in new tab)",
            document,
            class: "govuk-link app-block-link govuk-!-margin-right-3",
            target: '_blank',
            rel: "noreferrer noopener" %>

        <%= render "documents/document_card_links", document: document, parent: parent %>
      <% end %>
    </div>

  </div>

</div>
