<% page_heading = "Edit how many units are affected" %>
<% page_title page_heading, errors: @number_of_affected_units_form.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @number_of_affected_units_form, url: investigation_product_number_of_affected_units_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_radio_buttons_fieldset(:affected_units_status, legend: { size: 'l', text: "Edit how many units are affected" }, hint: { text: "You can add and edit how many product units are affected for #{@investigation_product.name}.", style: "margin-bottom: 25px" }) do %>
        <%= form.govuk_radio_button :affected_units_status, "exact", label: { text: "Exact number" }, link_errors: true do %>
            <%= form.govuk_text_field :exact_units, label: { text: "How many units are affected?" }, width: 10 %>
        <% end %>
        <%= form.govuk_radio_button :affected_units_status, "approx", label: { text: "Approximate number" } do %>
            <%= form.govuk_text_field :approx_units, label: { text: "How many units are affected?" }, width: 10 %>
        <% end %>
        <%= form.govuk_radio_button :affected_units_status, "unknown", label: { text: "Unknown" } %>
        <%= form.govuk_radio_divider "or" %>
        <%= form.govuk_radio_button :affected_units_status, "not_relevant", label: { text: "Not relevant" } %>
      <% end %>

      <div class="govuk-button-group">
        <%= form.govuk_submit "Save" %>
        <%= link_to "Cancel", investigation_path(@investigation_product.investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>
</div>
