<% page_heading = "Was the test funded under the OPSS Sampling Protocol?" %>
<%= page_title page_heading, errors: @test_funding_form.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @test_funding_form, url: investigation_funding_source_path(investigation_pretty_id: @investigation.pretty_id), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.hidden_field :opss_funded, value: "" %>
      <%= f.govuk_collection_radio_buttons :opss_funded, [OpenStruct.new(id: true, name: "Yes"), OpenStruct.new(id: false, name: "No")], :id, :name, legend: { text: "Was the test funded under the <abbr>OPSS</abbr> Sampling Protocol?".html_safe, size: "l", tag: "h1" } %>
      <%= f.govuk_submit("Continue") %>
    <% end %>
  </div>
</div>
