<div class="govuk-body">
  <%= "Date of #{activity.type}:" %> <%= activity.date  %>
  <br>
  Product: <%= activity.object.product.name  %>
  <br>
  Severity: <%= activity.severity %>
  <br>
  Product usage: <%= activity.usage  %>
  <br>
  Additional information: <%=  activity.additional_info %>
</div>

<%= link_to "View #{activity.type}", investigation_accident_or_incident_path(activity.investigation, activity.metadata["accident_or_incident_id"]) %>

<% if activity.product_id %>
  <%= link_to "View product", product_url(activity.product_id), class: "govuk-link psd-block-link" %>
<% end %>
