<% page_heading = "Overview" %>
<%= page_title "#{page_heading} - #{@investigation.pretty_id}" %>
<% products_count = @investigation.products.count %>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <p class="govuk-body-l"><%= @investigation.title %></p>

    <h2 class="govuk-heading-m">Summary</h2>

    <p class="govuk-body"><%= @investigation.description %></p>

    <p class="govuk-body"><%= link_to "Change summary", edit_summary_investigation_path(@investigation), class: "govuk-link" %></p>

    <% if @investigation.display_product_summary_list? %>
      <%= govuk_hr %>
      <h2 class="govuk-heading-m"><%= "product".pluralize(products_count).upcase_first %></h2>
      <%= @investigation.product_summary_list %>
    <% end %>

    <% if @investigation.complainant %>
      <%= govuk_hr %>
      <h2 class="govuk-heading-m"><%= @investigation.type.demodulize.upcase_first %></h2>
      <%= @investigation.source_details_summary_list %>
    <% end %>

    <%= govuk_hr %>
    <h2 class="govuk-heading-m">Sharing and collaboration</h2>

    <% if policy(@investigation).change_owner? %>
      <% case_owner_actions = {
        items: [
          href: new_investigation_ownership_path(@investigation),
          text: "Change",
          visuallyHiddenText: "case owner"
        ]
      } %>
    <% else %>
      <% case_owner_actions = {} %>
    <% end %>

    <% team_list_html = capture do %>
      <% if @investigation.teams_with_access.length > 1 %>
        <ul class="govuk-list">
          <% @investigation.teams_with_access.each do |team| %>
            <li><%= team.name %></li>
          <% end %>
        </ul>
      <% elsif @investigation.teams_with_access.length == 1 %>
        <%= @investigation.teams_with_access.first.name %>
      <% else %>
        No teams added
      <% end %>

    <% end %>

    <%= govukSummaryList(
      classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: { text: "Case owner" },
          value: { text: investigation_owner(@investigation) },
          actions: case_owner_actions
        },
        {
          key: { text: "Teams added to case" },
          value: { text: team_list_html },
          actions: {
            items: [
              href: investigation_collaborators_path(@investigation),
              text: (policy(@investigation).manage_collaborators? ? "Change" : "View"),
              visuallyHiddenText: "teams added to the case"
            ]
          }
        }
      ]
    ) %>

    <%= govuk_hr %>
    <h2 class="govuk-heading-m">About the case</h2>

    <% about_the_case_rows = [
      {
        key: { text: "Status" },
        value: { text: @investigation.status },
        actions: {
          items: [
            {
              href: status_investigation_path(@investigation),
              text: "Change",
              visuallyHiddenText: "status"
            }
          ]
        }
      },
      {
        key: { text: "Coronavirus related" },
        value: { text: I18n.t(@investigation.coronavirus_related, scope: "case.coronavirus_related") },
        actions: {
          items: [
            {
              href: investigation_coronavirus_related_path(@investigation),
              text: "Change",
              visuallyHiddenText: "coronavirus status"
            }
          ]
        }
      },
      {
        key: { text: "Created by" },
        value: { text: @investigation.created_by }
      },
      {
        key: { text: "Date created" },
        value: { text: @investigation.created_at.to_s(:govuk) }
      },
      {
        key: { text: "Last updated" },
        value: { text: "#{time_ago_in_words(@investigation.updated_at)} ago" },
        actions: {
          items: [
            { href: new_investigation_activity_path(@investigation),
              text: "Add activity" }
          ]
        }
      }
    ] %>

    <% if @investigation.complainant_reference.present?
      about_the_case_rows << {
        key: { text: "Trading Standards reference" },
        value: { text: @investigation.complainant_reference }
      }
     end %>

    <%= govukSummaryList(
      classes: "govuk-summary-list--no-border",
      rows: about_the_case_rows
    ) %>
  </div>

  <% if @investigation.products.any? %>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-!-display-mobile--only">

      <h2 class="govuk-heading-m"><%= "Products (#{products_count})" %></h2>
      <%= @investigation.products_list %>
    </div>
  <% end %>
</div>
