<% page_heading = "Supporting information" %>
<%= page_title "#{page_heading} - #{@investigation.pretty_id}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <% if policy(@investigation).update?(user: current_user) %>
      <p class="govuk-body">
        <%= link_to "Add supporting information", new_investigation_new_path(@investigation) %>
      </p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th class="govuk-table__header">Activity</th>
        <th class="govuk-table__header">Type</th>
        <th class="govuk-table__header">Date of activity</th>
        <th class="govuk-table__header">Date added</th>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: "supporting_information_row", collection: @supporting_information %>
      </tbody>
    </table>

<% if policy(@investigation).view_protected_details?(user: current_user) %>
  <% @other_supporting_information.each do |attachment| %>
    <%= render "documents/generic_document_card", document: attachment, parent: @investigation %>
  <% end %>
<% else %>
  <% @other_supporting_information.each do |attachment| %>
    <%= render "documents/restricted_generic_document_card", document: attachment %>
  <% end %>
<% end %>

<% if @supporting_information.none? && @other_supporting_information.none?  %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">No supporting information</p>
    </div>
  </div>
<% end %>
