<%= page_title "Remove business from case" %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_businesses_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>


<h2 class="govuk-heading-m">Remove business</h2>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t(".remove_business_warning_html", href: investigation_businesses_path(@investigation)) %></p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @remove_business_form, url: investigation_business_remove_path(@investigation, @business), method: :post, local: true, builder: ApplicationFormBuilder) do |form| %>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Business details</h3>
      <%= error_summary @remove_business_form.errors %>

      <%= form.govuk_radios :remove,
       legend: t(".remove_business_legend"),
       items: [
         { text: t(".yes_label"), value: "true", conditional: { html: form.govuk_text_area(:reason, hint: t(".reason_for_removing_the_business_from_the_case"), label_classes: "govuk-visually-hidden", label: t(".reason_for_removing_the_business_from_the_case"))} },
         { text: t(".no_label"), value: "off" }]
      %>
      <%= form.submit "Remove business", class: "govuk-button govuk-button--warning" %>
    <% end %>
    <%= link_to t(".cancel"), investigation_businesses_path(@investigation), class: "govuk-link" %>
  </div>
</div>
