<% page_heading = "Have you validated the case risk level?" %>
<% page_title page_heading, errors: @risk_validation_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with scope: :investigation, model: @risk_validation_form, url: investigation_risk_validations_path(@investigation), method: :put, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary @risk_validation_form.errors %>

      <%= render "form_components/govuk_radios", form: form, key: :is_risk_validated,
                 fieldset: { legend: { text: page_heading, classes: "govuk-fieldset__legend--l", isPageHeading: true } },
                 items: [{ text: "Yes", value: "true", id: "is_risk_validated" },
                         { text: "No", value: "false" }] %>

      <div class="govuk-form-group">
        <%= govukButton(text: t(".submit_button")) %>
        <p><%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link--no-visited-state" %></p>
      </div>
    </div>
  </div>
<% end %>
