<%= page_title(t("notifications.create.index.sections.business_details.tasks.add_contact.title"), errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @add_contact_form, url: wizard_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("notifications.create.index.sections.business_details.title") %></span>
      <%= t("notifications.create.index.sections.business_details.tasks.add_contact.title") %>
    </h1>
      <%= f.govuk_text_field :name, label: { text: "Full name" }, width: "two-thirds" %>
      <%= f.govuk_text_field :job_title, label: { text: "Job title or role description" }, width: "two-thirds" %>
      <%= f.govuk_text_field :email, label: { text: "Email" }, width: "two-thirds" %>
      <%= f.govuk_text_field :phone_number, label: { text: "Phone" }, hint: { text: "For international numbers include the country code." }, width: "two-thirds" %>
      <%= f.hidden_field :business_id %>
      <%= f.govuk_submit "Save and complete tasks in this section", name: "final", value: "true" %>
    <% end %>
  </div>
</div>
