<% if @manage %>
  <%= page_title(t("notifications.create.index.sections.evidence.tasks.add_test_reports.title"), errors: false) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("notifications.create.index.sections.evidence.title") %></span>
        <%= t("notifications.create.index.sections.evidence.tasks.add_test_reports.title") %>
      </h1>
      <p class="govuk-body">You have added <%= pluralize(@existing_test_results.length, "test report") %>.
      <%=
        govuk_summary_list do |summary_list|
          @existing_test_results.each do |test_result|
            summary_list.with_row do |row|
              row.with_key(text: "#{test_result.document.blob&.filename || 'No document'}<br>#{test_result.investigation_product.product.decorate.name_with_brand}".html_safe)
              row.with_action(text: "Change", href: with_product_and_entity_notification_create_index_path(@notification, step: "add_test_reports", investigation_product_id: test_result.investigation_product.id, entity_id: test_result.id), visually_hidden_text: "test report")
              row.with_action(text: "Remove", href: remove_with_product_and_entity_notification_create_index_path(@notification, step: "add_test_reports", investigation_product_id: test_result.investigation_product.id, entity_id: test_result.id), visually_hidden_text: "test report")
            end
          end
        end
      %>
      <%= form_with url: request.fullpath, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <%= f.govuk_collection_radio_buttons :add_another_test_report, [OpenStruct.new(id: true, name: "Yes"), OpenStruct.new(id: false, name: "No")], :id, :name, inline: true, legend: { text: "Do you need to add another test report?", size: "m" } %>
        <%= f.govuk_submit "Continue", name: "final", value: "true" %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= page_title(t("notifications.create.index.sections.evidence.tasks.add_test_reports.select_product.title"), errors: @choose_investigation_product_form.errors.any?) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with model: @choose_investigation_product_form, url: wizard_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <%= f.govuk_error_summary %>
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l"><%= t("notifications.create.index.sections.evidence.title") %></span>
          <%= t("notifications.create.index.sections.evidence.tasks.add_test_reports.select_product.title") %>
        </h1>
        <%= f.govuk_collection_radio_buttons :investigation_product_id, investigation_products_options, :id, :name, legend: nil, bold_labels: false %>
        <%= f.govuk_submit "Save and continue" %>
      <% end %>
    </div>
  </div>
<% end %>
