<%= page_title(t("notifications.create.index.sections.business_details.tasks.add_business_details.title"), errors: @add_business_details_form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @add_business_details_form, url: wizard_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("notifications.create.index.sections.business_details.title") %></span>
        <%= t("notifications.create.index.sections.business_details.tasks.add_business_details.title") %>
      </h1>
      <%= f.govuk_text_field :trading_name, label: { text: "Trading name" }, hint: { text: "The name the business is known as." }, width: "two-thirds" %>
      <%= f.govuk_text_field :legal_name, label: { text: "Registered or legal name (optional)" }, hint: { text: "As it appears on Companies House for UK businesses (usually ends in 'Ltd' or 'Limited')." }, width: "two-thirds" %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
