<%= page_title(t("notifications.create.index.sections.notification_details.tasks.add_product_identification_details_batch_numbers.title"), errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: batch_numbers_notification_create_index_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("notifications.create.index.sections.notification_details.title") %></span>
        <%= t("notifications.create.index.sections.notification_details.tasks.add_product_identification_details_batch_numbers.title") %>
      </h1>
      <%= govuk_inset_text do %>
        <p class="govuk-body">For</p>
        <ul class="govuk-list">
          <li class="govuk-body-l"><%= @investigation_product.decorate.product.name_with_brand %></li>
        </ul>
      <% end %>
      <%= f.govuk_text_field :batch_number, label: nil, hint: { text: "Use a comma and a space to separate multiple batch numbers. For example, 37364361, 98774776" }, value: @investigation_product.batch_number %>
      <%= f.govuk_submit "Save" do %>
        <a href="<%= wizard_path(:add_product_identification_details) %>" class="govuk-link">Cancel</a>
      <% end %>
    <% end %>
  </div>
</div>
