<%= page_title(t("notifications.create.index.sections.submit.tasks.check_notification_details_and_submit.title"), errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% unless @notification.all_products_have_affected_units? %>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 id="error-summary-title" class="govuk-error-summary__title govuk-!-margin-bottom-1">
        You cannot submit this notification because some products don't have a value for "number of units affected".
      </h2>
    </div>
    <% end %>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("notifications.create.index.sections.submit.title") %></span>
      <%= t("notifications.create.index.sections.submit.tasks.check_notification_details_and_submit.title") %>
    </h1>
    <%= govuk_inset_text do %>
      <p class="govuk-body">For</p>
      <ul class="govuk-list">
      <% @notification.investigation_products.decorate.each do |investigation_product| %>
        <li class="govuk-body-l"><%= investigation_product.product.name_with_brand %></li>
      <% end %>
      </ul>
    <% end %>
    <h2 class="govuk-heading-m">Notification details</h2>
    <%=
      govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key(text: "Notification number")
          row.with_value(text: @notification.pretty_id)
        end
        summary_list.with_row do |row|
          row.with_key(text: "Notification title")
          row.with_value(text: @notification.user_title)
          row.with_action(text: "Change", href: wizard_path(:add_notification_details), visually_hidden_text: "notification title")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Notification summary")
          row.with_value(text: @notification.description || "Not provided")
          row.with_action(text: "Change", href: wizard_path(:add_notification_details), visually_hidden_text: "notification summary")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Notification reason")
          row.with_value(text: @notification.safe_and_compliant? ? "Safe and compliant product(s)" : "Unsafe or non-compliant product(s)")
          row.with_action(text: "Change", href: wizard_path(:add_notification_details), visually_hidden_text: "notification reason")
        end
        unless @notification.reported_reason.safe_and_compliant?
          summary_list.with_row do |row|
            row.with_key(text: "Specific product safety issues")
            row.with_value(text: specific_product_safety_issues.html_safe)
            row.with_action(text: "Change", href: wizard_path(:add_product_safety_and_compliance_details), visually_hidden_text: "specific product safety issues")
          end
        end
        summary_list.with_row do |row|
          row.with_key(text: "Reported by overseas regulator")
          row.with_value(text: @notification.is_from_overseas_regulator ? "Yes: #{country_from_code(@notification.overseas_regulator_country)}" : "No")
          row.with_action(text: "Change", href: wizard_path(:add_product_safety_and_compliance_details), visually_hidden_text: "reported by overseas regulator")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Internal reference number")
          row.with_value(text: @notification.complainant_reference.presence || "Not provided")
          row.with_action(text: "Change", href: wizard_path(:add_product_safety_and_compliance_details), visually_hidden_text: "internal reference number")
        end
      end
    %>
    <h2 class="govuk-heading-m">Product identification details</h2>
    <% @notification.investigation_products.decorate.each do |investigation_product| %>
      <%=
        govuk_summary_list(
          card: { title: investigation_product.product.name_with_brand },
          rows: [
            {
              key: { text: "Batch numbers" },
              value: { text: investigation_product.batch_number.presence || "Not provided" },
              actions: [
                {
                  text: "Change",
                  href: batch_numbers_notification_create_index_path(@notification, investigation_product.id),
                  visually_hidden_text: "batch numbers"
                }
              ]
            },
            {
              key: { text: "Customs codes" },
              value: { text: investigation_product.customs_code.presence || "Not provided" },
              actions: [
                {
                  text: "Change",
                  href: customs_codes_notification_create_index_path(@notification, investigation_product.id),
                  visually_hidden_text: "customs codes"
                }
              ]
            },
            {
              key: { text: "Unique Consignment Reference (UCR) numbers" },
              value: { text: investigation_product.ucr_numbers.pluck(:number).join(", ").presence || "Not provided" },
              actions: [
                {
                  text: "Change",
                  href: ucr_numbers_notification_create_index_path(@notification, investigation_product.id),
                  visually_hidden_text: "unique consignment reference numbers"
                }
              ]
            },
            {
              key: { text: "Number of units affected" },
              value: { text: number_of_affected_units(investigation_product.affected_units_status, investigation_product.number_of_affected_units) },
              actions: [
                {
                  text: "Change",
                  href: number_of_affected_units_notification_create_index_path(@notification, investigation_product.id),
                  visually_hidden_text: "number of units affected"
                }
              ]
            }
          ]
        )
      %>
    <% end %>
    <h2 class="govuk-heading-m">Businesses and their role in the supply chain</h2>
    <% @notification.investigation_businesses.decorate.each do |investigation_business| %>
      <%# TODO(ruben): add change links once pages are ready %>
      <%=
        govuk_summary_list(
          card: { title: investigation_business.business.trading_name },
          rows: [
            {
              key: { text: "Business role in the supply chain" },
              value: { text: investigation_business.pretty_relationship },
              actions: []
            },
            {
              key: { text: "Registered or legal name" },
              value: { text: investigation_business.business.legal_name.presence || "Not provided" },
              actions: []
            },
            {
              key: { text: "Companies House number" },
              value: { text: investigation_business.business.company_number.presence || "Not provided" },
              actions: []
            },
            {
              key: { text: "Address" },
              value: { text: formatted_business_address(investigation_business.business.locations.find_by(name: "Registered office address")).html_safe.presence || "Not provided" },
              actions: []
            },
            {
              key: { text: "Contact details" },
              value: { text: investigation_business.business.contacts.map { |contact| formatted_business_contact(contact) }.join("<br><br>").html_safe.presence || "Not provided" },
              actions: []
            }
          ]
        )
      %>
    <% end %>
    <h2 class="govuk-heading-m">Evidence</h2>
    <% @notification.investigation_products.decorate.each do |investigation_product| %>
      <%=
        govuk_summary_list(
          card: { title: investigation_product.product.name_with_brand },
          rows: [
            {
              key: { text: "Test reports" },
              value: { text: formatted_test_results(investigation_product.test_results).html_safe.presence || "Not provided" },
              actions: [
                {
                  text: "Change",
                  href: wizard_path(:add_test_reports),
                  visually_hidden_text: "test reports"
                }
              ]
            },
            {
              key: { text: "Risk assessments" },
              value: { text: formatted_risk_assessments(investigation_product.prism_risk_assessments, investigation_product.risk_assessments).html_safe.presence || "Not provided" },
              actions: [
                {
                  text: "Change",
                  href: wizard_path(:add_risk_assessments),
                  visually_hidden_text: "risk assessments"
                }
              ]
            }
          ]
        )
      %>
    <% end %>
    <%=
      govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key(text: "Supporting images")
          row.with_value(text: formatted_uploads(@notification.image_uploads.map(&:file_upload)).html_safe.presence || "Not provided")
          row.with_action(text: "Change", href: wizard_path(:add_supporting_images), visually_hidden_text: "supporting images")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Supporting documents")
          row.with_value(text: formatted_uploads(@notification.documents).html_safe.presence || "Not provided")
          row.with_action(text: "Change", href: wizard_path(:add_supporting_documents), visually_hidden_text: "supporting documents")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Notification risk level")
          row.with_value(text: risk_level_tag)
          row.with_action(text: "Change", href: wizard_path(:determine_notification_risk_level), visually_hidden_text: "notification risk level")
        end
      end
    %>
    <h2 class="govuk-heading-m">Corrective actions</h2>
    <% @notification.corrective_actions.includes(investigation_product: :product).decorate.each do |corrective_action| %>
      <%=
        govuk_summary_list(
          card: {
            title: corrective_action.investigation_product.product.decorate.name_with_brand,
            actions: [govuk_link_to("Change", with_entity_notification_create_index_path(@notification, entity_id: corrective_action.id))]
          },
          rows: [
            {
              key: { text: "Corrective action" },
              value: { text: corrective_action.page_title }
            },
            {
              key: { text: "Effective date" },
              value: { text: corrective_action.date_of_activity }
            },
            {
              key: { text: "Legislation" },
              value: { text: corrective_action.legislation }
            },
            {
              key: { text: "Responsible business" },
              value: { text: corrective_action.business&.trading_name || "Not provided" }
            },
            if corrective_action.recall_of_the_product_from_end_users?
              {
                key: { text: "Recall information" },
                value: { text: corrective_action.has_online_recall_information ? "Yes: #{corrective_action.online_recall_information}" : "No" }
              }
            end,
            {
              key: { text: "Action type" },
              value: { text: corrective_action.measure_type }
            },
            {
              key: { text: "Geographic scope" },
              value: { text: corrective_action.geographic_scopes }
            },
            {
              key: { text: "Further details" },
              value: { text: corrective_action.details.presence || "Not provided" }
            },
            {
              key: { text: "Related file" },
              value: { text: formatted_uploads([corrective_action.document]).html_safe.presence || "Not provided" }
            }
          ].compact
        )
      %>
    <% end %>
    <%= form_with url: request.fullpath, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit "Submit notification", name: "final", value: "true", disabled: !@notification.all_products_have_affected_units? do %>
        <%= f.govuk_submit "Save as draft", secondary: true, name: "draft", value: "true" %>
      <% end %>
    <% end %>
  </div>
</div>
