<%= page_title("Create a product safety notification") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create a product safety notification</h1>
    <% if @notification.products.present? %>
      <%= govuk_inset_text do %>
        <p class="govuk-body">For</p>
        <ul class="govuk-list">
        <% @notification.investigation_products.decorate.each do |investigation_product| %>
          <li class="govuk-body-l"><%= investigation_product.product.name_with_brand %></li>
        <% end %>
        </ul>
        <p class="govuk-body"><a href="<%= wizard_path(:search_for_or_add_a_product) %>?search" class="govuk-link govuk-link--no-visited-state">Add another product</a></p>
      <% end %>
    <% end %>
    <% if !@notification.submitted? %>
      <p class="govuk-body govuk-!-font-weight-bold">Product safety notification incomplete</p>
    <% end %>
    <p class="govuk-body">You have completed <%= sections_complete %> of 6 sections.</p>
    <p class="govuk-body">You must first complete Sections 1, 2, 3 and 5 in order to access Section 6 for the final submission. Note that Section 4 is optional and can be completed after you have made your initial submission.</p>
    <ol class="govuk-list govuk-list--number govuk-heading-m opss-task-list-group">
      <% Investigation::Notification::TASK_LIST_SECTIONS.each_with_index do |(section, tasks), section_index| %>
        <li>
          <h2 class="govuk-heading-m"><%= t(".sections.#{section}.title") %><% if Investigation::Notification::TASK_LIST_SECTIONS_OPTIONAL.include?(section) %><br><small class="govuk-body-s">(can be completed after the initial submission)</small><% end %></h2>
          <ul class="govuk-task-list">
            <% tasks.each_with_index do |task, task_index| %>
              <% next if Investigation::Notification::TASK_LIST_TASKS_HIDDEN.map(&:keys).flatten.include?(task) %>
              <% status = task_status(task) %>
              <li class="govuk-task-list__item<% if status != "cannot_start_yet" %> govuk-task-list__item--with-link<% end %>">
                <div class="govuk-task-list__task-name-and-hint">
                  <% if status != "cannot_start_yet" %>
                    <a class="govuk-link govuk-task-list__link" href="<%= wizard_path(task) %>" aria-describedby="task-list-<%= section_index %>-<%= task_index %>-status" data-test="task-list-<%= section_index %>-<%= task_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></a>
                  <% else %>
                    <div data-test="task-list-<%= section_index %>-<%= task_index %>-status"><%= t(".sections.#{section}.tasks.#{task}.title") %></div>
                  <% end %>
                </div>
                <div class="govuk-task-list__status" id="task-list-<%= section_index %>-<%= task_index %>-status">
                  <%= task_status_tag(status) %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  </div>
</div>
