<%= page_title("Remove corrective action", errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: remove_with_entity_notification_create_index_path(@notification, step: "record_a_corrective_action", entity_id: @corrective_action.id), method: :delete, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <h1 class="govuk-heading-l">
        Are you sure you want to remove this corrective action from your notification?
      </h1>
      <p class="govuk-body">This action will permanently delete the corrective action <strong><%= @corrective_action.decorate.supporting_information_full_title %></strong> from your notification. Please confirm if you wish to proceed.</p>
      <%= f.govuk_submit "Remove corrective action", warning: true do %>
        <a href="<%= notification_create_path(@notification, "record_a_corrective_action") %>" class="govuk-link">Cancel</a>
      <% end %>
    <% end %>
  </div>
</div>
