<%= page_title("Remove product from notification", errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: remove_product_notification_create_index_path(investigation_product_id: @investigation_product.id), method: :delete, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <h1 class="govuk-heading-l">
        Are you sure you want to remove this product from your notification?
      </h1>
      <p class="govuk-body">This action will remove <strong><%= @investigation_product.decorate.product.name_with_brand %></strong> from your notification. Please confirm if you wish to proceed.</p>
      <%= f.govuk_submit "Remove product", warning: true do %>
        <a href="<%= notification_create_path(@notification, "search_for_or_add_a_product") %>" class="govuk-link">Cancel</a>
      <% end %>
    <% end %>
  </div>
</div>
