<% content_for :page_title, "Add a number of hazards" %>
<% @errors = @product_hazard.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @product_hazard, url: wizard_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Identify product hazards</span>
        Add a number of hazards
      </h1>
      <%= govuk_inset_text do %>
        <p class="govuk-body">For</p>
        <p class="govuk-body-l">Placeholder product</p>
      <% end %>
      <%= f.govuk_collection_radio_buttons :number_of_hazards, number_of_hazards_radios, :id, :name, legend: { text: "Number of hazards identified" } %>
      <%= f.govuk_submit "Save and complete tasks in this section", name: "final", value: "true" %>
    <% end %>
  </div>
</div>
