<div id="step-<%= f.index %>">
  <h2 class="govuk-heading-m">Step <%= f.index + 1 %></h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <p class="govuk-body-l"><%= f.object.description %></p>
  <%= f.govuk_radio_buttons_fieldset :probability_type, legend: { text: "In what format would you like to express the probability of harm?", size: "s" } do %>
    <%= f.govuk_radio_button :probability_type, "decimal", label: { text: "Decimal number" }, hint: { text: "For example, 0.25" }, class: %w[opss-step-probability-choice], link_errors: true do %>
      <%= f.govuk_number_field :probability_decimal, label: { text: "Enter the probability as a decimal number." }, width: 4, class: %w[opss-step-probability-decimal] %>
    <% end %>
    <%= f.govuk_radio_button :probability_type, "frequency", label: { text: "Frequency number" }, hint: { text: "For example, 1 in 1000" }, class: %w[opss-step-probability-choice] do %>
      <%= f.govuk_number_field :probability_frequency, label: { text: "Enter the probability as a frequency number." }, width: 4, prefix_text: "1 in", class: %w[opss-step-probability-frequency] %>
    <% end %>
  <% end %>
  <%= f.govuk_radio_buttons_fieldset :probability_evidence, legend: { text: "How did you decide on the probability of harm?", size: "s" } do %>
    <%= f.govuk_radio_button :probability_evidence, "sole_judgement_or_estimation", label: { text: "Sole judgement or estimation" }, link_errors: true %>
    <%= f.govuk_radio_button :probability_evidence, "some_limited_empirical_evidence", label: { text: "Some limited empirical evidence" } do %>
      <%= f.govuk_text_area :probability_evidence_description_limited, label: { text: "Describe the evidence including any links to reference materials." } %>
      <%= f.fields_for :harm_scenario_step_evidence do |ef| %>
        <%= ef.govuk_file_field :evidence_file, label: { text: "Attach a document in support of your decision." }, hint: { text: "Acceptable file formats: pdf, Word, Excel, PowerPoint, jpeg, gif and png." }, accept: ".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.jpg,.jpeg,.gif,.png" %>
        <%= render partial: "attachment", locals: { file: ef.object.evidence_file } %>
      <% end %>
    <% end %>
    <%= f.govuk_radio_button :probability_evidence, "strong_empirical_evidence", label: { text: "Strong empirical evidence" } do %>
      <%= f.govuk_text_area :probability_evidence_description_strong, label: { text: "Describe the evidence including any links to reference materials." } %>
      <%= f.fields_for :harm_scenario_step_evidence do |ef| %>
        <%= ef.govuk_file_field :evidence_file, label: { text: "Attach a document in support of your decision." }, hint: { text: "Acceptable file formats: pdf, Word, Excel, PowerPoint, jpeg, gif and png." }, accept: ".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.jpg,.jpeg,.gif,.png" %>
        <%= render partial: "attachment", locals: { file: ef.object.evidence_file } %>
      <% end %>
    <% end %>
  <% end %>
</div>
