<%= page_title "Add business to case", errors: @business.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: previous_wizard_path
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with(model: @business,
              url: wizard_path,
              method: :put,
              local: true,
              html: { autocomplete: :off }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form_components/govuk_error_summary", form: form %>
      <%= render "investigation_heading", investigation: @investigation %>

      <h2 class="govuk-heading-m">Add business</h2>
      <%= render "businesses/form", form: form, business: @business, countries: @countries %>
    </div>
  </div>
<% end %>
