<%= page_title "Provide the business details", errors: @business_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: new_investigation_business_types_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-8">
  Provide the business details
</h1>
<%= form_with(model: @business_form,
              url: investigation_businesses_path(@investigation),
              local: true,
              html: { autocomplete: :off }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary @business_form.errors %>
      <%= render "investigation_heading", investigation: @investigation %>

      <h2 class="govuk-heading-m">Add business</h2>
      <%= render "businesses/form", form: form, business: @business_form, countries: @countries %>
    </div>
  </div>
<% end %>
