<%= page_title "Add business to case", errors: @business.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_businesses_business_investigation_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with(model: @business, url: investigation_businesses_path, method: :post, local: true, html: { autocomplete: :off }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form_components/govuk_error_summary", form: form %>
      <%= render "investigation_heading", investigation: @investigation %>

      <h2 class="govuk-heading-m">Add business</h2>
      <%= form.fields_for :investigation_businesses, form.object.investigation_businesses.first do |investigation_business_fields| %>
        <%= investigation_business_fields.hidden_field :relationship %>
        <%= investigation_business_fields.hidden_field :investigation_id, value: @investigation.id %>
      <% end %>
      <%= render "businesses/form", form: form, business: @business, countries: @countries %>
    </div>
  </div>
<% end %>
