<%= page_title "Remove business from case" %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_businesses_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>


<h2 class="govuk-heading-m">Remove business</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: unlink_investigation_business_path(@investigation), method: :delete, local: true) do |form| %>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Business details</h3>
      <%= business_summary_list @business %>
      <%= form.submit "Remove business", class: "govuk-button govuk-button--warning" %>
    <% end %>
  </div>
</div>
