<%= page_title "Remove business from case" %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_businesses_path(@investigation)
  ) %>
<% end %>

<%= error_summary @remove_business_form.errors %>

<h1 class="govuk-heading-l">Remove <%= @business.trading_name %></h1>

<div class="govuk-grid-row">
  <% if @business.supporting_information.any? %>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'supporting_information_warning' %>
    </div>
  <% else %>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><%= t(".remove_business_warning_html", href: investigation_businesses_path(@investigation)) %></p>

      <%= render 'form' %>
    </div>
  <% end %>
</div>
