<%= page_title I18n.t(".prism_risk_assessments.titles.#{@page_name}") %>

<%= render "prism_risk_assessments/heading/#{@page_name}" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-three-quarters" id="page-content">
    <h2 class="govuk-heading-m">Draft risk assessments</h2>
    <% if @draft_risk_assessments.any? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" role="region" aria-label="Draft risk assessments">
          <%= render "table", products: @draft_risk_assessments %>
          <%= paginate @draft_risk_assessments.object %>
        </div>
      </div>
    <% elsif ["team_prism_risk_assessments", "your_prism_risk_assessments"].include?(@page_name) %>
      <%= render "prism_risk_assessments/no_prism_risk_assessments", page_name: @page_name, type: "draft" %>
    <% end %>
  </section>
</div>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">Submitted risk assessments</h2>
    <% if @submitted_risk_assessments.any? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" role="region" aria-label="Submitted risk assessments">
          <%= render "table", products: @submitted_risk_assessments %>
          <%= paginate @submitted_risk_assessments.object %>
        </div>
      </div>
    <% elsif ["team_prism_risk_assessments", "your_prism_risk_assessments"].include?(@page_name) %>
      <%= render "prism_risk_assessments/no_prism_risk_assessments", page_name: @page_name, type: "submitted" %>
    <% end %>
  </section>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govukButton(text: "Start a new risk assessment", href: prism.serious_risk_path) %>
  </div>
</div>
