<%= govukFieldset(legend: { text: "Email details", classes: "govuk-fieldset__legend--m" }) do %>
  <%= govukRadios(
    form: form,
    key: :email_direction,
    fieldset: { label: { text: "Email direction", classes: "govuk-visually-hidden" } },
    classes: "govuk-radios--inline",
    items: Correspondence::Email.email_directions.map { |value, label| { text: label, value: value } }
  ) %>
  <%= govukInput(
    key: :correspondent_name,
    form: form,
    classes: "govuk-!-width-two-thirds",
    label: { text: "Name" }
  ) %>
  <%= govukInput(
    key: :email_address,
    form: form,
    classes: "govuk-!-width-two-thirds",
    label: { text: "Email address" }
  ) %>
<% end %>

<%= form.govuk_date_input :correspondence_date, legend: "Date sent" %>

<%= form.govuk_input :overview,
  label: "Summary",
  label_classes: "govuk-label--m",
  hint: "Give an overview of the email",
  classes: "govuk-!-width-two-thirds" %>

<% email_upload_field = capture do %>

  <% if form.object.email_file_id.present? %>
    <p class="govuk-body">Currently selected file: <%= link_to form.object.cached_email_file.filename, form.object.cached_email_file, class: "govuk-link" %></p>
    <%= form.hidden_field :email_file_id %>
  <% end %>

  <%= form.govuk_file_upload :email_file,
    label: ((form.object.email_file.present? || form.object.email_file_id.present?) ? "Select replacement file" : "Upload a file"),
    label_classes: "govuk-label--x"
  %>
<% end %>

<%= govukFieldset(legend: { text: "Email content", classes: "govuk-fieldset__legend--m" }, describedBy: "email-content-hint") do %>
  <span id="email-content-hint" class="govuk-hint">Upload the email as a file, or enter the subject and body below</span>

  <% if email.email_file.present? %>

    <p class="govuk-body">
      Current file:
      <%= link_to "#{email.email_file.filename} (opens in new tab)", email.email_file, target: "_blank", rel: "noreferrer noopener" %>
    </p>

    <%= form.hidden_field :email_file_id  %>

    <%= form.govuk_radios :email_file_action,
      legend: "Replace or remove file",
      legend_classes: "govuk-fieldset__legend--s",
      classes: "govuk-radios--small govuk-radios--conditional",
      items: [
      {
        text: "Keep file",
        value: :keep
      },
      {
        text: "Remove file",
        value: :remove
      },
      {
        text: "Upload a replacement file",
        value: :replace,
        conditional: {
          html: email_upload_field
        }
      }

    ] %>
  <% else %>
    <%= email_upload_field %>
  <% end %>

  <%= form.govuk_input :email_subject,
    label: "Subject line",
    classes: "govuk-!-width-two-thirds" %>

  <%= form.govuk_text_area :details,
    label: "Body",
    label_classes: "",
    attributes: { maxlength: 32_767 }
  %>

<% end %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    Attachments
  </legend>

  <div class="govuk-body govuk-hint">
    If you have multiple files, compress them in a zip
  </div>

  <div class="govuk-form-group <%= "govuk-form-group--error" if file_validation_errors?(form.object.errors, attribute: :base) %>">

    <% file_upload_field = capture do %>

      <% if form.object.email_attachment_id.present? %>
        <p class="govuk-body">Currently selected attachment: <%= link_to form.object.cached_email_attachment.filename, form.object.cached_email_attachment, class: "govuk-link" %></p>
        <%= form.hidden_field :email_attachment_id %>
      <% end %>

      <%= form.govuk_file_upload :email_attachment,
        label: ((form.object.email_attachment.present? || form.object.email_attachment_id.present?) ? "Select replacement file" : "Upload a file")
      %>
    <% end %>

    <% if email.email_attachment.present? %>

      <p class="govuk-body">
        Currently attached file:
        <%= link_to "#{email.email_attachment.filename} (opens in new tab)", email.email_attachment, target: "_blank", rel: "noreferrer noopener" %>
      </p>

      <%= form.govuk_radios :email_attachment_action,
        legend: "Replace or remove email attachment",
        legend_classes: "govuk-fieldset__legend--s",
        classes: "govuk-radios--small govuk-radios--conditional",
        items: [
        {
          text: "Keep file",
          value: :keep
        },
        {
          text: "Remove file",
          value: :remove
        },
        {
          text: "Upload a replacement file",
          value: :replace,
          conditional: {
            html: file_upload_field
          }
        }

      ] %>
    <% else %>
      <%= file_upload_field %>
    <% end %>

    <div>
      <%= form.govuk_text_area :attachment_description,
        label: "Attachment description",
        label_classes: "",
        attributes: { maxlength: 10_000 }
      %>
    </div>
  </div>
</fieldset>
