<%= render "components/govuk_fieldset", legend: { text: "Email details", classes: "govuk-fieldset__legend--m" } do %>
  <%= render "form_components/govuk_radios",
             form: form,
             key: :email_direction,
             fieldset: { label: { text: "Email direction", classes: "govuk-visually-hidden" } },
             classes: "govuk-radios--inline",
             items: Correspondence::Email.email_directions.map { |value, label| { text: label, value: value } } %>
  <%= render "form_components/govuk_input",
             key: :correspondent_name,
             form: form,
             classes: "govuk-!-width-two-thirds",
             label: { text: "Name" } %>
  <%= render "form_components/govuk_input",
             key: :email_address,
             form: form,
             classes: "govuk-!-width-two-thirds",
             label: { text: "Email address" } %>
<% end %>


<%= form.govuk_date_input :correspondence_date, legend: "Date sent" %>

<%= form.govuk_input :overview,
  label: "Summary",
  label_classes: "govuk-label--m",
  hint: "Give an overview of the email",
  classes: "govuk-!-width-two-thirds" %>

<%= render "components/govuk_fieldset",
           legend: { text: "Email content", classes: "govuk-fieldset__legend--m" },
           describedBy: "email-content-hint" do %>

  <span id="email-content-hint" class="govuk-hint">Upload the email as a file, or enter the subject and body below</span>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
<!--           <h1 class="govuk-fieldset__heading">
            Filter
          </h1>
 -->        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name1" name="changed-name" type="radio" value="month" selected>
            <label class="govuk-label govuk-radios__label" for="changed-name1">
              Keep file: <%= link_to form.object.email_file.filename, form.object.email_file, target: "_blank", rel: 'noopener' %>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Remove file
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              Upload a replacement file
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <%= form.govuk_file_upload :email_file,
                label: "Select replacement file",
                label_classes: "govuk-label--x"
              %>
          </div>

        </div>

      </fieldset>
    </div>
<!--

  <% email_upload_field = capture do %>





  <% end %>

  <%= form.hidden_field :existing_email_file_id %>

  <div class="govuk-form-group">
    <% if form.object.email_file.present? %>
      <p>
        Currently selected file: <%= link_to form.object.email_file.filename, form.object.email_file, target: "_blank", rel: 'noopener' %><br>
      </p>

      <%= govukDetails(summaryText: "Remove or replace this file", html: email_upload_field) %>
    <% else %>
      <%= email_upload_field %>
    <% end %>

  </div>
 -->
  <%= form.govuk_input :email_subject,
    label: "Subject line",
    classes: "govuk-!-width-two-thirds" %>

  <%= form.govuk_text_area :details,
    label: "Body",
    label_classes: "",
    attributes: { maxlength: 50_000 }
  %>

<% end %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    Attachments
  </legend>

  <div class="govuk-body govuk-hint">
    If you have multiple files, compress them in a zip
  </div>

  <div class="govuk-form-group <%= "govuk-form-group--error" if file_validation_errors?(form.object.errors) %>">

    <% file_upload_field = capture do %>
      <%= form.govuk_file_upload :email_attachment,
        label: "Upload a file"
      %>
    <% end %>

    <%= form.hidden_field :existing_email_attachment_id  %>

    <% if form.object.email_attachment.present? %>
      <p id="current-attachment-details">
        Currently selected file:
        <%= link_to form.object.email_attachment.filename, form.object.email_attachment, target: "_blank", rel: 'noopener' %>
      </p>

      <%= govukDetails(summaryText: "Replace this file", html: file_upload_field) %>
    <% else %>
      <%= file_upload_field %>
    <% end %>

    <div id="attachment-description">
      <%= form.govuk_text_area :attachment_description,
        label: "Attachment description",
        label_classes: "",
        attributes: { maxlength: 10_000 }
      %>
    </div>
  </div>
</fieldset>
