<%= page_title "Edit email", errors: @email_correspondence_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: investigation_email_path(@investigation, @email)
  ) %>
<% end %>

<%= form_with(model: @email_correspondence_form, local: true, url: investigation_email_path(@investigation, @email), method: :patch, builder: ApplicationFormBuilder, html: {novalidate: true}) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary form.object.errors %>

      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>

      <h1 class="govuk-heading-l">Edit email</h1>

      <%= render "form_fields", form: form, email: @email %>

      <%= form.submit "Update email", class: "govuk-button" %>

      <%= permission_notice(text: t("case.protected_details", data_type: "email correspondence")) %>
    </div>
  </div>
<% end %>
