<% title = "Edit attachment" %>
<%= page_title title, errors: @document_upload.errors.any? %>
<%= form_with model: @document_upload, local: true, builder: ApplicationFormBuilder, html: { novalidate: true }, url: associated_document_upload_path(@parent, @document_upload), method: :patch do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@document_upload.errors, %i[title description])%>
      <%= render "page_heading", title: "Edit attachment" %>
      <%= render "document_uploads/document_preview", document: @document_upload, dimensions: [480, 320] %>

      <%= form.govuk_input :title, label_classes: "govuk-label--m", label: "Document title" %>
      <%= form.govuk_text_area :description, label: "Description", attributes: { maxlength: 10_000 } %>

      <%= govukButton text: "Update attachment" %>
    </div>
  </div>
<% end %>
