<% title = "Add attachment" %>
<%= page_title title, errors: @document_upload.errors.any? %>
<%= form_with model: @document_upload, builder: ApplicationFormBuilder, url: associated_document_uploads_path(@parent) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@document_upload.errors, %i[file_upload title description])%>
      <span class="govuk-caption-l"><%= @parent.pretty_description %></span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1"><%= title %></h1>

      <% if (@parent.is_a?(Investigation) || @parent.is_a?(Product)) %>
        <% hint_text = @parent.is_a?(Investigation) ? "Image files will be saved to the notification images page." : "Image files will be saved to the product images." %>
        <div class="govuk-hint govuk-!-margin-bottom-8"><%= hint_text %></div>
      <% end %>

      <%= render "upload_file_component", form: form, old_file: nil, field_name: :file_upload, legend: "Upload a file", label: "Upload a file", hint: nil %>

      <%= form.govuk_input :title, label_classes: "govuk-label--m", label: "Document title" %>
      <%= form.govuk_text_area :description, label: "Description", attributes: { maxlength: 10_000 } %>

      <%= govukButton text: "Save attachment" %>
    </div>
  </div>
<% end %>
