<% page_heading = "Attachment" %>
<%= page_title page_heading %>

<% if @parent.is_a?(Investigation) %>
  <% @investigation = @parent %>

  <% content_for :back_link do %>
    <%= govukBackLink(
      text: "Back to #{@investigation.pretty_description.downcase}",
      href: investigation_supporting_information_index_path(@investigation)
    ) %>
  <% end %>
<% else %>
  <% content_for :after_header do %>
    <%= govukBackLink(
      text: "Back",
      href: attachments_tab_path(@parent)
    ) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <div class="app-meta-area">
      <p class="govuk-body govuk-hint">
        Added <%= @document_upload.created_at.to_formatted_s(:govuk) %>
      </p>
    </div>

    <% rows = [
        {
          key: {
            text: "Type"
          },
          value: {
            text: @document_upload.event_type
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            text: @document_upload.title
          }
        },
        {
          key: {
            text: "Event date"
          },
          value: {
            text: @document_upload.created_at.to_formatted_s(:govuk)
          }
        },
        {
          key: {
            text: "Added"
          },
          value: {
            text: @document_upload.created_at.to_formatted_s(:govuk)

          }
        }
      ] %>
    <%= govukSummaryList(rows: rows) %>

    <% if documentable_policy(@parent).update? %>
      <p class="govuk-body"><%= link_to "Edit attachment", edit_associated_document_upload_path(@parent, @document_upload), class: "govuk-link" %></p>
    <% end %>
    <% if documentable_policy(@parent).remove? %>
      <p class="govuk-body"><%= link_to "Remove attachment", remove_associated_document_upload_path(@parent, @document_upload), class: "govuk-link" %></p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Attachment</h2>
    <p class="govuk-body"><%= link_to @document_upload.title, @document_upload.file_upload, class: "govuk-link" %></p>

    <%= document_upload_placeholder(@document_upload) %>
  </div>
</div>
