<% page_heading = "Edit corrective action" %>
<%= page_title page_heading, errors: @corrective_action_form.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @corrective_action_form, scope: :corrective_action, url: notification_edit_record_a_corrective_action_path(@notification, @corrective_action), method: :put, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @notification.user_title %></span>
        <%= page_heading %>
      </h1>
      <%= render "investigations/corrective_actions/form",
                 f: f,
                 corrective_action: @corrective_action_form,
                 investigation: @notification,
                 allow_product_linking: true,
                 allow_business_linking: true %>
      <% file_field = capture do %>
        <%= f.hidden_field :existing_document_file_id %>
        <%= render "related_attachment_fields", form: f, file_blob: @file_blob, attachment_name: :file %>
      <% end %>
      <%= f.hidden_field :related_file, value: nil %>
      <% remove_file_text = @corrective_action_form.related_file? ? "Remove attached file" : "No" %>
      <%= f.govuk_radio_buttons_fieldset :related_file, legend: { text: "Are there any files related to the action?", size: "m" } do %>
        <%= f.govuk_radio_button :related_file, true, label: { text: "Yes" }, checked: @corrective_action_form.document.present?, link_errors: true do %>
          <%= file_field %>
        <% end %>
        <%= f.govuk_radio_button :related_file, false, label: { text: remove_file_text } %>
      <% end %>
      <%= f.govuk_submit("Update corrective action") %>
    <% end %>
  </div>
</div>
