<% page_heading = "Record a corrective action" %>
<%= page_title page_heading, errors: @corrective_action_form.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @corrective_action_form, scope: :corrective_action, url: notification_add_record_a_corrective_action_path(@notification), method: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @notification.user_title %></span>
        <%= page_heading %>
      </h1>
      <%= render "investigations/corrective_actions/form",
                 f: f,
                 corrective_action: @corrective_action_form,
                 investigation: @notification,
                 allow_product_linking: true,
                 allow_business_linking: true %>
      <%= f.hidden_field :existing_document_file_id %>
      <%= f.govuk_radio_buttons_fieldset :related_file, legend: { text: "Are there any files related to the action?", size: "m" } do %>
        <%= f.govuk_radio_button :related_file, true, label: { text: "Yes" }, link_errors: true do %>
          <% if @corrective_action_form.document.present? %>
            <%= f.hidden_field :document, value: @corrective_action_form.existing_document_file_id %>
            <% if @corrective_action_form.document.is_a?(ActiveStorage::Blob) %>
              <p id="current-attachment-details">
                Currently selected file:
                <%= link_to "#{@corrective_action_form.document.filename.to_s} (opens in new tab)", @corrective_action_form.document, class: "govuk-link", target: "_blank", rel: "noreferrer noopener" %>
              </p>
            <% else %>
              <p id="current-attachment-details">
                File attached
              </p>
            <% end %>
            <%= govuk_details(summary_text: "Replace this file") do %>
              <%= f.govuk_file_field :document, label: nil, hint: { text: "If you have multiple files, compress them in a zip file." } %>
            <% end %>
          <% else %>
            <%= f.govuk_file_field :document, label: nil, hint: { text: "If you have multiple files, compress them in a zip file." } %>
          <% end %>
        <% end %>
        <% remove_file_text = @corrective_action_form.related_file? ? "Remove attached file" : "No" %>
        <%= f.govuk_radio_button :related_file, false, label: { text: remove_file_text } %>
      <% end %>
      <%= f.govuk_submit("Record a corrective action") %>
    <% end %>
  </div>
</div>
