<% page_title "Notification search results" %>

<%= render 'investigations/heading/all_cases', answer: @answer %>

<%= form_with(model: @search, scope: "", url: investigations_search_path, method: :get, id: "cases-search-form", html: { role: "search" }) do |form| %>
  <div class="govuk-grid-row">
    <%= render 'investigations/filters', search: @search, form: form %>
    <section class="govuk-grid-column-three-quarters" id="page-content">
      <div class="govuk-grid-row">
        <%= render 'investigations/search_bar', form: form %>
        <%= render_sort_by form, @search.sort_by_items(with_relevant_option: true), @search.selected_sort_by, @search.sort_dir %>
      </div>
      <div class="govuk-grid-row">
        <%= search_result_statement(@search.q, @count) %>
      </div>
      <% if @investigations.any? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" role="region" aria-label="Notifications">
            <table id="results" class="govuk-table opss-table-items opss-table-items--sm">
              <caption class="govuk-visually-hidden">
                Notification data: 5 columns with each notification described across rows within each table body.
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-visually-hidden">&nbsp;</th>
                  <th id="case" scope="col" class="govuk-table__header">Notification number</th>
                  <th id="caseowner" scope="col" class="govuk-table__header">Notification owner</th>
                  <th id="haztype" scope="col" class="govuk-table__header">Hazard type</th>
                  <th scope="col" class="govuk-table__header">Product count</th>
                  <% if @search.sort_by == SortByHelper::SORT_BY_CREATED_AT %>
                    <th id="created" scope="col" class="govuk-table__header">Created</th>
                  <% else %>
                    <th id="updated" scope="col" class="govuk-table__header">Updated</th>
                  <% end %>
                </tr>
              </thead>

              <% @investigations.each do |investigation| %>
                <% result = @answer.find { |rs| rs.id.to_i == investigation.id } %>
                <% if !policy(investigation).view_non_protected_details? %>
                  <%= render "investigations/restricted_table_body", investigation: investigation.decorate %>
                <% elsif result.respond_to?(:highlight) %>
                  <%= render "investigations/highlight_table_body", investigation: investigation.decorate, highlights: result.highlight, sorted_by: @search.sort_by %>
                <% else %>
                  <%= render "investigations/full_table_body", investigation: investigation.decorate, sorted_by: @search.sort_by %>
                <% end %>
              <% end %>

              <% if @investigations.size > 11 %>
                <tfoot class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-visually-hidden">&nbsp;</th>
                    <th scope="col" class="govuk-table__header">Notification number</th>
                    <th scope="col" class="govuk-table__header">Notification owner</th>
                    <th scope="col" class="govuk-table__header">Hazard type</th>
                    <th scope="col" class="govuk-table__header">Product count</th>
                    <% if @search.sort_by == SortByHelper::SORT_BY_CREATED_AT %>
                      <th scope="col" class="govuk-table__header">Created</th>
                    <% else %>
                      <th scope="col" class="govuk-table__header">Updated</th>
                    <% end %>
                  </tr>
                </tfoot>
              <% end %>
            </table>

            <%= govuk_pagination(pagy: @pagy) %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
<% end %>
