<% page_title "Case search results" %>

<%= render 'investigations/heading', answer: @answer %>

<div class="govuk-grid-row">
  <%= render 'investigations/filters', search: @search, show_relevancy_radion_option: true, submitted_from: "investigation_search" %>

  <div class="govuk-grid-column-three-quarters" id="results">
    <% @investigations.each do |investigation| %>
      <% result = @answer.results.find { |rs| rs.id.to_i == investigation.id } %>
      <% if !policy(investigation).view_non_protected_details? %>
        <%= render "investigations/restricted_card", investigation: investigation.decorate %>
      <% elsif result.respond_to?(:highlight) %>
        <%= render "investigations/highlight_card", investigation: investigation.decorate, highlights: result.highlight %>
      <% else %>
        <%= render "investigations/case_card", investigation: investigation.decorate, sorted_by: @search.sort_by %>
      <% end %>
    <% end %>

    <%= will_paginate @answer.results %>

    <br />

    <% if @investigations.any? && policy(Investigation).export? %>
      <%= link_to "Export as spreadsheet", investigations_path(format: :xlsx, params: export_params), class: "govuk-link" %>
    <% end %>

    <% unless @investigations.any? %>
      <div style="text-align:center" class="govuk-heading-l">
        No results
      </div>
    <% end %>
  </div>
</div>
