<%= render "investigations/pages_top" %>
<% content_for :after_header do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.type.demodulize.downcase}",
    href: investigation_supporting_information_index_path(@investigation)
  ) %>
<% end %>

<%
  radio_items = SupportingInformationForm::AVAILABLE_TYPES
                  .except(:generic_information)
                  .map { |type, label| { text: label, value: type } }.tap do |items|
                    items.push divider: "or"
                    items.push text: SupportingInformationForm::AVAILABLE_TYPES[:generic_information], value: :generic_information
                  end
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= error_summary @supporting_information_form.errors %>
    <% header = capture do %>
      <h1 class="govuk-heading-l"> What type of information are you adding? </h1>
    <% end %>
    <%= form_with local: true, url: investigation_supporting_information_index_path(@investigation) do |form| %>
      <%= render "form_components/govuk_radios",
                form: form,
                key: :type,
                errorMessage: format_errors_for(@supporting_information_form,
                                                @supporting_information_form.errors.full_messages_for(:type)),
                items: radio_items,
                fieldset: { legend: { html: header } } %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
    <p class="govuk-body">
      <%= link_to 'Cancel', investigation_supporting_information_index_path(@investigation) %>
    </p>
  </div>
</div>
