<%= form_with(model: correspondence_form, url:, builder: ApplicationFormBuilder) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <%= error_summary(correspondence_form.errors) %>

      <span class="govuk-caption-l"><%= investigation.pretty_description %></span>

      <h1 class="govuk-heading-l">Record phone call</h1>

      <%= govukFieldset(legend: { text: "Who was the call with?", classes: "govuk-fieldset__legend--m" }) do %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= form.govuk_input :correspondent_name, label: "Name" %>
            <%= form.govuk_input :phone_number, label: "Phone number", hint: "Please include any dialing codes etc" %>
          </div>
        </div>
      <% end %>

      <%= form.govuk_date_input :correspondence_date, legend: "Date of call" %>


      <%= form.govuk_input :overview, classes: "govuk-!-width-two-thirds", label: "Summary", label_classes: "govuk-label--m", hint: "Give an overview of the phone call" %>

      <%= govukFieldset(legend: { text: "Details", classes: "govuk-fieldset__legend--m" }, describedBy: "details-hint") do %>
        <span id="details-hint" class="govuk-hint govuk-!-width-full">Upload the transcript if you have one, or enter notes below</span>

        <div class="govuk-form-group">
          <%= form.hidden_field :existing_transcript_file_id %>
          <% file_upload_field = capture do %>
            <%= form.govuk_file_upload :transcript,
               label: "Upload a file",
               label_classes: "govuk-label",
               classes: "govuk-file-upload"
            %>
          <% end %>

          <% if form.object.transcript.present? %>
            <p id="current-attachment-details">
              Currently selected file:
              <%= link_to "#{form.object.transcript.filename} (opens in new tab)", url_for(form.object.transcript), target: "_blank", rel: "noreferrer noopener" %>
            </p>

            <%= govuk_details(summary_text: "Replace this file", text: file_upload_field) %>
          <% else %>
            <%= file_upload_field %>
          <% end %>

        </div>

        <%= form.govuk_text_area :details, label: "Notes", label_classes: "govuk-!-width-two-thirds", attributes: { maxlength: 32_767 } %>

      <% end %>

      <%= govukButton text: form.object.persisted? ? "Update phone call" : "Add phone call" %>
    </div>
  </div>
<% end %>
