<%= page_title "Record phone call", errors: @correspondence.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back",
    href: previous_wizard_path
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with(model: @correspondence, local: true, url: wizard_path, method: :put) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form_components/govuk_error_summary", form: form %>

      <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>

      <h1 class="govuk-heading-l">Record phone call</h1>
        <%= form.submit "Continue", class: "govuk-button" %>

        <%= permission_notice(text: t("case.protected_details", data_type: "phone call correspondence")) %>
      <% end %>
    </div>
  </div>
<% end %>
