<%= page_title @page_title, errors: @investigation.errors.any? %>
<% content_for :after_header do %>
  <%= link_to "Back to cases", investigations_path, class: "govuk-back-link" %>
<% end %>
<%= form_with(model: @investigation, scope: :enquiry, local: true, url: wizard_path, method: :put, html: {novalidate: true}, builder: ApplicationFormBuilder) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@investigation.errors) %>

      <h1 class="govuk-heading-l"><%= @page_title %></h1>

      <fieldset class="govuk-fieldset">
        <%= form.govuk_date_input :date_received, legend: "When was it received?" %>
        <p class="govuk-body">
          Set to: <%= link_to('Today', '#', id: :today) %>
          <%= link_to('Yesterday', '#', id: :yesterday) %>
        </p>
        <%= govukRadios(
          form: form,
          key: :received_type,
          fieldset: { legend: { text: "How was it received?", classes: "govuk-fieldset__legend--m" } },
          items: received_type(form)
        ) %>
      </fieldset>
      <div class="govuk-form-group" >
        <%= govukButton text: "Continue" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  window.dateInput("date_received-fieldset");
</script>
