<% content_for :page_title, "Summary statistics" %>

<% content_for :aside do %>
  <%= @current_month.strftime("%B %Y") %>
<% end %>

<nav class="govuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="November 2023">
        Nov
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="December 2023">
        Dec
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="January 2024" aria-current="page">
        Jan
      </a>
    </li>
  </ul>
</nav>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">Monthly active users</span>
      <%= pluralize @active_users_this_month, 'user' %>
    </h2>
    <p class="govuk-body">
      <span class="govuk-caption-m">Last 30 days</span>
      <span class="govuk-caption-m">
        <% if @active_users_change_pc.positive? %>
          <span class="govuk-visually-hidden">Increase of</span>
          +<%= number_to_percentage @active_users_change_pc, precision: 0 %>
        <% elsif @active_users_change_pc.zero? %>
          No change
        <% else %>
          <span class="govuk-visually-hidden">Decrease of</span>
          -<%= number_to_percentage @active_users_change_pc, precision: 0 %>
        <% end %>
        from last month
      </span>
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How we measure active users
        </span>
      </summary>
      <div class="govuk-details__text">
        An active user is one that has logged in to the service in the last 30 days
      </div>
    </details>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">Total notifications</span>
      <%= pluralize @notifications_this_month, 'notification' %>
    </h2>
    <p class="govuk-body">
      <span class="govuk-caption-m">Last 30 days</span>
      <span class="govuk-caption-m">
        <% if @notifications_change_pc.positive? %>
          <span class="govuk-visually-hidden">Increase of</span>
          +<%= number_to_percentage @notifications_change_pc, precision: 0 %>
        <% elsif @notifications_change_pc.zero? %>
          No change
        <% else %>
          <span class="govuk-visually-hidden">Decrease of</span>
          -<%= number_to_percentage @notifications_change_pc, precision: 0 %>
        <% end %>
        from last month
      </span>
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a notification?
        </span>
      </summary>
      <div class="govuk-details__text">
        A notification is made on <abbr title="Product Safety Database">PSD</abbr> to notify a product safety issue to <abbr title="Office for Product Safety and Standards">OPSS</abbr>.
      </div>
    </details>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">Submission rate</span>
      x% submitted
    </h2>
    <p class="govuk-body">
      <span class="govuk-caption-m">Last 30 days</span>
      <span class="govuk-caption-m">+x% from last month</span>
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How do we measure submission rate?
        </span>
      </summary>
      <div class="govuk-details__text">
        A completed notification is one that has been submitted to <abbr title="Office for Product Safety and Standards">OPSS</abbr> for review, and is not a draft.
      </div>
    </details>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">Cost per notification</span>
      <%= number_to_currency @cost_per_notification_this_month, unit: "£" %>
    </h2>
    <p class="govuk-body">
      <span class="govuk-caption-m">Last 30 days</span>
      <span class="govuk-caption-m">

        <% if @cost_per_notification_change_pc.positive? %>
          <span class="govuk-visually-hidden">Increase of</span>
          +<%= number_to_percentage @cost_per_notification_change_pc, precision: 0 %>
        <% elsif @cost_per_notification_change_pc.zero? %>
          No change
        <% else %>
          <span class="govuk-visually-hidden">Decrease of</span>
          -<%= number_to_percentage @cost_per_notification_change_pc, precision: 0 %>
        <% end %>
        from last month
      </span>
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How do we calculate cost per notification?
        </span>
      </summary>
      <div class="govuk-details__text">
        We calculate cost per notification by using the <abbr title="Office for Product Safety and Standards">OPSS</abbr> costs divided by the number of notifications submitted.
      </div>
    </details>
  </div>
</div>
