<%= page_title "Add a product to the case", errors: @find_product_form.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink text: "Back", href: investigation_products_path(@investigation) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= error_summary @find_product_form.errors %>

<%= form_with model: @find_product_form, url: investigation_products_path(@investigation), html: {novalidate: true}, builder: ApplicationFormBuilder, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="add-product">Enter a <%= psd_abbr %> product record reference number</label>
      </h1>
      <div id="add-product-hint" class="govuk-hint">
        Each product record in the Product Safety Database (<%= psd_abbr %>) has a <%= psd_abbr %> reference number.
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= govukDetails(
        classes: "govuk-!-margin-bottom-9 opss-details--sm",
        summaryText: "Help with adding a product to the case"
      ) do %>
        <p class="govuk-body-s">
          Use the <%= link_to "Products area", your_products_path, class: "govuk-link govuk-link--no-visited-state" %> to find a product and its product record reference number. For example, psd-301. Using an existing <%= psd_abbr %> product record to add to your case avoids the need to create a new one and highlights other cases investigating the same product.
        </p>
        <p class="govuk-body-s">
          After checking that the product does not already exist within the <%= psd_abbr %> product records, you can create a new product record (using the links provided in the Products area pages) and then use its <%= psd_abbr %> reference number to add it to your case.
        </p>
      <% end %>
      <%= form.govuk_input(:reference, prefix: { text: "psd-" }, classes: "govuk-input--width-5", spellcheck: false) %>
      <div class="govuk-button-group">
        <%= govukButton(text: "Continue") %>
        <%= link_to "Cancel", investigation_products_path(@investigation), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    </div>
  </div>
<% end %>
