<%= page_title "Remove product from case" %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_products_path(@investigation)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<%= form_with(url: unlink_investigation_product_path(@investigation), method: :delete, local: true) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Remove product</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Product details</h3>

      <%= render "product_summary", product: @product %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
      <%= form.submit "Remove product", class: "govuk-button govuk-button--warning" %>
    </div>
  </div>

<% end %>
