<% title = "Change your name" %>
<% page_title title, errors: @user.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= error_summary(@user.errors) %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_with model: @user, url: account_name_path, method: :patch, local: true do |form| %>

      <%= govukInput(
        key: :name,
        form: form,
        classes: "app-!-max-width-two-thirds",
        label: {
          text: "Full name"
        },
        value: @user.name,
        autocomplete: "name",
        id: "name")
      %>

      <%= govukButton(text: "Save") %>
    <% end %>
  </div>
</div>
