<% if allow_product_linking %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if test_result_form.errors[:product].any? %>">

    <% if investigation.investigation_products.empty? %>
      <h2 class="govuk-heading-m">Which product was tested?</h2>
      <span class="govuk-hint">
        A product has not been added to this case.
        <br>
        <%= link_to "Add the product", new_investigation_product_path(investigation), class: "govuk-link govuk-link--no-visited-state" %> which is the subject of the test report to the case first.
      </span>
    <% elsif @investigation.investigation_products.size == 1 %>
      <h2 class="govuk-heading-m">Product tested</h2>
      <p class="govuk-body"><%= @investigation.investigation_products.first.product.name %></p>
      <%= form.hidden_field :investigation_product_id, value: @investigation.investigation_products.first.id %>
    <% else %>
      <% span_html = capture do %>
        Only products already added to the case are listed.
        <%= link_to "Add a product", new_investigation_product_path(investigation) %>
      <% end %>

      <%= govukSelect(
        items: investigation.investigation_products.map { |investigation_product| { text: "#{investigation_product.name} (#{investigation_product.psd_ref})", value: investigation_product.id } },
        key: :investigation_product_id,
        id: "investigation_product",
        form: form,
        show_all_values: true,
        label: { text: "Which product was tested?", classes: "govuk-label--m" },
        hint: { html: span_html },
      ) %>
    <% end %>
  </div>
<% end %>

<%= govukSelect(
  choices: relevant_legislation,
  key: :legislation,
  id: "legislation",
  form: form,
  include_blank: true,
  show_all_values: true,
  label: { text: "Under which legislation?", classes: "govuk-label--m" },
  hint: { text: "Select the relevant legislation from the list." },
) %>

<%= form.govuk_input :standards_product_was_tested_against, label_classes: "govuk-label--m", hint: "For example, EN71. Use a comma to separate multiple standards.", label: "Which standard was the product tested against?", value: form.object.standards_product_was_tested_against&.join(", ")  %>
<%= form.govuk_date_input :date, legend: "Date of test", hint: "For example, 12 7 2019" %>

<%= form.govuk_radios :result, legend: "What was the result?", items: result_items(form) %>

<%= form.govuk_text_area :details, label: "Further details", attributes: { maxlength: 32_767 } %>

<%= form.hidden_field :existing_document_file_id %>
<%= render "related_attachment_fields",
           form: form,
           file_blob: @test_result_form.document,
           attachment_name: :document_form,
           title: "Test report attachment",
           error_field: :document
%>
