<% if allow_product_linking %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if test_result_form.errors[:product].any? %>">

    <% if investigation.products.empty? %>
      <h2 class="govuk-heading-m">Which product was tested?</h2>
      <span class="govuk-hint">
        There are no products on this case. <%= link_to "Add a product", new_investigation_product_path(investigation) %> to send it for testing.
      </span>
    <% elsif @investigation.products.size == 1 %>
      <h2 class="govuk-heading-m">Product tested</h2>
      <p class="govuk-body"><%= @investigation.products.first.name %></p>
      <%= form.hidden_field :product_id, value: @investigation.products.first.id %>
    <% else %>
      <% span_html = capture do %>
        Only products already added to the case are listed.
        <%= link_to "Add a product", new_investigation_product_path(investigation) %>
      <% end %>
      <%= render "form_components/govuk_select",
                 key: :product_id,
                 form: form,
                 show_all_values: true,
                 items: investigation.products.map { |product| { text: product.name, value: product.id } },
                 is_autocomplete: true,
                 hint: { html: span_html },
                 label: { text: "Which product was tested?", classes: "govuk-label--m" }
      %>
    <% end %>
  </div>
<% end %>

<%= render "form_components/govuk_select",
           key: :legislation,
           form: form,
           choices: relevant_legislation,
           show_all_values: true,
           is_autocomplete: true,
           hint: { text: "Select the relevant legislation from the list." },
           label: { text: "Against which legislation?", classes: "govuk-label--m" } %>


<%= form.govuk_input :standards_product_was_tested_against, hint: "For example, EN71. Use comma to separate multiple standards.", label: "Which standard was the product tested against?", value: form.object.standards_product_was_tested_against&.join(", ")  %>

<%= form.govuk_date_input :date, legend: "Date of test", hint: "For example, 12 7 2019" %>

<%= render "form_components/govuk_radios",
           form: form,
           key: :result,
           fieldset: { legend: { text: "What was the result?", classes: "govuk-fieldset__legend--m" } },
           items: Test::Result.results.map { |result, label| { text: label, value: result } }
%>

<%= render "form_components/govuk_textarea",
           key: :details,
           form: form,
           attributes: { maxlength: 50_000 },
           label: { text: "Further details", classes: "govuk-label--m" } %>

<%= form.hidden_field :existing_document_file_id %>
<%= render "related_attachment_fields",
           form: form,
           file_blob: @test_result_form.document,
           attachment_name: :document_form,
           title: "Test report attachment"
%>
