<% if allow_product_linking %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if test_result_form.errors[:product].any? %>">

    <% if investigation.investigation_products.empty? %>
      <h2 class="govuk-heading-m">Which product was tested?</h2>
      <span class="govuk-hint">
        There are no products on this case. <%= link_to "Add a product", new_investigation_product_path(investigation) %> to send it for testing.
      </span>
    <% elsif @investigation.investigation_products.size == 1 %>
      <h2 class="govuk-heading-m">Product tested</h2>
      <p class="govuk-body"><%= @investigation.investigation_products.first.product.name %></p>
      <%= form.hidden_field :investigation_product_id, value: @investigation.investigation_products.first.id %>
    <% else %>
      <% span_html = capture do %>
        Only products already added to the case are listed.
        <%= link_to "Add a product", new_investigation_product_path(investigation) %>
      <% end %>
      <%= form.govuk_autocomplete :investigation_product_id, label: "Which product was tested?", label_classes: "govuk-label--m", items: investigation.investigation_products.map { |investigation_product| { text: "#{investigation_product.product.name} (#{investigation_product.psd_ref})", value: investigation_product.id } }, hint: span_html %>
    <% end %>
  </div>
<% end %>


<%= form.govuk_autocomplete(:legislation, label: "Against which legislation?", label_classes: "govuk-label--m", choices: relevant_legislation, hint: "Select the relevant legislation from the list.") %>
<%= form.govuk_input :standards_product_was_tested_against, label_classes: "govuk-label--m", hint: "For example, EN71. Use a comma to separate multiple standards.", label: "Which standard was the product tested against?", value: form.object.standards_product_was_tested_against&.join(", ")  %>
<%= form.govuk_date_input :date, legend: "Date of test", hint: "For example, 12 7 2019" %>

<%= form.govuk_radios :result, legend: "What was the result?", items: result_items(form) %>

<%= form.govuk_text_area :details, label: "Further details", attributes: { maxlength: 50_000 } %>

<%= form.hidden_field :existing_document_file_id %>
<%= render "related_attachment_fields",
           form: form,
           file_blob: @test_result_form.document,
           attachment_name: :document_form,
           title: "Test report attachment",
           error_field: :document
%>
