<%= page_title "Add business to case", errors: @business_type_form.errors.any? %>
<%= form_with(model: @business_type_form, url: investigation_business_types_path(investigation_pretty_id: @investigation.pretty_id), builder: ApplicationFormBuilder) do |form| %>
  <%= govukErrorSummary form: form %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group <%= class_names("govuk-form-group--error") if @business_type_form&.errors[:type].present? %>">
        <fieldset class="govuk-fieldset" aria-describedby="type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"><%= t(".heading") %></h1>
          </legend>
          <div id="type-hint" class="govuk-hint govuk-!-margin-bottom-5"><%= t(".hint") %></div>
          <% if @business_type_form&.errors[:type].present? %>
            <p id="type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select a business type
            </p>
          <% end %>
          <%= form.hidden_field :type, value: "" %>

          <% online_marketplace_radios = capture do %>
            <% number_of_market_places = @online_marketplaces.length %>
            <% online_marketplace_first_half = @online_marketplaces.slice(0..number_of_market_places/2) %>
            <% online_marketplace_second_half = @online_marketplaces.slice(number_of_market_places/2+1, number_of_market_places) %>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <div class="govuk-radios govuk-radios--small">
                  <% online_marketplace_first_half.each do |marketplace| %>
                    <div class="govuk-radios__item">
                      <%= form.radio_button :online_marketplace_id, marketplace.id, class: "govuk-radios__input" %>
                      <%= form.label :online_marketplace_id, marketplace.name, value: marketplace.id, class: "govuk-label govuk-radios__label" %>
                    </div>
                  <% end %>
                  <div class="govuk-radios__item">
                    <%= form.radio_button :online_marketplace_id, nil, checked: false, class: "govuk-radios__input" %>
                    <%= form.label :online_marketplace_id, t(".types.other.label"), value: nil, class: "govuk-label govuk-radios__label" %>
                  </div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <div class="govuk-radios govuk-radios--small">
                  <% online_marketplace_second_half.each do |marketplace| %>
                    <div class="govuk-radios__item">
                      <%= form.radio_button :online_marketplace_id, marketplace.id, class: "govuk-radios__input" %>
                      <%= form.label :online_marketplace_id, marketplace.name, value: marketplace.id, class: "govuk-label govuk-radios__label" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% radio_items = [
            { value: "retailer", text: t(".types.retailer.label"), hint: { text: t(".types.retailer.hint") } },
            { value: "online_seller", text: t(".types.online_seller.label"), hint: { text: t(".types.online_seller.hint") } },
            { value: "online_marketplace", text: t(".types.online_marketplace.label"), hint: { text: t(".types.online_marketplace.hint") }, conditional: { html: online_marketplace_radios }},
            { value: "manufacturer", text: t(".types.manufacturer.label") },
            { value: "exporter", text: t(".types.exporter.label") },
            { value: "importer", text: t(".types.importer.label") },
            { value: "fulfillment_house", text: t(".types.fulfillment_house.label") },
            { value: "distributor", text: t(".types.distributor.label") }

            ] %>

          <%= form.govuk_radios :type,
            legend: "",
            items: radio_items
          %>
          </div>
        </fieldset>
      </div>
    </div>
  <%= form.submit "Continue", class: "govuk-button", data: { cy: "continue" } %>
  </div>

<% end %>
