<%= page_title "Add business to case", errors: @business_type_form.errors.any? %>
<%= form_with(model: @business_type_form, url: investigation_business_types_path(investigation_pretty_id: @investigation.pretty_id), builder: ApplicationFormBuilder) do |form| %>
  <%= govukErrorSummary form: form %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group <%= class_names("govuk-form-group--error") if @business_type_form&.errors[:type].present? %>">
        <fieldset class="govuk-fieldset" aria-describedby="type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"><%= t(".heading") %></h1>
          </legend>
          <div id="type-hint" class="govuk-hint govuk-!-margin-bottom-5"><%= t(".hint") %></div>
          <% if @business_type_form&.errors[:type].present? %>
            <p id="type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select a business type
            </p>
          <% end %>
          <%= form.hidden_field :type, value: "" %>

          <% radio_items = [
            { value: "retailer", text: t(".types.retailer.label"), hint: { text: t(".types.retailer.hint") } },
            { value: "online_seller", text: t(".types.online_seller.label"), hint: { text: t(".types.online_seller.hint") } },
            { value: "online_marketplace", text: t(".types.online_marketplace.label"), hint: { text: t(".types.online_marketplace.hint") } },
            { value: "manufacturer", text: t(".types.manufacturer.label") },
            { value: "exporter", text: t(".types.exporter.label") },
            { value: "importer", text: t(".types.importer.label") },
            { value: "fulfillment_house", text: t(".types.fulfillment_house.label") },
            { value: "distributor", text: t(".types.distributor.label") }

            ] %>

          <%= form.govuk_radios :type,
            legend: "",
            items: radio_items
          %>
          </div>
        </fieldset>
      </div>
    </div>
  <%= form.submit "Continue", class: "govuk-button", data: { cy: "continue" } %>
  </div>

<% end %>
