<fieldset class="govuk-fieldset govuk-!-margin-bottom-6" aria-describedby="address-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><%= t('.legend.title') %></legend>
  <div id="contact-hint" class="govuk-hint govuk-!-font-size-16"><%= t('.legend.hint') %></div>

  <%= govukInput(
    key: :address_line_1,
    form: form,
    label: { html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>".html_safe },
    classes: "govuk-!-width-two-thirds" ) %>

  <%= govukInput(
    key: :address_line_2,
    form: form,
    label: { text: "Building and street line 2 of 2", classes: "govuk-visually-hidden" },
    classes: "govuk-!-width-two-thirds" ) %>

  <%= govukInput(
    key: :city,
    form: form,
    label: { text: "Town or city" },
    classes: "govuk-!-width-two-thirds" ) %>

  <%= form.govuk_text_field :city,
                            width: 'two-thirds',
                            label: {text: "Town or city"}
  %>
  <%= govukInput(
    key: :county,
    form: form,
    label: { text: "County" },
    classes: "govuk-!-width-two-thirds" ) %>

  <%= govukInput(
    key: :postal_code,
    form: form,
    classes: "govuk-!-width-one-quarter",
    label: { text: "Postcode" } ) %>

  <%= govukSelect(
    form: form,
    key: :country,
    items: all_countries_with_uk_first.map { |country| { text: country[0], value: country[1] } },
    formGroup: { classes: "govuk-!-width-two-thirds" },
    include_blank: true,
    label: { text: "Country" } ) %>

</fieldset>
