<%= page_title "Edit location", errors: @location.errors.any? %>
<%= form_with(model: @location, url: business_location_path(@business, @location), builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= form.govuk_error_summary %>
      <span class="govuk-caption-l"><%= @business.pretty_description %></span>

      <h1 class="govuk-heading-l">Edit location</h1>
      <% id_name = (@location.country.blank? && @location.errors[:country].any?) ? "location-country-field-error" : "location-country-field" %>
      <%= render "form", form: form, id_name: id_name %>
    </div>
  </div>
<% end %>
