<%= page_title "Edit product", errors: @product_form.errors.any? %>
<%= form_with model: @product_form, scope: :product, url: product_path(@product_form.id), method: :put, local: true, html: {novalidate: true}, builder: ApplicationFormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@product_form.errors, %i[category subcategory authenticity has_markings markings when_placed_on_market name]) %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2"><%= @product_form.name %></h1>
      <p class="govuk-body govuk-!-margin-bottom-7 opss-secondary-text">If a record of a product does not already exist in the Product Safety Database (<%= psd_abbr title: false %>), you can create a product record for the product. This will also generate a new <%= psd_abbr %> product record reference number.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form", form: form, product_form: @product_form, countries: @countries, search: false, disable_permanent_fields: true %>
    </div>
  </div>
<% end %>
