<%= page_title "Edit product", errors: @product_form.errors.any? %>
<% content_for :after_header do %>
  <%= link_to "Back to product", product_path(@product_form.id), class: "govuk-back-link" %>
<% end %>

<%= form_with model: @product_form, scope: :product, url: product_path(@product_form.id), method: :put, local: true, builder: ApplicationFormBuilder do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= error_summary(@product_form.errors, %i[category subcategory authenticity affected_units_status number_of_affected_units name]) %>
    </div>
  </div>

  <%= render "product_heading", product_form: @product_form %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render "form", form: form, product_form: @product_form, countries: @countries, search: false %>
    </div>
  </div>
<% end %>
