<%= page_title I18n.t(".products.titles.#{@page_name}") %>

<%= render "products/heading/#{@page_name}", count: @count %>

<%= form_with(model: @search, scope: "", url: products_path, method: :get, local: true, html: { novalidate: true, role: "search" }) do |form| %>
  <div class="govuk-grid-row opss-full-height">
    <%= render 'products/filters', form: form %>

    <section class="govuk-grid-column-three-quarters" id="page-content">
      <% if ["team_products", "your_products"].exclude?(@page_name) %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group govuk-!-padding-bottom-2">
              <%= form.label :q, "Search", class: "govuk-label" %>
              <div class="govuk-input__wrapper opss-search__wrapper">
                <%= form.hidden_field :sort_by, id: "sort_by_current", value: params[:sort_by] %>
                <%= form.hidden_field :sort_dir, value: params[:sort_dir] %>
                <%= form.search_field :q, class: "govuk-input govuk-!-width-full", spellcheck: false, "aria-describedby" => "search-hint" %>
                <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                  <span class="govuk-visually-hidden">Submit search</span>
                </button>
              </div>
            </div>
          </div>
          <%= render_sort_by form, @sort_by_items, @selected_sort_by, @selected_sort_direction, "govuk-grid-column-one-third"  if (@results.total_count && @results.total_count > 11) %>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= render "search_statement", count: @count, keywords: params[:q], filter: { category: params[:category], retired_status: params[:retired_status] } %>
          </div>
        </div>
      <% elsif (@results.total_count && @results.total_count > 11) %>
        <div class="govuk-grid-row">
          <%= render_sort_by form, @sort_by_items, @selected_sort_by, @selected_sort_direction, "govuk-grid-column-one-third opss-float-right-desktop" %>
        </div>
      <% end %>

      <% if @products.any? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" role="region" aria-label="Products">
            <%= render "table", products: @products %>
            <%= paginate @products.object %>
          </div>
        </div>
      <% elsif ["team_products", "your_products"].include?(@page_name) %>
        <%= render "products/no_products", page_name: @page_name %>
      <% end %>
    </section>
  <% end %>
