<%
  restricted = !activity.can_display_all_data?(current_user)
  title = restricted ? activity.restricted_title(current_user) : activity.title(current_user)
%>

<li>
  <h3 class="govuk-heading-s"><%= title %></h3>

  <p class="govuk-body-s timeline-details"><%= activity.subtitle(current_user) %></p>

  <% if restricted %>
    <%= render "restricted", activity: activity %>

    <%
      if activity.has_attachment?
        attachments_string = pluralize(activity.attachments.count, 'attachment')
    %>
      <p><%= "The #{activity.activity_type} has #{attachments_string}." %></p>
    <% end %>

  <% elsif activity.attached_image? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render "documents/document_preview",
                 document: activity.attachment,
                 dimensions: "100x100",
                 class_name: "product-image" %>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <% if activity.metadata %>
          <%= render "investigations/activities/#{activity.template_name}", activity: activity %>
        <% elsif activity.body %>
          <%= markdown simple_format(activity.body) %>
        <% end %>
      </div>
    </div>

  <% else %>
    <% if activity.metadata %>
      <%= render "investigations/activities/#{activity.template_name}", activity: activity %>
    <% else  %>
      <% if activity.body %>
        <%= markdown simple_format(activity.body) %>
      <% end %>

      <% if activity.product_id %>
        <%= link_to "View product details", product_url(activity.product_id), class: "govuk-link psd-block-link" %>
      <% end %>

      <% if activity.business_id %>
        <%= link_to "View business details", business_url(activity.business_id), class: "govuk-link psd-block-link" %>
      <% end %>

      <% if activity.is_a?(AuditActivity::Test::Result) && activity.test_result %>
        <%= link_with_hidden_text_to "View test result", " from #{activity.test_result.date.to_s(:govuk)}", investigation_test_result_path(@investigation, activity.test_result.id) %>

      <% elsif activity.is_a?(AuditActivity::CorrectiveAction::Add) && activity.corrective_action %>
        <%=  link_to "View corrective action", investigation_action_path(@investigation, activity.corrective_action), class: "govuk-link" %>

      <% elsif activity.is_a?(AuditActivity::Correspondence::AddEmail) %>
        <%=  link_to "View email", investigation_email_path(@investigation, activity.correspondence), class: "govuk-link" %>

      <% elsif activity.is_a?(AuditActivity::Correspondence::AddPhoneCall) %>
        <%=  link_to "View phone call", investigation_phone_call_path(@investigation, activity.correspondence), class: "govuk-link" %>

      <% elsif activity.is_a?(AuditActivity::Correspondence::AddMeeting) %>
        <%=  link_to "View meeting", investigation_meeting_path(@investigation, activity.correspondence), class: "govuk-link" %>

      <% elsif activity.has_attachment? %>
        <% activity.attachments.each do |name, attachment| %>
          <%= link_to "View #{name}", attachment, class: "psd-block-link", target: "_blank", rel: 'noopener' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</li>
