<%= page_title "Product recall tool" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      The product recall information
    </h1>
    <p class="govuk-body">
      Here you can add to or edit the product recall information.
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">
      <%= @product.name %>
      <span class="govuk-!-font-weight-regular govuk-!-font-size-16 govuk-!-padding-left-2 opss-no-wrap">(<%= @product.psd_ref %>)</span>
    </h2>
    <%= form_with model: @form, url: product_recall_path(product_id: @product.id, id: "complete"), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.hidden_field :step, value: @form.step %>
      <% @form.product_image_ids.each do |product_image_id| %>
        <%= form.hidden_field :product_image_ids, value: product_image_id, multiple: true %>
      <% end %>
      <% @form.notification_image_ids.each do |notification_image_id| %>
        <%= form.hidden_field :notification_image_ids, value: notification_image_id, multiple: true %>
      <% end %>
      <%= form.govuk_text_field :pdf_title, label: { text: "PDF title", size: "s" }, value: @product.name %>
      <%= form.govuk_text_field :alert_number, label: { text: "Alert number", size: "s" }, value: @case&.pretty_id %>
      <%= form.govuk_collection_select :product_type,
          [OpenStruct.new(id: "", name: "")] + product_categories.map { |category| OpenStruct.new(id: category, name: category) },
          :id,
          :name,
          label: { text: "Product type", size: "s" },
          options: { selected: @product.category }
      %>
      <%= form.govuk_text_field :subcategory, label: { text: "Subcategory", size: "s" }, value: @product&.subcategory %>
      <%= form.govuk_text_area :product_identifiers, label: { text: "Product identifiers", size: "s" }, hint: { text: "This can include barcodes, model names, SKU numbers, article numbers and various serial numbers such as Amazon ID (ASIN) and eBay ID numbers." }, value: @product.product_code, rows: 10, max_chars: 10_000 %>
      <%= form.govuk_text_area :product_description, label: { text: "Product description", size: "s" }, value: @product.unformatted_description, rows: 10, max_chars: 10_000 %>
      <%= form.govuk_collection_select :country_of_origin,
          [OpenStruct.new(id: "", name: ""), OpenStruct.new(id: "Unknown", name: "Unknown")] + all_countries.map { |country| OpenStruct.new(id: country[1], name: country[0]) },
          :id,
          :name,
          label: { text: "Country of origin", size: "s" },
          options: { selected: @product.country_of_origin }
      %>
      <%= form.govuk_collection_radio_buttons :counterfeit,
          [
            OpenStruct.new(id: "counterfeit", name: "Yes"),
            OpenStruct.new(id: "genuine", name: "No"),
            OpenStruct.new(id: "unsure", name: "Unsure")
          ],
          :id,
          :name,
          legend: { text: "Counterfeit", size: "s" },
          small: true,
          value: @product.authenticity
      %>
      <%= form.govuk_collection_select :risk_type,
          [OpenStruct.new(id: "", name: "")] + hazard_types.map { |hazard_type| OpenStruct.new(id: hazard_type, name: hazard_type) },
          :id,
          :name,
          label: { text: "Risk type", size: "s" },
          options: { selected: @case&.hazard_type }
      %>
      <%= form.govuk_collection_radio_buttons :risk_level,
          [
            OpenStruct.new(id: "Serious", name: "Serious"),
            OpenStruct.new(id: "High", name: "High"),
            OpenStruct.new(id: "Medium", name: "Medium"),
            OpenStruct.new(id: "Low", name: "Low"),
            OpenStruct.new(id: "Not provided", name: "Not provided")
          ],
          :id,
          :name,
          legend: { text: "Risk level", size: "s" },
          small: true,
          value: @case&.risk_level&.capitalize
      %>
      <%= form.govuk_text_area :risk_description, label: { text: "Risk description - why is the product unsafe", size: "s" }, value: @case&.hazard_description, rows: 10, max_chars: 10_000 %>
      <%= form.govuk_text_area :corrective_actions, label: { text: "Corrective actions", size: "s" }, value: @case&.corrective_actions&.decorate&.map(&:page_title)&.join("\n"), rows: 10, max_chars: 10_000 %>
      <%= form.govuk_radio_buttons_fieldset(:online_marketplace, legend: { text: "Online marketplace", size: "s" }, small: true) do %>
        <%= form.govuk_radio_button :online_marketplace, true, label: { text: "Yes" }, link_errors: true do %>
          <%= form.govuk_radio_buttons_fieldset(:online_marketplace_id, legend: nil, small: true) do %>
            <% number_of_marketplaces = @online_marketplaces.length %>
            <% online_marketplace_first_half = @online_marketplaces.slice(0..number_of_marketplaces/2) %>
            <% online_marketplace_second_half = @online_marketplaces.slice(number_of_marketplaces/2+1, number_of_marketplaces) %>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <% online_marketplace_first_half.each do |marketplace| %>
                  <%= form.govuk_radio_button :online_marketplace_id, marketplace.name, label: { text: marketplace.name }, class: ["js-radio-handle-other"] %>
                <% end %>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
                <% online_marketplace_second_half.each do |marketplace| %>
                  <%= form.govuk_radio_button :online_marketplace_id, marketplace.name, label: { text: marketplace.name }, class: ["js-radio-handle-other"] %>
                <% end %>
              </div>
            </div>
            <%= form.govuk_text_field(:other_marketplace_name, label: { text: t("investigations.business_types.new.types.other.label"), size: "s" }, class: ["js-input-handle-other"]) %>
          <% end %>
        <% end %>
        <%= form.govuk_radio_button :online_marketplace, false, label: { text: "No" } %>
      <% end %>
      <%= form.govuk_collection_radio_buttons :is_listing_removed,
          [
            OpenStruct.new(id: true, name: "Yes"),
            OpenStruct.new(id: false, name: "No")
          ],
          :id,
          :name,
          legend: { text: "Has the listing been removed by the online marketplace?", size: "s" },
          hint: {text: "Only applicable if you answered yes to online marketplace"},
          small: true
      %>
      <%= form.govuk_collection_radio_buttons :notified_by,
        [
          OpenStruct.new(id: "OPSS Enforcement", name: "OPSS Enforcement"),
          OpenStruct.new(id: "Local Authority Trading Standards",  name: "Local Authority Trading Standards"),
          OpenStruct.new(id: "HSE", name: "HSE"),
          OpenStruct.new(id: "Medicines and Healthcare products Regulatory Agency (MHRA)",  name: "Medicines and Healthcare products Regulatory Agency (MHRA)"),
          OpenStruct.new(id: "Environmental Health Northern Ireland",  name: "Environmental Health Northern Ireland"),
          OpenStruct.new(id: "Ofcom",  name: "Ofcom")
        ],
        :id,
        :name,
        legend: { text: "Notified by", size: "s" },
        small: true
      %>
      <div class="govuk-button-group">
        <%= form.govuk_submit("Continue") %>
      </div>
    <% end %>
  </div>
</div>
