<% page_heading = "Activity" %>
<%= page_title "#{page_heading} - #{@investigation.pretty_id}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <p class="govuk-body">
      <%= link_to "Add comment", new_investigation_activity_comment_path(@investigation) %>
    </p>

    <hr class="govuk-section-break govuk-section-break--m">
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render "activities_summary", activities: @activities %>
  </div>
</div>
