<% page_heading = "Businesses" %>
<%= page_title "#{page_heading} - #{@investigation.pretty_id}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <% if policy(@investigation).update?(user: current_user) %>
      <p class="govuk-body">
        <%= link_to "Add business", new_investigation_business_url(@investigation) %>
      </p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% @investigation.investigation_businesses.each do |ib| %>
      <h2 class="govuk-heading-m">
        <%= ib.decorate.pretty_relationship %>
      </h2>

      <%= business_summary_list ib.business %>

      <%= link_with_hidden_text_to "View business",
                                 "(#{ib.business.trading_name})",
                                 ib.business,
                                 class: "govuk-link app-block-link govuk-!-margin-right-3" %>

      <% if policy(@investigation).update?(user: current_user) %>
        <%= link_with_hidden_text_to "Remove business",
                                   "(#{ib.business.trading_name})",
                                   remove_investigation_business_path(@investigation, ib.business),
                                   class: "govuk-link app-block-link" %>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--m">

    <% end %>

    <% if @investigation.investigation_businesses.length.zero? %>
      <p class="govuk-body">No businesses</p>
    <% end %>
  </div>
</div>
