<% page_heading = "Images" %>
<%= page_title "#{page_heading} - #{@investigation.pretty_id}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= @investigation.pretty_description %></span>
    <h1 class="govuk-heading-l"><%= page_heading %></h1>

    <% if policy(@investigation).update?(user: current_user) %>
      <p class="govuk-body">
        <%= link_to "Add image", new_investigation_document_path(@investigation) %>
      </p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l">
  </div>
</div>

<% @product = @investigation.products.first %>

<%= render "components/govuk_tabs",
items: [
  {
    id: "case-images",
    label: "Case images (?)",
    panel: { html: render("products/tabs/images") }
  },
  {
    id: "product-images",
    label: "Product images (?)",
    panel: { html: render("investigations/tabs/images_new") }
  }
]
%>
