<%= render 'investigations/actions', investigation: @investigation %>
<dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Case name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @investigation.title %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_investigation_case_names_path(@investigation.pretty_id), class: "govuk-link govuk-link--no-visited-state" do %>
        Edit<span class="govuk-visually-hidden"> the case name</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      <%= @investigation.type %> <!--span class="opss-numero" title="Number">&numero;</span-->   <!-- or Enquiry / Project -->
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @investigation.pretty_id %> <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
          <span class="govuk-visually-hidden"> - </span>Case number 
      </span>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Reference <!--span class="opss-numero" title="Number">&numero;</span-->
    </dt>
    <dd class="govuk-summary-list__value">
        <%= @investigation.complainant_reference %> <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">Trading standards reference</span>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_investigation_reference_numbers_path(@investigation.pretty_id), class: "govuk-link govuk-link--no-visited-state" do %>
        Edit<span class="govuk-visually-hidden"> the reference number</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Summary
    </dt>
    <dd class="govuk-summary-list__value">
      <span class="opss-text-limit-scroll-s">
        <%= @investigation.description %>
      </span>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_investigation_summary_path(@investigation.pretty_id), class: "govuk-link govuk-link--no-visited-state" do %>
        Edit<span class="govuk-visually-hidden"> the summary</span>
      <% end %>
    </dd>
  </div>            
  <div class="govuk-summary-list__row opss-summary-list__row--split">
    <dt class="govuk-summary-list__key">
        Status
    </dt>
    <dd class="govuk-summary-list__value">
        <%= @investigation.status %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% href = @investigation.is_closed? ? reopen_investigation_status_path(@investigation) : close_investigation_status_path(@investigation) %>
      <% link_text = @investigation.is_closed? ? "Re-open" : "Close" %>
      <%= link_to href, class: "govuk-link govuk-link--no-visited-state" do %>
        <%= link_text %><span class="govuk-visually-hidden"> this case</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last updated</dt>
    <dd class="govuk-summary-list__value"><%= "#{time_ago_in_words(@investigation.updated_at)} ago" %></dd>
</div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Created</dt>
    <dd class="govuk-summary-list__value"><%= @investigation.created_at.to_s(:govuk) %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Created by
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @investigation.created_by %>  
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Case owner
    </dt>
    <dd class="govuk-summary-list__value">
        <%= investigation_owner(@investigation) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to new_investigation_ownership_path(@investigation), class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the case owner</span>
      <% end %>
    </dd>
  </div>
  <% team_list_html = capture do %>
    <% if @investigation.teams_with_access.length > 1 %>
      <ul class="govuk-list">
        <% @investigation.teams_with_access.each do |team| %>
          <li><%= team.name %></li>
        <% end %>
      </ul>
    <% elsif @investigation.teams_with_access.length == 1 %>
      <%= @investigation.teams_with_access.first.name %>
    <% else %>
      No teams added
    <% end %>
  <% end %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Teams added
    </dt>
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list govuk-list--bullet">
        <%= team_list_html %>
      </ul>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to investigation_collaborators_path(@investigation), class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the teams added</span>
      <% end %>
    </dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Case restriction
    </dt>
    <dd class="govuk-summary-list__value">
        <% if @investigation.is_private %>
          <span class="opss-tag opss-tag--risk2 opss-tag--lrg"><span class="govuk-visually-hidden">This case is </span>Restricted
        <% else %>
          Unrestricted
        <% end %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% path = @investigation.is_private ? unrestrict_investigation_visibility : restrict_investigation_visibility_path(@investigation) %>
      <%= link_to path, class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the case restriction</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Case risk level</dt>
    <dd class="govuk-summary-list__value">
      <% if @investigation.risk_level == "serious" %>
        <span class="opss-tag opss-tag--risk1 opss-tag--lrg">
          Serious risk
        </span>
      <% else %>
        <%= @investigation.risk_level_description %>
      <% end %>

      <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
        <span class="govuk-visually-hidden"> - </span>
        <%= @investigation.risk_validated_at ? "Validated" : "Not validated" %>
      </span>
    </dd>
    <dd class="govuk-summary-list__actions">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Change<span class="govuk-visually-hidden"> the risk level</span>
        </a>
    </dd>
  </div>
  <!--div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Risk level validated</dt>
    <dd class="govuk-summary-list__value">No</dd>
  </div-->
  <% if @investigation.coronavirus_related %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          COVID-19
      </dt>
      <dd class="govuk-summary-list__value">
          <span class="opss-tag opss-tag--covid opss-tag--lrg">COVID-19 related</span>
      </dd>
      <dd class="govuk-summary-list__actions">
          <a href="#" class="govuk-link govuk-link--no-visited-state">
              Change<span class="govuk-visually-hidden"> the coronavirus status</span>
          </a>
      </dd>
    </div>
  <% end %>
</dl>