<%= render 'investigations/actions', investigation: @investigation %>
<% team_list_html = capture do %>
  <% if @investigation.teams_with_access.length > 1 %>
    <ul class="govuk-list govuk-list--bullet">
      <% @investigation.teams_with_access.each do |team| %>
        <li><%= team.name %></li>
      <% end %>
    </ul>
  <% elsif @investigation.teams_with_access.length == 1 %>
    <%= @investigation.teams_with_access.first.name %>
  <% else %>
    No teams added
  <% end %>
<% end %>

<%= govukSummaryList(
        classes: "app-summary-list--actions-on-own-line",
        rows: case_rows(@investigation, current_user, team_list_html)
) %>

<% if policy(@investigation).send_email_alert? %>
  <div class="opss-text-align-right opss-margin-bottom-1-desktop">
    <%= link_to "Create an email alert", about_investigation_alerts_path(@investigation), class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-16 opss-text-underline-offset" %>
  </div>
<% end %>

<h3 id="safety" class="govuk-heading-m govuk-!-margin-top-6 opss-float-left">
  Safety and compliance
</h3>
<% if policy(@investigation).update?(user: current_user) %>
  <a href="<%= edit_investigation_reported_reason_path(@investigation) %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6 opss-float-right">
    Edit<span class="govuk-visually-hidden"> the safety and compliance</span>
  </a>
<% end %>
<%= govukSummaryList(
  classes: "app-summary-list--actions-on-own-line",
  rows: safety_and_compliance_rows(@investigation)
) %>
