<%= render 'investigations/actions', investigation: @investigation %>
  <div class="govuk-summary-list__row opss-summary-list__row--split">
    <dt class="govuk-summary-list__key">
        Status
    </dt>
    <dd class="govuk-summary-list__value">
        <%= @investigation.status %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% href = @investigation.is_closed? ? reopen_investigation_status_path(@investigation) : close_investigation_status_path(@investigation) %>
      <% link_text = @investigation.is_closed? ? "Re-open" : "Close" %>
      <%= link_to href, class: "govuk-link govuk-link--no-visited-state" do %>
        <%= link_text %><span class="govuk-visually-hidden"> this case</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last updated</dt>
    <dd class="govuk-summary-list__value"><%= "#{time_ago_in_words(@investigation.updated_at)} ago" %></dd>
</div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Created</dt>
    <dd class="govuk-summary-list__value"><%= @investigation.created_at.to_s(:govuk) %></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Created by
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @investigation.created_by %>  
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Case owner
    </dt>
    <dd class="govuk-summary-list__value">
        <%= investigation_owner(@investigation) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to new_investigation_ownership_path(@investigation), class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the case owner</span>
      <% end %>
    </dd>
  </div>
  <% team_list_html = capture do %>
    <% if @investigation.teams_with_access.length > 1 %>
      <ul class="govuk-list">
        <% @investigation.teams_with_access.each do |team| %>
          <li><%= team.name %></li>
        <% end %>
      </ul>
    <% elsif @investigation.teams_with_access.length == 1 %>
      <%= @investigation.teams_with_access.first.name %>
    <% else %>
      No teams added
    <% end %>
  <% end %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Teams added
    </dt>
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list govuk-list--bullet">
        <%= team_list_html %>
      </ul>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to investigation_collaborators_path(@investigation), class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the teams added</span>
      <% end %>
    </dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Case restriction
    </dt>
    <dd class="govuk-summary-list__value">
        <% if @investigation.is_private %>
          <span class="opss-tag opss-tag--risk2 opss-tag--lrg"><span class="govuk-visually-hidden">This case is </span>Restricted
        <% else %>
          Unrestricted
        <% end %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% path = @investigation.is_private ? unrestrict_investigation_visibility : restrict_investigation_visibility_path(@investigation) %>
      <%= link_to path, class: "govuk-link govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> the case restriction</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Case risk level</dt>
    <dd class="govuk-summary-list__value">
      <% if @investigation.risk_level == "serious" %>
        <span class="opss-tag opss-tag--risk1 opss-tag--lrg">
          Serious risk
        </span>
      <% else %>
        <%= @investigation.risk_level_description %>
      <% end %>

      <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
        <span class="govuk-visually-hidden"> - </span>
        <%= @investigation.risk_validated_at ? "Validated" : "Not validated" %>
      </span>
    </dd>
    <dd class="govuk-summary-list__actions">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
            Change<span class="govuk-visually-hidden"> the risk level</span>
        </a>
    </dd>
  </div>
  <% if @investigation.coronavirus_related %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          COVID-19
      </dt>
      <dd class="govuk-summary-list__value">
          <span class="opss-tag opss-tag--covid opss-tag--lrg">COVID-19 related</span>
      </dd>
      <dd class="govuk-summary-list__actions">
          <a href="#" class="govuk-link govuk-link--no-visited-state">
              Change<span class="govuk-visually-hidden"> the coronavirus status</span>
          </a>
      </dd>
    </div>
  <% end %>
</dl>

<%= govukSummaryList(
        classes: "app-summary-list--actions-on-own-line",
        rows: case_rows(@investigation)
) %>

<h3 id="safety" class="govuk-heading-m govuk-!-margin-top-6 opss-float-left">
  Safety and compliance
</h3>
<a href="edit-why-are-you-creating-a-case" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6 opss-float-right">
  Edit<span class="govuk-visually-hidden"> the safety and compliance</span>
</a>
<%= govukSummaryList(
  classes: "app-summary-list--actions-on-own-line",
  rows: safety_and_compliance_rows(@investigation)
) %>