<%= render('investigations/actions', investigation: @investigation) unless @investigation.is_closed? %>
<% team_list_html = capture do %>
  <% if @investigation.teams_with_access.length > 1 %>
    <ul class="govuk-list govuk-list--bullet">
      <% @investigation.teams_with_access.each do |team| %>
        <li><%= team.name %></li>
      <% end %>
    </ul>
  <% elsif @investigation.teams_with_access.length == 1 %>
    <%= @investigation.teams_with_access.first.name %>
  <% else %>
    No teams added
  <% end %>
<% end %>

<%= govukSummaryList(
      classes: "govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions",
      rows: case_rows(@investigation, current_user, team_list_html)
) %>

<% if policy(@investigation).send_email_alert? %>
  <div class="opss-text-align-right opss-margin-bottom-1-desktop">
    <%= link_to "Create an email alert", about_investigation_alerts_path(@investigation), class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-16 opss-text-underline-offset" %>
  </div>
<% end %>

<h3 id="safety" class="govuk-heading-m govuk-!-margin-top-6 opss-float-left">
  Safety and compliance
</h3>
<% if policy(@investigation).update?(user: current_user) %>
  <a href="<%= edit_investigation_reported_reason_path(@investigation) %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6 opss-float-right">
    Edit<span class="govuk-visually-hidden"> the safety and compliance</span>
  </a>
<% end %>
<%= govukSummaryList(
  classes: "govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions",
  rows: safety_and_compliance_rows(@investigation)
) %>

<h3 id="product-info-1" class="govuk-heading-m govuk-!-margin-top-9">
  Case specific product information
</h3>

<% if @investigation.investigation_products.empty? %>
  <h4 class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1 opss-secondary-text">
    You can add this information after a product has been added to the case
  </h4>

  <%= govukSummaryList(
    classes: "govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions",
    rows: investigation_product_rows
  ) %>
<% else %>
  <% @investigation.investigation_products.each_with_index do |investigation_product, index| %>
    <h4 class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1 opss-secondary-text">
      <%= investigation_product.name %> (<%= investigation_product.product.paper_trail.version_at(investigation_product.investigation_closed_at).psd_ref(timestamp: investigation_product.investigation_closed_at.to_i, investigation_was_closed: investigation_product.investigation_closed_at.present?) %>)
    </h4>
    <%= govukSummaryList(
      classes: "govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions",
      rows: investigation_product_rows(investigation_product, current_user),
      attributes: {
        id: "product-#{index}"
      }
    ) %>
  <% end %>
<% end %>

<% if @investigation.complainant %>
  <section class="govuk-!-margin-top-9 opss-grouping">
    <h3 id="source" class="govuk-heading-m opss-grouping__heading-m">Case source</h3>
    <%= @investigation.source_details_summary_list(view_protected_details: policy(@investigation).view_protected_details?) %>
  </section>
<% end %>

<% unless policy(@investigation).update?(user: current_user) %>
  <p class="govuk-body-s govuk-!-margin-top-7 govuk-!-margin-bottom-2 opss-secondary-text opss-text-align-right">Only teams added to the case with editing rights can edit the case.</p>
<% end %>
