<%= page_title "Supporting information - #{@investigation.pretty_id}" %>

<% if policy(@investigation).update?(user: current_user) %>
  <p class="govuk-body">
    <%= link_to "Add supporting information", new_investigation_supporting_information_path(@investigation) %>
  </p>
  <hr class="govuk-section-break govuk-section-break--l">
<% end %>

<% if @supporting_information.any? %>
  <h2 class="govuk-heading-m">Documents</h2>
  <%= render partial: 'search_form' %>
  <table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <th class="govuk-table__header">Title</th>
      <th class="govuk-table__header">Type</th>
      <th class="govuk-table__header">Date of activity</th>
      <th class="govuk-table__header">Date added</th>
    </thead>
    <tbody class="govuk-table__body">
      <%= render partial: "supporting_information_row", collection: @supporting_information, locals: { investigation: @investigation } %>
    </tbody>
  </table>
<% end %>

<% if @supporting_information.none? && @other_supporting_information.none?  %>
  <p class="govuk-body">No supporting information</p>
<% elsif @other_supporting_information.any?  %>
  <h2 class="govuk-heading-m">Other files and attachments</h2>
  <p class="govuk-body govuk-hint govuk-!-margin-bottom-6"><%= t("case.protected_details", data_type: "these files") %></p>
  <%= render partial:    @investigation.generic_attachment_partial(current_user),
             collection: @other_supporting_information,
             as:         :document,
             locals:     { parent: @investigation }
  %>
<% end %>
