<%= page_title "Add location", errors: @location.errors.any? %>
<%= form_with(model: @location, url: business_locations_path(@business), local: true) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= govukErrorSummary form: form %>

      <span class="govuk-caption-l"><%= @business.pretty_description %></span>

      <h1 class="govuk-heading-l">Add location</h1>

      <%= render "form", form: form %>
    </div>
  </div>
<% end %>
