<% page_heading = "Confirm ownership change" %>
<%= page_title page_heading, errors: @investigation.errors.any? %>
<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.pretty_description.downcase}",
    href: investigation_path(@investigation)
  ) %>
<% end %>

<%= form_with(
      scope: :change_case_owner_form,
      model: @form,
      local: true,
      url: investigation_ownership_index_path(@investigation),
      method: :post
    ) do |form|
%>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= govukErrorSummary form: form %>
      <%= render "minimal_investigation_heading", investigation: @investigation, title: page_heading %>
      <p>
        You are changing the case owner to:
        <strong><%= @potential_owner.display_name(viewer: current_user) %></strong>
      </p>
      <div class="govuk-form-group">
        <%= govukTextarea(
          key: :owner_rationale,
          form: form,
          classes: "govuk-!-width-two-thirds",
          rows: "3",
          label: { text: "Message to new case owner (optional)" },
          attributes: { maxlength: 5000 }
        ) %>
      </div>
    </div>
  </div>
  <%= form.submit "Confirm change", class: "govuk-button" %>
  <p>
    <%= link_to "Cancel", investigation_path(@investigation), class: "govuk-link psd-block-link" %>
  </p>
<% end %>
