<%# Notification header partial %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= sanitize(@notification.user_title) %>
    </h1>
    <%= govuk_tag(text: "Submitted", colour: "green") %>
    <%= govuk_inset_text do %>
      <p class="govuk-body">For</p>
      <ul class="govuk-list">
      <% @notification.investigation_products.decorate.each do |investigation_product| %>
        <li class="govuk-body-l"><%= sanitize(investigation_product.product.name_with_brand) %></li>
      <% end %>
      </ul>
      <p class="govuk-body"><a href="<%= new_investigation_product_path(@notification) %>" class="govuk-link govuk-link--no-visited-state">Add another product</a></p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body-s">
      <strong>Notification number:</strong> <%= sanitize(@notification.pretty_id) %><br>
      <strong>Last updated:</strong> <%= date_or_recent_time_ago(@notification.updated_at) %><br>
      <strong>Created:</strong> <%= @notification.created_at.to_formatted_s(:govuk) %><br>
      <strong>Submitted date:</strong> <%= @notification.submitted_at? ? @notification.submitted_at.to_formatted_s(:govuk) : "Not provided" %><br>
      <strong>Created by:</strong> <%= sanitize(@notification.creator_user.name) %> (<%= sanitize(@notification.creator_team.name) %>)<br>
    </p>
  </div>
</div>
