<%= page_title "Remove image" %>
<% content_for :after_header do %>
  <%= link_to "Back", attachments_tab_path(@parent, @image_upload), class: "govuk-back-link" %>
<% end %>

<%= render "page_heading", title: "Remove image" %>

<%= render "image_uploads/image_preview", image: @image_upload, dimensions: [480, 320] %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Type</th>
          <td class="govuk-table__cell">
            <%= image_upload_pretty_type_description(@image_upload) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            URL
          </th>
          <td class="govuk-table__cell">
            <%= @image_upload.file_upload.filename %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= form_with url: associated_image_upload_path(@parent, @image_upload), builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :delete do |form| %>
  <% if params[:multiple] %>
    <%= form.hidden_field :multiple, value: true %>
    <% (params[:image_upload_id] || []).each do |image_upload_id| %>
      <%= form.hidden_field :image_upload_id[], value: image_upload_id %>
    <% end %>
  <% end %>
  <%= form.govuk_submit "Delete image", class: "govuk-button govuk-button--warning" %>
<% end %>
